[2015-09-26 01:37] larsks opened #1 "ENOSPC in file.go"
We talked about this, but because the question is in the source:

			} else if err == syscall.ENOSPC {
				// XXX: i sometimes see: no space left on device
				// XXX: why causes this to happen ?
				log.Printf("Strange file[%v] error: %+v\n", obj.Name, err.Error) // 0x408da0
				log.Fatal(err)
			} else {

The `ENOSPC` error happens when the system runs out of available inotify watches, a limit t

[2015-09-26 02:59] purpleidea commented on #1
@larsks Interesting, now at least I know what that error could mean... What's confuses me, is I never had anywhere *near* 8192 at a single time... Does this indicate a leak? In my code? In the lib? Or something else entirely...

[2015-09-26 12:03] larsks commented on #1
It could just indicate that your tool isn't the only consumer of inotify resources on the system.  Coincidentally, I asked about diagnosing this sort of thing a few years ago [here](http://unix.stackexchange.com/questions/15509/whos-consuming-my-inotify-resources) and some of the answers seem useful.

[2016-01-19 18:09] fujin commented on #1
Anecdotally we (@pantheon-systems) have found that inotify is generally unusable / to be avoided at any real scale (identified first in an unrelated golang on-access resident malware scanner) and switched our system to the new fanotify API instead. Especially worse is other non-controlled parts of the system making use of inotify as part of day to day operations are impacted by this global constra

[2016-01-19 18:10] fujin commented on #1
Oh.. sorry for the necro. :(

[2016-01-20 00:33] purpleidea commented on #1
@fujin This here is my favourite point:

I fully agree and hope to switch to fanotify in the future, however at the moment, just getting the basic plumbing right (and not scaling) is the priority. In fact, I actually didn't even implement the recursive directory watching yet because of precisely this issue, and the fact that (in agreement with you) fanotify would be a better solution.

Any chance

[2016-01-20 00:38] purpleidea commented on #1
PS: Not necro, just @larsks got in early when I first started writing the inotify part.

FWIW, I plan to cause the ENOSPC detection to trigger an error in the file type. The error will be usefully propagated upwards once I've added better error handling to mgmt! (shh, I didn't tell anyone it was missing yet...)

[2016-01-22 16:50] nwmcsween opened #2 "Declarative DSL"
Consider a DSL that is similar to make with explicitly set defaults to map to fqdn's (via import/whatever).
This way targets could be handled by an external program of some sort that 'schedules' hosts (e.g host with least latency to $someplace start http server).

[2016-01-31 05:48] h12w opened #3 "mgmt on Mesos?"
The [DAG picture](https://ttboj.files.wordpress.com/2016/01/graph1.png) shown on your blog looks very similar to a [Hadoop/Spark DAG](http://image.slidesharecdn.com/mapreducevsspark-150512052504-lva1-app6891/95/map-reduce-vs-spark-17-638.jpg?cb=1431408380). Will it be reasonable if mgmt becomes a framework running on [Mesos](http://mesos.apache.org/)?

[2016-01-31 10:14] purpleidea commented on #3
@h12w This is an interesting question that I do not currently have an answer for, partially because I am not an expert on mesos. If you are, or know of people who would like to discuss this, then I'm happy to participate when time allows.

One disclaimer, I personally don't have any time to devote to patching mgmt/mesos to work together, but I am happy to review and receive contributions from the

[2016-02-01 06:49] josephholsten commented on #2
I've been thinking about cfg mgmt in golang, and this DSL is where puppet & chef really shine.

One of their most useful accidents (not present in ansible, terraform) is the ability to create resource-providers entirely in the DSL out of other resources. I'm of the opinion that this lack is causing a lot of reuse pain in the Ansible Galaxy.

I'd love to help spike a plugin/DSL syntax using lua lik

[2016-02-01 08:05] purpleidea commented on #2
On Mon, Feb 1, 2016 at 1:49 AM, Joseph Anthony Pasquale Holsten <
notifications@github.com> wrote:

Can you be a bit more specific about what you mean here? Are you talking
about create_resources() ?

Great, I'd love to have you involved. I've actually *just* started looking
at lua as a possibility because of it's ease of embed-ability. Nothing
certain yet, but a few links that were discussed the

[2016-02-01 08:17] nwmcsween commented on #2
Puppet and chef both have bad DSL's in my opinion. A less constricting way to do this is write a DSL that allows you to shell out (such as make) and just focuses on the 'resolving' graphs, this has many benefits.

[2016-02-01 09:03] purpleidea commented on #2
On Mon, Feb 1, 2016 at 3:17 AM, Nathan <notifications@github.com> wrote:

Could you elaborate on this comment please? I really agree about the DSL
part, which I do think needs improving, but your comments about "resolving
graphs" isn't clear.

Thanks!

[2016-02-01 13:47] dalen commented on #2
I think this was in reference to the `define` keyword in Puppet which lets you create a new resource type without actually writing a type & provider.

[2016-02-01 13:54] purpleidea commented on #2
On Mon, Feb 1, 2016 at 8:47 AM, Erik Dalén <notifications@github.com> wrote:

If that is the correct interpretation, then it is absolutely a design
requirement for the DSL. The idea of composed "resources" is fundamental,
and while the user should be able to do it in modules, the only thing I
haven't completely figured out is how much of the useful secondary
resources and stdlib I will write in na

[2016-02-01 14:17] purpleidea commented on #2
Also, I realized that I have mentioned this in discussion, but maybe it's not clear in the blog post, but the current "yaml" definition files are merely placeholders for testing the engine before there is a proper DSL. It is absolutely temporary, and I can't wait to remove all of that parsing code.

[2016-02-02 13:51] igalic opened #4 "Ctrl+C doesn't quit mgmt"
[code]

[2016-02-02 13:57] igalic commented on #4
i think the problem here seems to be more with etcd than with mgmt to begin with

[2016-02-02 14:37] purpleidea commented on #4
@igalic three things:

1) you have to run etcd manually before you run the tool because the branch to embed it isn't ready yet :(
I usually mkdir /tmp/foo && etcd

2) ctrl C works for me:

[code]

3) The fact that we sleep for longer and longer times on etcd kind of sucks. I will probably be rewriting the etcd client code soon, but the problem was it wasn't clear how to detect when it's back up an

[2016-02-02 16:16] purpleidea commented on #4
@igalic I just sat with `krakan` from the channel. He had this issue too on debian unstable. I wonder what it's related to. Looks confirmed for now...

[2016-02-02 18:49] josephholsten commented on #2
Yep, this.

<3

[2016-02-02 20:06] josephholsten commented on #2
TL;DR: external process resource-providers require a trade-off between implementation complexity and smart dependency things

@nwmcsween I'd love to do everything by having external tools make the changes. But most unix tools aren't designed to act idempotently. More so, a single tool often doen't do everything required. For example, a mere `mkdir` or `cat` will not create files with a specified `

[2016-02-02 20:21] nwmcsween commented on #2
This is exactly the same as make, the onus is on the developer to make sure
there are no dependencies

On Tue, Feb 2, 2016, 12:08 PM Joseph Anthony Pasquale Holsten <
notifications@github.com> wrote:

[2016-02-03 12:58] igalic commented on #4
this makes it work
[code]

[2016-02-03 13:46] purpleidea commented on #4
@igalic that's a little suspicious...

[2016-02-03 14:05] igalic commented on #4
i just reverted to verify.
now i have another explanations: I rebooted my machine yesternight, because there was a kernel upgrade.

i like that even less… why is it that any non-trivial project i work on b0rks on kernel issues?

[2016-02-03 14:58] purpleidea commented on #4
hehe no idea. I'll close this for now, please ping if you can reproduce.

cheers

[2016-02-03 15:00] purpleidea commented on #3
@h12w I haven't heard anything, so I'm going to close this for now. If you want to discuss in the future, and want to write a patch, please ping me, or open a new issue. Thanks!

[2016-02-03 15:00] #3 closed

[2016-02-04 01:24] ffrank commented on #4
Please do re-open. I reproduced.

[code]

Output:
[code]

[2016-02-04 03:00] h12w commented on #3
OK, thanks.

I am not a Mesos expert, but after listening to an interview of [Ben Hindman](http://www.se-radio.net/2015/08/se-radio-episode-235-ben-hindman-on-apache-mesos/), I realized that all distributed systems can share a Mesos like kernel. No mather it is a cron job executor (Chronos), cluster manager (Aurora) or stream processer (Spark). So I guess a distributed configuration management too

[2016-02-05 09:13] purpleidea commented on #3
@h12w We'll have to revisit this in the future. Cheers!

[2016-02-05 21:49] ffrank commented on #4
:bell:

[2016-02-06 02:13] ffrank opened #8 "Allow mgmt to run from Puppet manifests"
Still on that, but no usable results yet. I had used my first PoC Ruby script to reproduce issue #4.

My initial approach of using the output of `puppet master --compile` cannot work. Not only does it not include actual dependency edges, it's also much too raw. I will blog about this with details.

What I will try to do instead is to rely on the agent side graph generating code, to let Puppet help

[2016-02-06 06:57] purpleidea commented on #8
@ffrank Awesome! Keep us updated. In parallel, if there are features you'll need sooner than others to accomplish this, please feel free to point this out. Conferencing is almost over so I'll be back hacking on new things shortly.

Cheers!

[2016-02-06 06:58] purpleidea commented on #4
Will try to look into this shortly as soon as I'm done my cold :(

[2016-02-08 08:15] mbobakov opened #10 "subscription_grouping feature"
Hello.
I would like to propose grouping mechanism for a exported-collected 'resources'.
In my opinion, it must be looks like 'subscriptions' for the mgmt-instance.
Each instance might be run with optional parameter '--subscription'.  If parameter is empty the subscription == 'default'
Each 'exported resource' from client comes to clients subscription(if other subscription(s) is not specified in re

[2016-02-08 10:50] purpleidea commented on #10
@mbobakov You'll have to explain a bit better what you're describing. I've already got a (not officially announced) "grouping" feature, so you might need to rename this, but if you'd like to explain more, I'd love to hear about it. Cheers!

[2016-02-09 10:48] mbobakov commented on #10
@purpleidea, Let's just take a look at the examples:
Simple basic:
We are having 3-nodes. Two are with 'apache' subscription and one with 'nagios'
'apache'-nodes start with '--subscription apache'
'nagios'-node starts with '--subscription nagios'

configurations(apache[1|2] in graphs you must read as 'apache1' for first instance and 'apache2' for second):

**apache**
[code]

**nagios**
[code]

**S

[2016-02-09 15:56] ffrank commented on #4
Get well soon! Just wanted to make sure this remain open and not fall off the plate.

[2016-02-10 19:16] purpleidea opened #11 "add base package resource"

[2016-02-10 19:17] purpleidea commented on #11
This is based on package kit, and currently blocked by: https://github.com/hughsie/PackageKit/issues/110 and https://github.com/hughsie/PackageKit/issues/109

[2016-02-11 00:31] purpleidea commented on #10
@mbobakov Thanks for writing this out, although I'm still a little unclear about what you're trying to accomplish. We don't want to have to start `mgmt` with any specific --flag to designate what kind of host it is.

If you'd like to join IRC, perhaps it's easier to explain there. More info is welcome.

[2016-02-11 11:29] igalic commented on #4
@ffrank what is the specific thing that triggers this?

[2016-02-12 19:51] purpleidea commented on #10
@mbobakov and I had a discussion on IRC (freenode: #mgmtconfig)

I think it's safe to close this for now. We can start a new issue in the future if it becomes more relevant to do so.

Cheers

[2016-02-12 19:51] #10 closed

[2016-02-12 19:54] purpleidea opened #12 "mgmt needs a systemd service file"
Make a systemd service file for mgmt. Create it in misc/ folder. Add it to RPM spec file. Submit as a patch :)

This should be a fairly straightforward patch for a beginner. Hence #mgmtlove tag.

[2016-02-12 20:03] purpleidea commented on #12
Your patch should also remove the mgmtlove entry in the TODO.md file.

Cheers :)

[2016-02-13 00:22] purpleidea commented on #11
Not blocking, because it's easy to workaround is: https://github.com/hughsie/PackageKit/issues/112

[2016-02-13 19:36] purpleidea commented on #4
These lines are a little suspicious! It's probably a legit bug, maybe something to do with inotify on an fd.
[code]

I've been busy fighting with packagekit to get a package resource in the meantime!

[2016-02-15 18:19] purpleidea opened #13 "file resource needs improvements"
The file resource can (currently) only set file contents for a single file. It can't make directories or do anything fancy yet. That's okay, because the remaining parts are left as an introductory patch for a new golang hacker. Here's the design, people working on this code are welcome to suggest alternatives:

All the work should probably happen in Apply() and StateOK():
https://github.com/purple

[2016-02-15 20:56] roidelapluie opened #14 "is etcd a dependency?"
If I am not mistaken, etcd should be a Require: of the spec file

[2016-02-15 21:01] purpleidea commented on #14
You are correct. At the moment it is required. In the future it will be built in to the binary, and not need to be in the spec file. Probably why I didn't put it. If you'd like it in now, please send the patch to add it.

I will close this for now. Cheers!

[2016-02-15 21:01] #14 closed

[2016-02-16 00:54] ffrank commented on #8
Made some progress towards extracting and using a RAL catalog. We may be going to have problems with resource containment. This is the manifest I use for RnD:
[code]
Behold its relationship graph:
[code]
I actually only want *one* edge in the resulting `mgmt` graph. But I probably cannot just go ahead and drop the containment edges, because those are what make more complex manifests work.

Will ne

[2016-02-16 04:40] purpleidea commented on #8
@ffrank Cool! Some comments:

* Wtf is puppet doing, eg here:

It depends on itself?

* As for containment, the concept of classes or functions "define"'s, is something that doesn't exist in the non-existant DSL, but basically just groups a set of resources and decides that the contained resources all receive the relationship requirement... There may be another possible scenario as well.

IOW, the

[2016-02-16 12:59] witlessbird commented on #13
Picking this up...

[2016-02-16 15:05] purpleidea commented on #13
@witlessbird Awesome! Please let me know if you have issues or questions, and your feelings about rebasing the two functions into one. I'm leaning fairly strongly towards doing that, although it shouldn't affect the file resource too much.

[2016-02-16 18:04] purpleidea opened #15 "create a timer resource"
We could have a timer resource in mgmt!

The idea would be to basically simulate some of the timer stuff I wrote in puppet, but more elegantly of course:
https://ttboj.wordpress.com/2012/11/14/setting-timed-events-in-puppet/

The timer resource could trigger after N seconds, and in addition could support different algorithms for incrementing, eg: linear, exponential, etc... so that you can trigger

[2016-02-16 20:40] ffrank commented on #8
I guess complex manifests are something to worry about later.

Puppet can and must express things like

    A{X, Y} -> Z

where A is a class that contains resources X and Y, both of which are dependencies of Z, and even

    A{X,Y} -> B{Z, W}

Ultimately, the normalization should yield `mgmt` edges

    X -> Z
    X -> W
    Y -> Z
    Y -> W

in the latter case, after normalizing the graph. (Inte

[2016-02-16 22:20] purpleidea commented on #8
@ffrank I completely agree with your analysis about how the flattening should work.

If you find out why puppet does that weird internal thing, let us know!

Let me know where to send the $beverages!

[2016-02-16 22:21] purpleidea commented on #8
@ffrank BTW, there is a "noop" resource already built-in to mgmt. It does nothing, of course, but you're welcome to use it if you find it useful.

[2016-02-18 00:21] ffrank commented on #8
First PoC is working!

1. Clone [my puppet repo](https://github.com/ffrank/puppet) or fetch the [mgmtgraph/poc1](https://github.com/ffrank/puppet/tree/mgmtgraph/poc1) branch into your existing clone of puppetlabs/puppet
2. `git checkout mgmtgraph/poc1` or the appropriate reference after fetching
3. run it like `bundle exec puppet mgmtgraph --manifest /path/to/standalone/manifest.pp >graph.yaml`

T

[2016-02-18 04:04] purpleidea commented on #8
@ffrank Oh, sweet. I haven't run this yet, but here are some comments!

I'll probably have package working soon too. Service works too, but has at least one obvious bug.

Are you asking about notify/subscribe? If so, the cool thing!! is that in mgmt, none of those are required! You can literally drop that information, because mgmt figures it out automatically, since it is event based anyways! It h

[2016-02-18 20:03] ffrank commented on #8
That all sounds great. And yes, once we have a somewhat stable interface, we can teach `mgmt` to use it directly.

The functionality should become a module because we will (or, really really should) never divorce its code from Puppet proper. But it's a pretty safe bet that it won't ever go mainline :) so - Forge module.

[2016-02-20 23:58] purpleidea commented on #13
I have an unmerged API change. Instead of StateOK and Apply, there is now:

The bool argument in: whether to apply or not (true means do the apply)
The bool return value: whether we were in the correct state or not.
If we aren't, then we obviously need to do the apply, assuming the bool is true.
If anything goes wrong anywhere, set error, although it should be much more common to error in the appl

[2016-02-21 07:56] purpleidea commented on #13
Yep, the new CheckApply API seems to work quite nicely so far. The reason why it's more elegant than two separate Check and Apply functions, is because for some resources, the whole "lead in" and "initialization" of the resource is shared between both functions, and in fact the output from the state checks can be used in the apply section. I realized this when wrapping package kit for the pkg reso

[2016-02-21 18:11] witlessbird commented on #13
Makes sense/sounds good. Bikeshed painting bit -- I wonder if "CheckAndApply" is a clearer name (not sure how golang-compliant it is :) ).

[2016-02-21 18:15] purpleidea commented on #13
On Sun, Feb 21, 2016 at 1:11 PM, Dmitri Dolguikh <notifications@github.com>
wrote:

I accept votes from people who write patches ;) I personally prefer the
shorter version, but anything is changeable. Cheers!

[2016-02-22 03:23] purpleidea commented on #13
@witlessbird et al. I've committed the API change in: https://github.com/purpleidea/mgmt/commit/58f41eddd9c06b183f889f15d7c97af81b0331cc

I'm pretty happy with the change. It's probably safe to rebase now :) I don't have any expected breakages planned at the moment!

Cheers!

[2016-02-22 18:12] purpleidea commented on #8
I guess @ffrank is being modest by not posting it, but he published a nice article on his progress here: https://ffrank.github.io/features/2016/02/18/from-catalog-to-mgmt/

[2016-02-22 20:09] alvagante commented on #8
Wonderful things, guys, congratulations!
Felix is opening worlds.

[2016-02-23 00:37] purpleidea commented on #11
This is now fixed in https://github.com/purpleidea/mgmt/commit/3b5678dd91945427b0fb8a86992c7d9117819ff6

This bug is still outstanding: https://github.com/hughsie/PackageKit/issues/110

[2016-03-09 17:51] igalic commented on #8
:purple_heart:

[2016-03-20 20:37] ffrank commented on #13
@witlessbird how's progress? I've been playing with the code and would poach this if that's alright.

[2016-03-20 20:44] witlessbird commented on #13
The thing that is remaining is watching of directories for changes. Wanna pick that up?

[2016-03-20 21:12] ffrank commented on #13
That looks good! Yep, I'll see about the watches.

[2016-03-20 21:40] purpleidea commented on #13
It's mostly just the recursive watching part which is missing. Here's one existing method that could be poached to do it: https://github.com/xyproto/recwatch

LMK if anyone needs more info.

[2016-03-20 21:42] purpleidea commented on #11
Two more issues related to autoedges are:

* https://github.com/hughsie/PackageKit/issues/118 (only affects debian users, but is important!)
* https://github.com/hughsie/PackageKit/issues/117 (only affects fedora users, but is helpful)

[2016-03-20 22:02] ffrank commented on #13
Humm, if I read that BSD license correctly, then no - we can't. Unless we keep it in a dedicated code file that is BSD licensed. Sounds annoying.

I *will* look for inspiration, though - thanks for the pointer.

[2016-03-20 22:04] purpleidea commented on #13
@ffrank what? not at all, it's definitely compatible.

[2016-03-20 22:11] witlessbird commented on #13
Yeah, I think it's an attribution license -- as long as we mention the author it should be fine.

[2016-03-20 23:21] ffrank commented on #13
Right - come to think of it, this does look like a subset of GPL.

[2016-03-27 23:25] ffrank commented on #4
I might have reproduced this by replacing a running `etcd` with a new process while `mgmt` was running. Graph was an example from the [current master](https://github.com/purpleidea/mgmt/blob/7f3ef5bf85b1ef4bd756c838375fdeefe8f87a79/examples/file1.yaml), featuring some `file` resources.

[code]

[2016-03-27 23:28] ffrank commented on #4
Heh, no wait - apparently you can currently reproduce by just running the graph linked above. `mgmt` was built with go `1.5.1`. The process also does not seem to react to file removals.

[2016-03-28 00:09] purpleidea commented on #4
@ffrank

You're saying this happens all by itself with file1.yaml ? Are you on OSX or Linux?

What does this mean?

[2016-03-28 00:19] ffrank opened #20 "File watches can become excessive?"
Currently tinkering with the inotify code, I have not yet grasped all that is going on. I am marveling at the inclusion of base directories, however. There is a [conspicuous comment](https://github.com/purpleidea/mgmt/blob/7f3ef5bf85b1ef4bd756c838375fdeefe8f87a79/file.go#L176-L178) that suggests that this can lead to unexpected behavior.

For example, running the [current file example](https://git

[2016-03-28 00:22] purpleidea opened #21 "implement noop functionality"
We should implement a no-operation (noop) flag which causes a resource to not run apply.

This should be available as a metaparam (and default to false) for per resource setting, and as a --noop flag, which would set all noop values to true.

Since this should be fairly straight forward, I will tag this is an [mgmtlove](https://github.com/purpleidea/mgmt/labels/mgmtlove) bug for new contributors.

[2016-03-28 00:27] purpleidea commented on #20
1) The Watch functionality for files is AFAIK "correct" for single files, but doesn't recurse into directories yet. This is a bug/missing feature of course.

2) The comment about unrelated events in https://github.com/purpleidea/mgmt/blob/7f3ef5bf85b1ef4bd756c838375fdeefe8f87a79/file.go#L176-L178 is due to a bug in the fsnotify project. It should be fixed upstream. It hasn't been a priority of min

[2016-03-28 00:44] ffrank commented on #20
It does, thanks! Still, I will think about what this means for managed files in the same directory...

[2016-03-28 00:55] purpleidea commented on #20
What do you mean?

[2016-03-28 00:55] purpleidea commented on #20
If you're asking if it matters if two different files are in the same directory, then pretend it doesn't matter, treat them as independent.

[2016-03-28 01:11] ffrank commented on #4
This is Linux. During my tests, I removed managed files (`/tmp/mgmt/f1`), and there would not even be a log message. The file was not recreated by `mgmt`.

I think this misbehavior was caused by `etcd`, which I had apparently maneuvered into an odd state.

I just tried to find out whether fresh `etcd` instances save me from this effect. They don't, **but** I can now only trigger the issue by
 1. l

[2016-03-28 01:14] purpleidea commented on #4
@ffrank There are a number of transition cases that are not well covered in the etcd code, so for that reason, if you do something strange with etcd, that's very believable. I'll be working heavily on the etcd code shortly, right after I push a major branch (maybe tonight?).

If it's not etcd related, I think it could be related to my comment in https://github.com/purpleidea/mgmt/issues/4#issuecom

[2016-03-28 01:14] purpleidea commented on #4
As an additional note, any "stuck" go routine will cause the Ctrl-C doesn't quit issue, so this might be multiple things.

[2016-03-28 23:24] ffrank commented on #13
When I realized that we can just `import` the recwatch module, I rejoiced. However, there's trouble. It relies on `github.com/fsnotify/fsnotify` rather than `github.com/go-fsnotify/fsnotify`. So it seems overly cumbersome to use it directly. (I just built using the former fsnotify, which does not seem to Just Work.)

So at this point we can either fork the `recwatch` repo or use some of the code i

[2016-03-28 23:26] purpleidea commented on #13
@ffrank My recommendation is to take/learn what you can from the recwatch code and copy+paste it in, probably with modification. I mentioned it as a POC if someone wanted to avoid having to figure out the recursive stuff themselves.

[2016-03-29 01:46] purpleidea commented on #13
@ffrank @witlessbird I just pushed a pretty big branch to git master. You'll want to run a rebase. Good news is, it probably won't affect much of your patches on this if any, because it was in unrelated parts of the code. Cheers!

[2016-03-31 23:48] ffrank commented on #20
I think there might be a regression that leads to parent directories not being removed from the fsnotify watcher once the watch is no longer needed there (after recreating the managed file).

Will investigate "soon", still busy with #13.

[2016-04-01 00:09] purpleidea commented on #20
@ffrank What leads you to believe this? It's very possible though. FWIW, that code is the _first_ mgmt code I wrote, so it's likely to be the worst, too :)

[2016-04-01 00:19] ffrank commented on #13
Hey @witlessbird, I pushed an initial PoC for watch code to https://github.com/ffrank/mgmt/tree/directory_support

I took the liberty to rebase to `0.0.3`. Want to give that a spin? The examples work great, but then there seems to be trouble re-converging state when the managed directory is partially in sync (e.g., after removing a subdirectory or contained file).

Also, there are some semantics i

[2016-04-01 06:33] cavaliercoder commented on #2
I'm a long time user of Puppet DSL and I've come to really hate the constraints it imposes. It is improving, but everything has to be reengineered (we finally have 'for' loops!). I prefer the idea of leveraging an existing language and providing an interface for declaring resources. Basically, like Chef does with Ruby.

Consider the proof that most Puppet modules implement Ruby code to augment the

[2016-04-01 08:37] purpleidea commented on #2
@cavaliercoder Good comments, here are some thoughts to help continue the discussion...

1) No matter what decision we end up with, someone will be unhappy. Since this is the case, I've instead tried to focus on what the *correct* thing is, and go from there.

2) There is a chance, that there will eventually be some sort of golang and/or c compatible API that you'll be able to use to build the gra

[2016-04-01 22:43] ffrank opened #23 "Tests (can) fail with Ruby 2.1.5"
The YAML format test works by making Ruby parse the YAML, then re-serialize the result. However, on my machine (Debian 8) the output of the YAML module is a little arbitrary. Observe:

[code]

Specifically, the strings in the example graphs are almost always represented in quoted form:

[code]

Seems to me that Ruby is not a safe way to run this test in this particular form. But then, I'm not even

[2016-04-01 23:16] purpleidea commented on #23
I have indeed noticed some non-determinism based on what version of ruby people are running. I also agree that there are more important kinds of tests to write. If your patches fail because of the ruby fmt test, comment it out, and if it fails on ci, then i'll comment it out in git master. Does that work?

[2016-04-01 23:17] purpleidea commented on #23
For some background, when I learned about gofmt I was on a bit of a kick and trying to add formatting tests for everything :P

[2016-04-04 20:37] ffrank commented on #13
So I've looked into the syncing issues. It turns out that `github.com/cf-guardian/guardian/kernel/fileutils` trips up badly when the destination directory is partially in sync. Just ran this a number of times, interspersed with removing a directory from target:

[code]

I feel that this routine is not quite adequate. Have you looked at https://github.com/Redundancy/go-sync ?

[2016-04-04 20:44] witlessbird commented on #13
I haven't, this was one of the first things I found. I'll take a look.

[2016-04-04 20:53] purpleidea commented on #13
@ffrank I don't think we need to depend on either the guardian or the go-sync modules. We should implement this using the golang stdlib alone.

[2016-04-04 21:27] ffrank commented on #13
I'm torn. Sure, it's nice to be self-contained, and I've been thinking about building this function. But then, it's tiresome to maintain this functionality. We're missing out on all the effort and bug fixing that has gone into existing modules. I also feel a bit silly reinventing wheels.

In the end, it's your call. I will say that we'll have a PoC sooner by (at least temporarily) sticking to a mo

[2016-04-04 21:29] witlessbird commented on #13
I needed a way to check for changes inside a dir, so I have a good chunk of dir copying functionality already...

[2016-04-04 21:29] purpleidea commented on #13
@ffrank If you can't convince me that there's some complicated piece that's needed and provided by a module, but I don't think this is so bad. The sort of thing we need is built in:

https://golang.org/pkg/path/filepath/#Walk

Looking at how a diff algorithm works will probably provide a better solution too.

[2016-04-05 21:49] witlessbird commented on #13
Pushed changes to File.CheckApply that handle directories (both empty and with contents) and support for creating of Directories, both empty and with contents. The latter still relies on guardian/guardian/kernel file copying though. Also, rebased. There are two additional examples graph0a.yml and graph0b.yml that demonstrate creation of directories.

[2016-04-05 22:32] ffrank commented on #13
Cool. I rebased to your's. Looks much better. No ugly error messages anymore. Still won't reliably sync up a partially existing destination tree though.

Mind if I take a crack at that?

[2016-04-05 22:41] witlessbird commented on #13
@ffrank: nah, go for it. You can do a PR against my branch if you'd like... I'll add tests for the new functionality in the meantime.

[2016-04-06 19:31] ffrank commented on #13
Oh one more thing - I just notice much if not all of your code is space-indented. Could you go back and convert those to tabs? I can do it if it's against your beliefs ;-)

[2016-04-06 20:08] purpleidea commented on #13
It will fail CI if it's not formatted in the official way. Golang has a standard formatting. You can get it to fix automatically for you if you run `gofmt -w <filename>`. You can also run `make format` to do this and other fixes automatically.

[2016-04-18 17:21] purpleidea opened #25 "implement a libvirt resource"
Here is some background: https://www.redhat.com/archives/libvir-list/2016-April/msg00169.html

This looks like one of the most promising libraries to use, but alternative suggestions are encouraged: https://github.com/rgbkrk/libvirt-go ("encouraged", because the amount of analysis I've done is minimal).

Let me know if you're interested. This is most definitely an intermediate level project, but s

[2016-04-26 02:43] #12 closed

[2016-04-27 14:20] nseps commented on #25
I'm working on this.

[2016-04-27 14:39] purpleidea commented on #25
@nseps Great! Let me know if you have any questions about the Res interface.

[2016-05-02 20:34] purpleidea commented on #25
@nseps told me to do an initial review of: https://github.com/nseps/mgmt/blob/virt_resource/ and I didn't know where to put it, so I'm doing it here...

1) https://github.com/nseps/mgmt/blob/virt_resource/virt.go#L67
Good question, do something like:

for now, and once our interface supports errors properly, we'll update this! This is my bad :) Also s/faild/failed/

2) You should format your code

[2016-05-03 20:02] mohae commented on #25
1) The example should include a format string since it is log.Fatalf().  I'd hope that, in the near future, there is some way to properly handle the error and/or propogate it back instead of just doing a log.Fatal.  IMO, that should only be done from `main()`

2) If you're a vim user vim-go, https://github.com/fatih/vim-go, plugin is the easiest way to ensure that your code is properly formatted.

[2016-05-04 02:50] purpleidea commented on #25
@mohae

Completely agreed. As I mentioned this is just because I haven't worked out the error interface yet. It will depend on one more mechanic which I'm working on now.

Sorry, what I meant was that suppose two events from libvirt happen very quickly before we're able to process them by running CheckApply(). The Watch() method could skip sending sending the second, third, etc, event if it knows

[2016-05-04 14:27] nseps commented on #25
@purpleidea

1,2,3,5) Got it!

4) 10 was just an arbitrary number. Thanks for the explanation. I have nearly zero experience with channels. I think size 1 channel will work. My question is do we discard subsequent events and only send the first or do we discard everything and send the last? For example, if the domain is stopped and we start(create) it, libvirt will send resumed_event and then star

[2016-05-04 19:12] mohae commented on #25
Checking the len of a channel is still racy and should not be relied upon as things operating where race conditions may occur cannot be deemed either reliable or safe.  Either the consumer of the channel should be handling this, assuming a single consumer, or a mechanism other than channels should be used, especially when there are multiple consumers.

[2016-05-05 06:07] purpleidea opened #28 "create a network resource"
Managing a network interface is a fundamental part of managing any system. We should provide a native interface to do so. Some ideas:

* It might be worth basing this on systemd-networkd. (It looks like a safe, stable base!)
* Since mgmt works in a decentralized manner, so transient network "blips" shouldn't disrupt it.
* During CheckApply() if we don't transition to an acceptable state, we could

[2016-05-06 06:02] purpleidea opened #29 "pkg resource should support disabling autostart on included services"
For some reason, debian/ubuntu style systems automatically start daemons after their package is installed. redhat style systems do not. We believe waiting is the sane approach, because it give you the chance to configure your service before it gets exposed to the wild, and also helps avoid other issues such as the mysql problem. [1]

Starting and stopping services is our job as configuration manag

[2016-05-06 06:02] purpleidea commented on #29
NOTE: an older article about this issue appeared here: https://major.io/2014/06/26/install-debian-packages-without-starting-daemons/

[2016-05-06 18:47] mohae commented on #29
The @joejulian suggestion seems to be what is not wanted, or am I misunderstanding this issue?

For consistency, I would expect that mgmt does not want any service started after package install; instead leaving it entirely under mgmt's control.

[2016-05-06 18:48] mohae commented on #29
I should really think more before clicking on comment.

It seems that the `policy-rc.d` method is what is desired.  Am I incorrect?

[2016-05-06 18:53] joejulian commented on #29
If `/usr/sbin/policy-rc.d` returns 101, do not start the service.
If `/usr/sbin/policy-rc.d` returns 104, do start the service.

I _think_ that what @purpleidea was suggesting was using my comment as a way to provide the option to allow that legacy behavior for the insane people that think they want it. :stuck_out_tongue_winking_eye:.

[2016-05-06 18:55] purpleidea commented on #29
I think we're all on the same page :) Who wants to implement this? It should be another fun one! Let mgmt work around the broken ness of auto starting the service before you've configured it!

[2016-05-06 18:57] joejulian commented on #29
btw... arch, gentoo, coreos are also on that list of distros that do it right. AFAICT the *only* distros that start unconfigured services are debian based.

[2016-05-06 18:59] joejulian commented on #29
Sorry, @purpleidea, I'm not ready to start learning go today.

[2016-05-06 19:01] mohae commented on #29
I have a package that parses release /etc/os-release that can be used to for os type detection: https://github.com/mohae/joefriday/blob/master/platform/release

Warning, I've only tested it on Debian.  I guess I should spin up a CentOS box and run the tests there.  don't know about the other distros, but if only care about Debian based systems, it shouldn't matter.

I'll take a look...but will pro

[2016-05-13 12:04] tuxmea opened #31 "filter managed attributes"
There are use cases where one does not want to manage all attributes.
e.g. create a file in case that it is missing, manage user and mode but don't change the content when the file is there.
This could be achieved by filtering attributes on resource level making "mask" a new meta parameter.
In discussion with @purpleidea

[2016-05-13 12:08] purpleidea commented on #31
Technical note: the idea would be to have either a resource specific parameter, or a metaparameter, which takes a mask of resource specifications to skip when doing CheckApply. For example: we add a file if it's missing, but not if the content is wrong. So IOW, Mask=>FileContent...

[2016-05-13 15:42] purpleidea commented on #21
Talking with @tuxmea we've agreed that:

1) There's a metaparam for noop (per resource)
2) There's a global --noop
3) Setting the global --noop, works by setting the individual noop metaparam per resource
4) Setting the global --noop disables the "export" (to etcd) operation
5) Setting the global --noop does NOT disable the "collect" (from etcd) but *does* set the noop metaparam on everything coll

[2016-05-13 16:04] purpleidea commented on #21
Additionally, when we add the --noop flag, we want resources to Compare() as identical to existing resources that don't have it, because their state is fine, and we don't need to regenerate them in the differential graph compile.

If we have a resource that IS noop, and the new version doesn't have it, then we DO want to re-build it, because it won't necessarily be in the correct state.

[2016-05-14 15:28] tuxmea opened #33 "File resource on OS X fails"
When managing a file which is not yet available:
- on Linux watcher.Add(current) returns no Error.
- on OS X it returns (*os.PathError)

https://github.com/purpleidea/mgmt/blob/master/file.go#L142

[2016-05-14 15:41] tuxmea opened #34 "DEPRECATED Action signature"
mgmt finishes with the following deprecation warning:
DEPRECATED Action signature.  Must be `cli.ActionFunc`.  This is an error in the application.  Please contact the distributor of this application if this is not you.  See https://github.com/codegangsta/cli/blob/master/CHANGELOG.md#deprecated-cli-app-action-signature

[2016-05-14 16:15] purpleidea commented on #33
Assign -> @tuxmea ? ;)

[2016-05-14 16:18] purpleidea commented on #34
@tuxmea Cool, didn't know this... I probably haven't updated my cli lib lately.

[2016-05-14 16:49] tuxmea commented on #33
reported upstream: https://github.com/fsnotify/fsnotify/issues/144

[2016-05-14 18:41] purpleidea commented on #8
After a nice mini hackaton with @ffrank today, we decided it might be nice to build in a --puppet option into mgmt, which will run his code automatically, and pass it in. It will take care of running it every $puppet::runinterval by looking up ( `puppet config print runinterval` or similar ) that value first.

--puppet could take one of:
* local manifest, eg: somefile.pp (if it ends in .pp)
* serv

[2016-05-14 20:34] purpleidea commented on #34
Thanks for the report. Fixed in git master.

[2016-05-14 20:34] #34 closed

[2016-05-14 20:35] purpleidea commented on #33
I think just matching the different error would be fine... I don't know enough about OSX to know if it's a bug.

[2016-05-18 00:51] ffrank opened #42 "What is it with deltaDepth...I mean seriously"
;-)

I've stumbled multiple times reading this. It's 3AM now, so this might not be the best time to finally bring this up, but I'm almost certain something is wrong here.

Consider [these four lines](https://github.com/purpleidea/mgmt/blob/6bbce039aa6ac7b1fa9ea617663e7ad6b5a5cffa/file.go#L175-L179). To put it into words: if the path that raised an event has the currently focused path as a prefix,

[2016-05-18 12:17] purpleidea commented on #42
From here: https://github.com/purpleidea/mgmt/blob/6bbce039aa6ac7b1fa9ea617663e7ad6b5a5cffa/file.go#L169

This means, IOW, it's the difference between where our current watch is, and what the event is. It probably has limited (but important usefulness) in the current implementation, but I fully expected it to be quite crucial when writing the recursive extension to this.

[2016-05-18 12:17] #42 closed

[2016-05-18 12:33] ffrank commented on #42
Removed some late-night cruft from the original post.

Could you look at the piece of logic I linked? It looks broken to me.

[2016-05-18 12:36] purpleidea commented on #42
@ffrank I looked at it, and I don't think it's broken. Look at it this way, I've used this code extensively, and it seems to work perfectly...

[2016-05-18 12:37] purpleidea commented on #42
Alternatively, feel free to rewrite whatever you want, whether or not it works and then gets merged is a different question.

[2016-05-18 13:04] ffrank commented on #42
Any help would be appreciated. Have you ever observed a positive deltaDepth value?

I've been struggling last night to come up with proper behavior wrt. watched subdirectory trees. Confused by the maths. It might well be that some code paths are currently unreachable (and unnecessary), but we may need them once watches descend into subdirectories. Any extra insight will go a long way.

[2016-05-18 13:16] purpleidea commented on #42
On Wed, May 18, 2016 at 9:04 AM, Felix Frank <notifications@github.com>
wrote:

Right now, the event will always happen at the "current" directory or
HIGHER. (deltadepth) Once we have recursive directories, the event could
also happen INSIDE that directory. (deltadepth of opposite sign)

[2016-05-20 23:18] purpleidea commented on #13
As pointed out by @ffrank What if we have two File resources (including dirs) where one is nested inside the other? In particular when the nested member is either a file or another directory. Similarly, the same question could apply if a nested directory itself contains another nested file or directory...

Well, after some consideration I think the answer should be as follows:

We limit the CheckA

[2016-05-21 00:16] purpleidea commented on #21
I think this is now fixed in https://github.com/purpleidea/mgmt/commit/9f56e4a582473840418794c2f916f4e22cbf4213

w00t.

[2016-05-21 00:16] #21 closed

[2016-05-23 23:28] ffrank commented on #8
After some experimentation, I find the "empty string" syntax unpleasant. It seems unnatural to expect the user to supply `--puppet ""` instead of plain `--puppet`. (The latter is not supported by the `flag` package.)

Instead, I propose that it will feel much more natural to use `--puppet agent`. I don't think this is a valid one-line manifest, and we don't plan to support manifest files that don'

[2016-05-23 23:32] jumanjiman commented on #8
what are the semantics of `--puppet agent`?
Does it mean to hand off to the real puppet agent that may or may not exist on the host?

[2016-05-23 23:47] ffrank commented on #8
Because of implementation details, the Puppet integration will in fact *require* the Puppet Ruby codebase to be available on the system running `mgmt`.

Behind the scenes, `mgmt` will invoke the equivalent of `puppet catalog find` rather than `puppet agent --test`. That "agenting" itself is done by `mgmt`. Blog post forthcoming ;)

[2016-05-23 23:50] purpleidea commented on #8
On Mon, May 23, 2016 at 7:28 PM, Felix Frank <notifications@github.com>
wrote:

I'm fine with this, however wouldn't specifying --puppet be enough, or does
this throw an error?

Cheers,
James

[2016-05-23 23:52] jumanjiman commented on #8
ok, that makes some sense.

pardon my persistence.

is the idea to...

* fetch the catalog from a master, then
* convert the catalog to `mgmt` graph, then
* apply the catalog via `mgmt`?

if so, that makes a lot of sense to me as a long-time puppet user

[2016-05-23 23:53] jumanjiman commented on #8
`s/fetch the catalog from a master/fetch the catalog from a master using native puppet agent/`

[2016-05-23 23:57] ffrank commented on #8
You can edit your earlier post ;)

And yes to all points. The code that fetches the catalog is the same that `puppet agent` uses.

@purpleidea: Not supplying any string argument does in fact cause an error to be raised, yes.

[2016-05-24 00:04] jumanjiman commented on #8
excellent, tyvm!

[2016-05-24 00:07] jumanjiman commented on #8
done!

[2016-05-31 23:41] #8 closed

[2016-06-01 00:53] purpleidea commented on #8
This is auto closed. woo! If anyone wants to write a docs patch, have at it!

[2016-06-01 10:24] ffrank commented on #8
Yeah, it'll need to be sort of substantial and cover basic setup for puppet and the required module.

[2016-06-23 18:32] sharadgana commented on #15
I would like to take a shot at this . Is this a good issue to start working on without knowing all of the mgmt internals ?

[2016-06-24 03:31] purpleidea commented on #15
Hi @sharadgana please do! You only need to learn how to implement the basic resource API, which is quite straight forward. Have a look at pkg.go for the basic layout of a more complex resource, or noop.go for the most basic one. Please ping me if you have any questions, and feel free to join us in #mgmtconfig on Freenode IRC too.

[2016-07-05 09:48] jerith opened #51 "Build doesn't check for old golang"
I tried to build `mgmt` using the default golang in debian jessie, which I later realised is 1.3.3. It would be helpful for the build scripts to check the golang version and exit with a useful message if it's too old.

[2016-07-05 10:45] purpleidea commented on #51
+1

[2016-07-05 12:14] purpleidea commented on #51
Should I leave this patch to you?

[2016-07-05 12:27] jerith commented on #51
Sure. I'll poke around when I have some time.

[2016-07-07 06:15] vincentbernat commented on #2
LISP could be a candidate. It's easy to implement, it's easy to parse, it's supported out of the box by any editor. It's easy to make it look like a custom DSL while still being extensible. It's easy to keep it functional. The only downside is that some people don't like parentheses position.

For example, if I take on of your example:

[code]

Some parentheses could be removed for example:

[code

[2016-07-07 09:14] #51 closed

[2016-07-07 09:52] purpleidea commented on #2
@vincentbernat Thanks for your input!

One probably requirement of the DSL will include the ability to make it reactive, and also to have the compiler/lexer written in golang. Do you know if either of these already exist in lisp?

Having said that, I did consider lisp, but I'm not sure if it would be a good choice for mainstream users. Readability is an important property. Having said that, there'

[2016-07-07 10:05] vincentbernat commented on #2
For a more readable variant, you can look at Clojure syntax which have lists `[]` and maps `{}`. Not using parentheses everywhere make it more readable to some users. Note that the main advantage of LISP is that you get both the programming language stuff and the DSL feel. It's difficult to have that in non-homocoinicitic languages.

What you don't want is to transform YAML into a programming lang

[2016-07-07 12:07] purpleidea commented on #2
On Thu, Jul 7, 2016 at 6:05 AM, Vincent Bernat <notifications@github.com>
wrote:

Same uncertainty on how reactive aspects would fit in.

Agreed!

Thanks again for the idea! If you'd like to get more involved with patch
writing but need some help getting going and learning about some internals,
LMK :)

[2016-07-07 12:21] vincentbernat commented on #2
Unfortunately, I don't have time at the moment. Writing random comments in GitHub issue is easier than proposing patches. :)

BTW, as an example of LISP as DSL, there is Riemann (http://riemann.io/, but it's written in Clojure, so, more natural choice).

[2016-07-07 14:16] nwmcsween commented on #2
A full blown language would kill the idea of build system like DAG, it
would also bloat and complicate it immensely. My opinion is if you want
extras you simply shell out.

On Thu, Jul 7, 2016, 5:21 AM Vincent Bernat <notifications@github.com>
wrote:

[2016-07-12 13:12] dnaeon commented on #2
Hi,

Just found your project, looks nice! :)

I'm also working on a similar project, where I've just recently implemented a DSL based on Lua. You might want to look at it in case you decide to go with Lua.

The project I'm working on is located at dnaeon/gru

[2016-07-12 15:19] purpleidea commented on #2
@dnaeon Funny enough someone send me a pointer to your project just the other day, although I haven't had a chance to dig into the code yet, sorry.

I did look into using Lua, but for some design reasons unfortunately I don't think it would be a good choice, mainly because of a lack of safety constraints available in the language that we would require. The fact that you mention using it as a DSL,

[2016-07-12 16:48] dnaeon commented on #2
Hey James,

I'll check out the video and article, thanks for the links!

This week I'm traveling most of the time, but once I get back from my vacation I'll ping you in IRC.

Best regards,
Marin

[2016-07-13 18:27] purpleidea commented on #2
@dnaeon Sounds good. - Enjoy your vacation!

Cheers,
James

[2016-07-17 18:04] #15 closed

[2016-07-17 18:05] purpleidea commented on #15
If someone wants to add additional algorithms to this resource, or implement automatic grouping, please do! I'm not sure the later is really necessary, but I'm happy to merge it if it would be good practice for someone or if someone thinks of a good use case.

[2016-07-17 23:45] ffrank opened #55 "Cannot build latest master"
Using `go1.5.4`, this is what I'm getting:

[code]

[2016-07-18 00:31] purpleidea commented on #55
@ffrank Does https://github.com/purpleidea/mgmt/pull/56 fix your issue? Git master is broken on 1.6.x but not on 1.5.x for me. Vendoring sucks :(

[2016-07-20 07:15] purpleidea commented on #55
@ffrank Build is officially not broken anymore on travis. If it's broken for you, probably something is wrong/old in your $GOPATH.

Having said all this, figuring out how this godep nonsense works is turning out to be a pain. This is surely related to why golang 1.6 builds aren't working. If someone wants to work on that, please LMK.

[2016-07-20 07:15] #55 closed

[2016-07-20 07:16] purpleidea commented on #55
Note: I'm going to try and port the code to the "embed" code, so maybe after that's working it will get easier dep wise. https://godoc.org/github.com/coreos/etcd/embed

[2016-07-21 12:15] ffrank commented on #55
Well I did also try a fresh GOPATH, but ran into the issues addressed in #56. Tiring.

[2016-07-26 01:48] purpleidea commented on #55
@ffrank I have moved to the new embed etcd code. If you still have this issue please let me know, or create another or ping me in IRC. Thanks!

[2016-07-26 06:31] purpleidea commented on #25
@nseps ping... Any chance you've made some progress on this, or would at least like to get what parts you do have merged so others can continue?

[2016-07-27 17:21] neilhwatson commented on #2
Jumping in here and I hope I get the context right. If you're going to invent a DSL for mgmt please consider publishing it as an open standard. There are so many OS config management tools and each has its own language, leading to lock-in. An open standard for future tools to use would be a great thing.

[2016-07-27 19:04] purpleidea commented on #2
@neilhwatson I personally have no objections to this, there's nothing proprietary about what we're building. The first step though is to get the code written so we have a minimally viable project. Can you help with some patches ?

[2016-07-27 22:21] ffrank commented on #55
Hmm, ran into another issue after today's `pull` that required me to `rm *_stringer.go`.

This used to be covered by `make clean`, but not anymore since 2a0a69c. What's the reasoning here?

[2016-07-28 00:01] purpleidea commented on #55
On Wed, Jul 27, 2016 at 6:21 PM, Felix Frank <notifications@github.com>
wrote:

Good question! The go generate command is broken in terms of some vendoring
stuff, or at least behaved strangely, so i just stopped including the
stringing. It works without it. If you want the strings, just run it.

[2016-08-22 04:20] shawncatz commented on #2
Hashicorp Config Language?
I'm guessing it's been considered, but I didn't see it in this conversation (some did mention terraform, but not HCL)... Already implemented in go. Becoming well known. Much of the graph/dependency resolution might be borrowed from existing tools like Terraform.

I'm really interested in being involved in next-gen config management. As much as I love Chef, and others, th

[2016-08-22 05:22] josephholsten commented on #2
@shawncatz I'd be interested in what you find lacking in the chef or puppet ecosystems. I've noticed a much higher amount of modular code and code reuse in those ecosystems than in ansible, terraform and salt.

I think one of the reasons is first class resource types. It requires a complete redesign and rewrite to convert an implementation from ansible task into ansible module, or terraform module

[2016-08-22 14:22] purpleidea commented on #2
@shawncatz How can we help you get more involved? (Feel free to discuss this on IRC with us in #mgmtconfig on Freenode)

@josephholsten and @shawncatz I looked briefly at HCL, and unfortunately I think it lacks some of the features we need, since it's much closer to a yaml than a full DSL. Thanks for the idea though!

[2016-08-22 15:46] josephholsten commented on #2
If we were looking for a fancy JSON/YAML/TOML alternative, https://github.com/vstakhov/libucl was the inspiration for HCL, and much nicer IM(NS)HO.

I'm mostly in favor of Lua as a golang encore nation language, but if we want a LISP, guile is quite nice.

[2016-08-22 22:47] purpleidea commented on #4
I'm going to close this, since I think things are working well.

[2016-08-22 22:47] #4 closed

[2016-08-30 20:58] joejulian opened #58 "make fails to find the version or sversion if not built from a git clone"
When build from the tarball:
    make build VERSION=0.0.3 SVERSION=0.0.3 PROGRAM=mgmt
make fails to set the version and sversion in the Makefile because the `:=` operation fails to assign the variable since the `$(shell ...)` command errors.

[2016-08-30 21:47] purpleidea commented on #58
I guess this is closed now.

[2016-08-30 21:47] #58 closed

[2016-08-31 16:16] joejulian opened #60 "help does not show a list of commands"
According to the help text:

[code]

So my expectation is that `mgmt help` will show me a list of commands. Instead it shows the exact same help text.

mgmt version 0.0.3

[2016-08-31 16:19] joejulian commented on #60
Oh, wait.. is "run" the only other command? Maybe it is working as intended after all.

[2016-08-31 17:23] purpleidea commented on #60
@joejulian Yeah, run is the only command for now. We'll eventually have other utility commands in the future I expect. You can do `mgmt run --help` to get what you're looking for.

[2016-08-31 17:23] #60 closed

[2016-09-04 02:58] rata opened #61 "[feat] Clean up on resource removal"
Hi,

I was wondering if this solves some of the problems that chef doesn't.

For example, let's say I configure this to install package A and make sure that is run in one node. Then, let's say I remove that part of the "recipe" and just install package B (or just use a whole new "recipe" and stop using the other) and _then_ run it again. Will A still be there?

Or, is it possible (like with chef)

[2016-09-04 16:24] rata commented on #61
@purpleidea thanks a lot! For the info and the welcoming attitude :)

I'm not sure there is a reasonable way to make something deterministic/reproducible, and somewhat "immutable", by just mutating things and when these things are complex and with side effects (like creating a file, checking with an external service and upon it's response do X or Y on the node, doing service discovery, etc.). Prob

[2016-09-04 20:46] purpleidea commented on #61
On Sun, Sep 4, 2016 at 12:24 PM, rata <notifications@github.com> wrote:

My pleasure!

Good luck with that!

I think there is more than one problem.

I think container technology is important, but it's a mistake to think
they're a replacement or in the same space as config management. Let's
keep this bug open for the legitimate feature request you made. If
you'd like to chat more, please just us i

[2016-09-04 22:21] rata commented on #61
On Sun, Sep 04, 2016 at 01:46:54PM -0700, James wrote:

I'm not saying it is a replacement. Just that it is not such an interesting
problem anymore, as a side effect :)

Sure, it's a legimite bug! I've just joined on IRC. Thanks a lot!

[2016-09-05 20:20] purpleidea commented on #61
@rata Here's a good quote I like: https://twitter.com/purpleidea/status/772891832011284480

[2016-09-05 22:07] rata commented on #61
@purpleidea sure, but it doesn't apply to what I've said :-)

[2016-09-05 22:14] purpleidea commented on #61
@rata RE:

?

[2016-09-05 22:17] rata commented on #61
On Mon, Sep 05, 2016 at 03:14:46PM -0700, James wrote:

I think they have a better chance because of tools like kubernetes, with
configmaps, and they are reproducible from scratch always (as you need to always
create a new container, not modify an existing one).

[2016-09-12 08:35] purpleidea commented on #20
This code path has been updated substantially since this was reported. I will close this for now, but if you still experience issues, please ping here or open a new issue. Thank you!

[2016-09-12 08:35] #20 closed

[2016-09-12 08:49] purpleidea opened #64 "file resource needs improvements"
These are the remaining non-obvious issues with the File resource after closing https://github.com/purpleidea/mgmt/issues/13 and after https://github.com/purpleidea/mgmt/commit/598c74657c1488a79795daa48def4003ffa58f82

### 1) Should this API still be used?

$content - for directories, this is the path to an existing directory, the structure/contents of which we'll want to copy in
$content - for di

[2016-09-12 08:49] purpleidea commented on #13
Closing this in favour of https://github.com/purpleidea/mgmt/issues/64

[2016-09-12 08:49] #13 closed

[2016-09-18 00:59] mikefaille commented on #28
Maybe, we can simply build plugin system as Docker's plugins or Ansible module. The goal is to provide way to implement many solutions.

At least, we can enforce common api for all systems. And, network management solutions can exist in many ways like :
- systemd-networkd
- network-manager (used for desktop)
- systems without network manager activated for one specific interface. In this case, we c

[2016-09-18 01:06] mikefaille commented on #25
Just in case, it exist one popular libs to manage libvirt in go. This libs is used by docker-machine-driver-kvm : https://github.com/rgbkrk/libvirt-go.
@mohae If you have time to check, it could help your work to integrate libvirt to mgmt.

[2016-09-18 01:19] purpleidea commented on #25
@mikefaille The original version of this patch is already using this lib. It's not @mohae who did this work but @nseps.

@mikefaille If you'd like to work on this patch, let us know.

[2016-09-18 01:25] purpleidea commented on #28
@mikefaille I don't think we need a plugin system, at least not until we have more core base resources.

Indeed this is mentioned in the original description.

Does this code support the interfaces to generating events when something changes? I expect it will be best to wrap networkd for now.

These issue tickets are open to attract someone to want to work on the code. Since you're commenting, are

[2016-09-22 21:05] purpleidea opened #70 "implement a systemd-nspawn resource"
title says it all. help wanted :)

[2016-09-22 21:06] purpleidea opened #71 "implement a systemd-timers resource ("cron")"
We should probably call this cron, because we already have a "timer" resource, but we could rename that one if someone has a suggestion.

[2016-09-22 21:07] kshred commented on #25
I'm interested in having a look at this.

[2016-09-22 21:08] purpleidea opened #72 "implement an http resource"
We should have an http resource. Different names welcome. It should probably support long-polling to watch.

@purpleidea note: is the send/recv data passing between resources design something valuable for this?

[2016-09-22 21:09] BinaryTiger commented on #71
On it. Maybe "chrono" or "ticker" could do the job for the already existing Timer resource.

[2016-09-28 10:04] WangWenchao opened #75 "run pkg resource file get the error 'Can't run PackagesToPackageIDs: Resolve error'"
on my CentOS 6.8 , my pkg resource file
[code]

and run ``` ./mgmt run --file examples/pkg1.yaml ```
get the error
[code]

[2016-09-28 10:08] purpleidea commented on #75
@WangWenchao You need to have packagekit installed for packagekit to work.

[2016-09-28 10:09] purpleidea commented on #75
I'm actually surprised this isn't present on your CentOS system, perhaps you did a minimal install?

[2016-09-28 10:13] WangWenchao commented on #75
sorry ，As  I test Mgmt from vagrant VM on Mac ，after I met the same problem when met the problem https://github.com/purpleidea/mgmt/issues/33  then I test on vagrant VM

[2016-09-28 10:18] #75 closed

[2016-09-28 13:33] purpleidea commented on #75
@WangWenchao Did installing it fix your problem? LMK if you have more questions. We also have an IRC channel on Freenode called #mgmtconfig

Cheers!

[2016-09-28 22:02] ffrank commented on #72
FWIW, **without** data passing, this could really only store HTTP responses to files. In this case, it would probably be awkward that this is an alternative way to manage files.

[2016-09-28 22:10] purpleidea commented on #72
On Wed, Sep 28, 2016 at 6:02 PM, Felix Frank <notifications@github.com> wrote:

Without data passing it could still take a file path and store the
output there... Not saying I necessarily prefer that, just being open
to different ideas.

[2016-09-28 22:22] ffrank opened #76 "Regression: deadlock in file handling"
`mgmt` can get stuck managing a file resource.

How to reproduce:

1. Run the file1 example

        mkdir /tmp/mgmt
        mgmt run --tmp-prefix --file examples/file1.yaml

2. Remove `/tmp/mgmt/f3`

3. Try and `Ctrl-C` out of `mgmt`.

It does work if all files existed anyway. In this case, removing `f3` twice in a row will cause the lock-up. (Or something along those lines.)

[code]

[2016-09-28 22:32] purpleidea commented on #76
I did indeed think this got fixed with: https://github.com/purpleidea/mgmt/commit/654b3e9dbe62c18d8bdcc0e4ee6855396da37986

Maybe I was wrong. It was indeed a serious issue, but I am convinced it's due to the fsnotify lib.

@ffrank Do you feel like doing a git bisect on the fsnotify lib, skipping commits that don't compile? If not I can do this after some of the conference meetings die down.

[2016-09-28 22:55] ffrank commented on #76
I'll try some older `fsnotify` versions, sure.

[2016-09-28 23:07] fxleblanc commented on #70
# D-Bus API
In order to manage containers in the context of a resource, we could communicate using the D-Bus API provide by systemd-machined. I found some documentation in the machinectl source code that shows examples in C.
https://github.com/systemd/systemd/blob/bc3bb330b8543a31d4a1f488cb782b6ff3519d6a/src/machine/machinectl.c
# Other links
https://www.freedesktop.org/wiki/Software/systemd/machi

[2016-09-28 23:14] ffrank commented on #76
Current vendor version is `1.2.1`. I reproduce the issue with `1.2.0`.

`1.1.x` does not seem to work at all. I get these errors:
[code]

I'll do some digging in our (downstream) history now, see if I can find a point at which it still worked.

[2016-09-28 23:35] ffrank commented on #76
Success! The `0.0.4` release version still works. Here's the bisect result:
[code]
If I feel like it tomorrow (and if you aren't faster), I may just try and find the issue.

[2016-09-29 07:00] purpleidea commented on #76
@ffrank Hmmm Really?
I actually meant bisect based on fsnotify, but I'll look at that too.
It is both things?

[2016-09-29 11:19] ffrank commented on #76
My previous comment indicates the point of breakage, which is definitely within `mgmt`. Sorry man.

The [comment before that](https://github.com/purpleidea/mgmt/issues/76#issuecomment-250328744) describes why bisecting `fsnotify` is not an option: There is no older version of it that makes `mgmt` work (which makes sense, as the error appeared in `mgmt`). I did not check if *newer* `fsnotify` versi

[2016-09-29 11:23] purpleidea commented on #76
Sorry is not needed. If I broke it, I'll fix it :)
Will hack on this later!

[2016-09-30 08:58] purpleidea commented on #70
LGTM... @fxleblanc Are you working on this?

[2016-09-30 14:09] fxleblanc commented on #70
@purpleidea Yes. I have some golang learning to do though. I'll keep you updated.

[2016-09-30 14:36] purpleidea commented on #70
On Fri, Sep 30, 2016 at 10:09 AM, Félix Leblanc
<notifications@github.com> wrote:

Great! Ping us if you have questions!

[2016-10-01 12:23] purpleidea commented on #76
This should now be fixed in https://github.com/purpleidea/mgmt/commit/567dcaf79db4683fba80f50efba224dba7c43d8f

I think this issue was tricky because the deadlocks we were seeing were due to TWO different reasons. This one *and* the previously patched fsnotify regression (solved with vendoring).

Hopefully there isn't a third one lurking! If this doesn't fix the issue for you, LMK and I'll reopen.

[2016-10-01 12:23] #76 closed

[2016-10-03 18:28] rafaelschipiura commented on #29
I just wanted to leave a comment here about why does Debian and it's derivatives start services right after installation by default: It's a beginner-friendly policy. Say, a beginner installs CUPS to get a printer working. Having it start automatically is one step less they need to take, since every daemon is configured in a sane way by default.

Obviously, we don't want any service to start in the

[2016-10-03 18:30] purpleidea commented on #29
@rafaelschipiura Thanks for the explanation. I do think it's time for Debian to change its policy though.

[2016-10-03 21:35] rafaelschipiura commented on #29
@purpleidea People used to Fedora and derivatives also usually think package installation should not prompt the user, but that's done in Debian and derivatives and not likely to change either.  Debian tries to make it's installation work like "MS Windows" installations, but without the reboots. That way it's beginner friendly.

Another thing to have in mind is that if there's prompts marked as 'cr

[2016-10-03 21:40] joejulian commented on #29
One man's friendly is another man's insecure.

[2016-10-03 21:43] rafaelschipiura commented on #29
@joejulian Sure, there are trade-offs to be made. Like I said above, any package that doesn't have a sane default refuses to be installed without being configured.

[2016-10-03 21:45] joejulian commented on #29
I could argue the sanity of the defaults all day, but that's for another forum. :smile:

[2016-10-03 21:48] joejulian commented on #29
But... as far as configuration management tools in general, I suggest such are not tools for novice needs and thus the OS should be configured not to start services upon installation.

[2016-10-03 21:52] rafaelschipiura commented on #29
Sure, it would be a good thing if mgmt changed this by default in every Debian system put under it's control.

Practical example: Postfix cannot be installed non-interactively without previous configuration. "postfix/mailname" and "postfix/main_mailer_type" have to be set beforehand for non-interactive installation to succeed.

[2016-10-03 21:59] purpleidea commented on #29
On Mon, Oct 3, 2016 at 5:52 PM, rafaelschipiura
<notifications@github.com> wrote:

Really? Interesting, but totally a bug. Too much is happening in %post I guess.

Thanks for sharing!

[2016-10-03 22:53] rafaelschipiura commented on #29
Dpkg has an option to skip configuration : --unpack. It does what I think RPM does, not running any configuration scripts. Just unpacking the files into the file-system.

The problem with it is that .deb packages expect their dependencies to be already configured before they are configured. Configuration scripts are allowed to read their dependencies configuration to configure themselves. So, Apt

[2016-10-03 22:59] purpleidea commented on #29
@rafaelschipiura Very informative, once again. Here's a question: is there any way for apt to pass this option down into the packages? Is there any hope for an upstream fix to this problem?

Package managers should IMO be more declarative than they are, and while even rpm has this problem, I think some of the package managers are making strides to try and get there. (Eg: replacing shell snippets w

[2016-10-03 23:55] rafaelschipiura commented on #29
Running Apt with "-o DPkg::ConfigurePending=false" does what (I think) is necessary, Dpkg will unpack the packages, but won't configure them. Daemons also wouldn't be enabled in this case.

This gives an opportunity to configure the packages after unpacking. Configuration can be resumed with "dpkg --configure -a" afterwards.

Other useful Apt options are "-y" (for "assume yes") and setting the env

[2016-10-06 15:28] purpleidea commented on #1
This is now fixed with the built-in error handling. A meta-parameter to downgrade to polling after N general failures could be welcome, for example, but that is out of scope here.

[2016-10-06 15:28] #1 closed

[2016-10-07 19:51] purpleidea commented on #71
Some notes:

In probably makes sense to support different modes for time specification. I can think of three:

1) Systemd default time mode
2) Systemd calendar mode
3) Cron compatibility mode

There could be a mode value, and an input string. To transform the cron string into something systemd compatible, we could port the following code that does that to golang. https://github.com/systemd-cron/sy

[2016-10-07 19:57] purpleidea commented on #2
As was suggested, I figured I'd like to the HCL lib here: https://github.com/hashicorp/hcl
I had a quick look and it might turn out to be a reasonable base to modify for use in mgmt. hackers wanted.

[2016-10-11 09:35] dnaeon commented on #2
Hey @purpleidea,

Just a thought about HCL - I've used [HCL in the previous releases of Gru](https://github.com/dnaeon/gru/blob/master/docs/CHANGELOG.md), and overall was pretty happy with it.

The syntax is fine and configuration expressed in HCL looks nice.

At some point you would want to introduce variable interpolations, add custom functions in the HCL configuration, etc. and would most likel

[2016-10-11 14:32] purpleidea commented on #2
Hey @dnaeon, thanks for your comments, they're helpful. We're still looking into building more safety into the language, but maybe the HIL stuff will help. As an aside, I think you might enjoy reading this article: https://ttboj.wordpress.com/2016/10/07/remote-execution-in-mgmt/ We should chat sometime!

[2016-10-13 14:01] erikasm opened #80 "[LOVE] package not found on centos 7.x"
cli used:
sudo ./mgmt run --file examples/pkg1.yaml --tmp-prefix

15:55:14 pkg.go:268: Pkg[powertop]: CheckApply(true)
15:55:16 pgraph.go:738: Pkg[powertop]: CheckApply errored: The FilterState method failed with: Can't find package named 'powertop'..
15:55:16 pgraph.go:881: Pkg[powertop]: Exited with failure: The FilterState method failed with: Can't find package named 'powertop'..

pkcon works:

[2016-10-19 23:58] purpleidea commented on #80
I didn't personally try reproducing this, but it seems as it's a legit issue on CentOS 7.x
It's probably straight forward to debug if someone wants to debug into this code.

[2016-10-20 00:00] purpleidea commented on #25
Fixed in https://github.com/purpleidea/mgmt/commit/8381d8246a522b46bf297aa915dfe3889870a9e6 and the subsequent patches that are now in git master. There is still a lot to add, but I'm going to close this ticket for now. Additional patches welcome! Ping me if you're looking for something to do on this.

[2016-10-20 00:00] #25 closed

[2016-10-21 16:51] joejulian opened #84 "add lxc support to virt resource"
libvirt can manage lxc containers with the url lxc:/// which does not work with the virt resource.

[2016-10-21 20:45] joejulian opened #85 "virt emulator path is distro specific and unnecessary"
In the virt resource the emulator path is specified implicitly which is incorrect and unnecessary for at least Fedora, Ubuntu, CentOS, and Arch (all that I had handy to check).

For example, if the domain type is kvm, libvirt will use its configured emulator for that type:

From capabilities (on arch):
[code]
so as long as the `domain type` is set to `kvm`, it will already know to use `/usr/sbin/q

[2016-10-21 22:58] purpleidea commented on #64
Another point which I apparently forgot: What do we do for the situation where we want to have a file, but from a single source. Do we use some sort of file() function (similar to the template function) but which returns the file contents, or do we make the file resource path aware for single files (which is what we do for directories).

[2016-10-22 04:25] purpleidea commented on #84
Indeed this was not tested, but there is a URI variable https://godoc.org/github.com/purpleidea/mgmt/resources#VirtRes which is meant to be used to support things like this.

What is the error you're getting to indicate that it doesn't work?

[2016-10-24 18:33] joejulian commented on #84
[code]

[2016-10-27 19:20] #85 closed

[2016-11-10 10:47] purpleidea commented on #84
This looks implemented now, closing.

[2016-11-10 10:47] #84 closed

[2016-11-11 06:02] purpleidea commented on #70
The initial implementation of this is almost done in https://github.com/purpleidea/mgmt/pull/91
If anyone wants to have a final review before I merge, please LMK.

[2016-11-11 11:55] purpleidea opened #94 "hostname resource should allow system changes"
We now have a hostname resource! https://github.com/purpleidea/mgmt/commit/d039006eb4acf68d57485c09b8bf4d81e2303e48 w00t!

However, because the hostname is a special value used as a UUID by mgmt, it might be useful if we could transactionally update our etcd entries to reflect the changes and avoid having to re-populate etcd.

Think about this and figure out how to plumb it in, and what would brea

[2016-11-17 00:46] ffrank commented on #64
Don't add special meaning to things like `content: /tmp/frlzsdne412.tmp`. This kind of thing is just bound to blow up in your face when eventually and inevitably someone will need to ensure that a file contains a path. We used to have this type of [fun](https://tickets.puppetlabs.com/browse/PUP-1043) with Puppet.

[2016-11-17 18:27] joejulian opened #96 "nspawn terminate may hang without failing"
systemd-machined can sometimes receive the terminate command but not stop nspawn. It will not allow another attempt to terminate the machine for 90 seconds and gives no signal regarding this situation.

[2016-11-17 18:30] joejulian opened #97 "nspawn terminate may throw a temporary error causing CheckApply to fail"
The machine1.Manage.Terminate method may throw a "Resource deadlock avoided" error. This error is transitory and should cause the termination to be retried. Since it's, instead, returned as an error from CheckApply, the resource fails permanently.

[2016-11-21 12:42] LrsK opened #98 "System package dependencies in installation documentation"
I tried installing mgmt by following the quickstart guide on an Ubuntu 16.04 LTS machine.  I get the following error:

[code]

After running ``` sudo apt-get install libvirt-dev ``` this message disappears, but when attempting ``` go get ./... ``` I get arrors about pcap.h and systemd/sd-journal.h. After ``` sudo apt-get install libpcap-dev libsystemd-dev ``` these errors went away.

Should these

[2016-11-21 23:51] purpleidea commented on #98
Technically these deps are listed in the deps script.

https://github.com/purpleidea/mgmt/blob/master/misc/make-deps.sh#L21

You're right that this could be clearer. Any recommendations? (Maybe a patch?)

[2016-11-22 11:33] purpleidea opened #100 "Add DHT for file storage and config deploys"
Mgmt usually runs as a distributed system. As a result there is no central file store or single location to pull the configuration (DSL) or data files from. Here's how we plan to do this in mgmt.
(NOTE: this is all subject to discussion, and constructive comments are definitely welcome!)

Each mgmt agent will embed a bittorrent client and server. We'll use `DHT` to keep things distributed.

1) Whe

[2016-11-24 17:58] purpleidea commented on #64
@ffrank Good point, and nice reference. I think I agree with you, but I should probably mull it over in my brain for a little while. Does anyone have any suggestions on an improved interface here?

[2016-12-02 06:19] purpleidea commented on #80
I think the issue has to do with the package metadata not being downloaded. For example, if I do a `dnf update` on my machine, and then run mgmt, this works fine. However if I then run `dnf clean all` and run mgmt, I hit the issue. So clearly this is a bug (most likely ours, and in the pkg resource).

HTH and inspires someone to patch it?

@erikasm If you can confirm my workaround, I'd appreciate

[2016-12-07 08:28] purpleidea opened #103 "Rename "mgmtmain" to libmgmt or lib?"
I suck at naming, so I'd like your advice. I'm considering renaming "mgmtmain" (which I think is a bad name) to either "libmgmt", or most likely "lib".

https://github.com/purpleidea/mgmt/tree/master/mgmtmain

This is the package which gets imported and used by the main stub,

https://github.com/purpleidea/mgmt/blob/master/main.go#L24

and also is what is imported if we use mgmt as a library.

htt

[2016-12-07 19:56] joejulian commented on #103
I like libmgmt.

[2016-12-07 20:10] purpleidea commented on #103
@joejulian Even if the import is

`github.com/purpleidea/mgmt/libmgmt`

with the "mgmt" string named twice?

[2016-12-07 20:11] purpleidea commented on #103
BTW: Some of the material I mentioned here is now available as a blog post:

[2016-12-08 07:39] tuxmea commented on #103
lib sounds very generic, but it seems to fit. better than libmgmt when you have the name twice.
so this is the place where we now place further extensions to mgmt into?
only internal extensions? then lib is fine
also external stuff? then ext would be better.

[2016-12-08 09:50] vinzenz commented on #103
Well an alternative could be API, no?

github.com/purpleidea/mgmt/api since this is what it is, or do I miss anything?

Anyway just a thought.

[2016-12-08 13:03] ffrank commented on #103
FWIW I have zero trouble with `purpleidea/mgmt/libmgmt`. Visual elegance is a secondary concern at best.

And OTOH, if you were to qualify things with `lib.Main{}`, that is just extremely misleading. So the actual import would be

[code]

anyway (to alias it to plain `mgmt`), so what gives.

[2016-12-08 20:36] purpleidea commented on #103
@ffrank RE: `mgmt purpleidea/mgmt/lib` -- i like this...

[2016-12-08 23:59] LrsK commented on #28
As I was prodded by @purpleidea, I'm taking a stab at this! So far these are my thoughts on how the resource should work.

The resource controls the systemd-networkd configuration, which takes place via configuration files that are placed in the directory /etc/systemd/network. Networks are configured in files with extension ".network", and virtual network devices are configured in files with exten

[2016-12-09 00:20] purpleidea commented on #28
@LrsK Hey, feel free to join #mgmtconfig on Freenode IRC if you'd prefer a more back and forth conversation, also ghangouts are possible. Here are a few replies:

1) Only devices which we decide to manage get managed. Everything else should be ignored. If the user tries to do a badly planned mixed management approach, then it's really their fault.

2) Rollback is something I'm especially excited a

[2016-12-09 04:39] purpleidea commented on #103
Fixed in https://github.com/purpleidea/mgmt/commit/4803be1987d50da9d662e846e83db94dc0dac2b3

Thanks to everyone for their feedback.

[2016-12-09 04:39] #103 closed

[2016-12-09 10:45] ffrank commented on #103
Note to self: Stop including things you do not want in your opinion posts. Especially when formatting makes them the most prominent part of said post.

\_(ツ)_/¯

[2016-12-09 11:33] LrsK commented on #28
Something else I was thinking about was that networkd isn't used that much yet, at least not in some of the distros I've tested on like Ubuntu 16.04, Fedora 24, CentOS. It is indeed possible to use networkd on these systems, but they don't seem to use them by default.

Would it be a good idea to allow the user to specify what format they would like to output the config files in, and place them in

[2016-12-09 15:43] mikefaille commented on #28
Personally, I don't recommend to bind stuff on least use tech only for coolnest. To use networkd, you must prepare your OS to transfert network configuration (includinding pre/post script).

[2016-12-09 16:51] purpleidea commented on #103
@ffrank wait did I mis-read your comment? I thought it was a +1 to that idea :P

[2016-12-09 16:54] purpleidea commented on #28
@LrsK I think it is a good idea to support networkd initially because it is IMO the most promising future for server networking. If down the road something else turns out to be more useful, we can always implement that as a second resource.

[2016-12-12 14:35] ffrank commented on #103
Well I did make it super confusing, so mea culpa.

[2016-12-15 21:18] purpleidea opened #104 "Switch to upstream virt bindings?"
Daniel Berrange published this:

https://www.berrange.com/posts/2016/12/15/announce-new-libvirt-project-go-language-bindings/

Should we switch? Who wants to write the patch?

Cheers

[2016-12-21 09:44] purpleidea commented on #104
/cc @berrange

[2016-12-23 22:41] #98 closed

[2017-01-05 10:46] purpleidea commented on #104
Closed in https://github.com/purpleidea/mgmt/commit/0b416e44f86f05c8a1714bec6a7883896030143d

Thanks @berrange

[2017-01-05 10:46] #104 closed

[2017-01-24 22:44] mildred commented on #2
For the syntax, there are many options. I quite like the way ansible went by using YAML, there is not yet another syntax to learn, and it's an object model compatible with JSON that is very well known. HCL from Hashicorp is also good because it's simple and also maps to JSON. This can be really useful when you write tools that interacts with it (hint, I do).

I quite prefer having a syntax that is

[2017-01-24 23:10] purpleidea commented on #2
@mildred I've got a rough syntax in mind, but the syntax/lexing isn't the hard part for me, it's the FRP part that I'm trying to build. I'm hoping to have a very rough draft visible in 2017 that people can play with and comment on and that we can change if need be. If you think you can help out with some of the lexer/parser code, please let me know!

[2017-01-24 23:28] mildred opened #109 "can't build mgmt.static on debian (golang docker image with libvirt-dev)"
I was trying to generate .deb packages for mgmt, and I could get [this](http://perrinrepo.mildred.fr/mgmt/). Unfortunately the binary in this package is not `mgmt.static` but is the dynamically linked version. This is because on debian, I don't think there is a static version of libvirt.

I'm using Docker to build mgmt before packaging it. I'm using the following Dockerfile as a build image:

[2017-01-24 23:36] purpleidea commented on #109
@mildred Hey! Thanks for hacking on mgmt... What can I do to help here?
(Feel free to join our IRC channel on Freenode #mgmtconfig too.)

[2017-01-24 23:37] purpleidea commented on #109
FWIW, the mgmt.static target isn't one that I personally use, and IIRC I think it was added before we added a libvirt resource too.

[2017-02-02 18:00] mildred commented on #61
I think this is a great problem to address in configuration management tools. This would be *the* killer feature that will make me use one tool over another.

Not on the same problem space, but there is terraform that handles this quite well. terraform is a tool to provision your cloud instances among other things, but I was thinking how we could add plugins to it so instead of launching machines

[2017-02-02 22:43] purpleidea commented on #61
@mildred I'll have to think more about this, but I'll throw out some ideas for you to think about too. (Don't hold me to anything I'm saying here, it's just meant to get the ideas flowing...)

1a) I'm tempted by your idea of storing the state in etcd, but I'm also leaning towards having it be host specific and stored locally there in /var/... This is because if that resource made the change there,

[2017-02-06 09:07] mildred commented on #61
Yes, good idea. I admit I still haven't played with clustering in mgmt and all my use cases a pretty much single machines. But this is important.

I think this is the general idea but I probably don't get it all. We do not necessarily want to remove all resources of some type that are not specified in mgmt. if the user did something manually unrelated to mgmt, we should't destroy it. I prefer if w

[2017-02-06 12:34] daenney commented on #71
To be honest I'm not convinced we should support cron notation. Though it's been around for ages the way it works is far from obvious to most people. Every time I need it I need to go about and Google it again on how to do basic things like intervals or pick specific minutes/hours/days/weeks/months/years.

Since we're creating something new and modern perhaps we can shed some of the legacy of cron

[2017-02-06 14:02] daenney commented on #70
So since #91 is merged, close this? Or detail what the follow up should be?

[2017-02-06 14:13] daenney commented on #33
Is this gone? I can't find the relevant code path anymore and I see no references to `watcher.Add` in [file.go](/purpleidea/mgmt/blob/master/resources/file.go). Or does this now apply to the [`Configwatcher.Add()`](/purpleidea/mgmt/blob/master/recwatch/configwatch.go)?

[2017-02-06 14:22] daenney commented on #31
To me this kinda sounds like not properly doing configuration management though. Only partially managing a resource means you can end up with systems in which we believe things are the same (the file exists for example) but actually behaves completely differently (b/c one got a new config from a package upgrade and the other didn't b/c lets say a signing key expired and it can't update on that oth

[2017-02-06 14:32] daenney commented on #109
I don't think you're ever going to be able to use `mgmt.static` if you're targeting distributions that build their dependencies for dynamic linking (i.e most Linux distro's).

However, you should be able to build `libvirt` in your container yourself by using something like:
[code]

Note though that doing this means you'll need to follow any libvirt related changes and rebuild on CVEs etc.

[2017-02-06 15:43] purpleidea commented on #70
@daenney The resource isn't fully functional yet. Still needs work. Would love your help here...

[2017-02-06 15:44] purpleidea commented on #33
On Mon, Feb 6, 2017 at 9:13 AM, Daniele Sluijters
<notifications@github.com> wrote:

This code is now in the recwatch/ package. Improvement welcome, but
I'm happy to close this.

[2017-02-06 22:15] purpleidea commented on #31
This is a very insightful comment, and a good point, thanks!

As an aside we've got a WIP patch for user support: https://github.com/purpleidea/mgmt/pull/110

[2017-02-06 22:17] purpleidea commented on #33
Since nobody is actively stepping up to work on OSX support, and it's not a goal to get us to a minimally viable tool, I'm going to close this for now. Happy to accept OSX patches though.

[2017-02-06 22:17] #33 closed

[2017-02-06 22:18] purpleidea commented on #33
One more note: Mgmt would be expected to have this issue on an OSX server (not so common/useful) this shouldn't cause an issue for someone using an OSX machine to talk to their servers.

[2017-02-06 22:20] purpleidea commented on #23
I'm going to close this due to inactivity, and because it seems most people (including all of travis) are on newer versions now.

[2017-02-06 22:20] #23 closed

[2017-02-07 16:11] mildred opened #113 "Automatic build"
Would it be possible to publish automated builds generated by travis on GitHub Releases ?

https://docs.travis-ci.com/user/deployment/releases/

This would allow us to download the binary for easy deploy on servers.

[2017-02-07 16:34] mildred opened #114 "Make some resources optional"
Some systems do not have all the libraries required to run mgmt. For example, CoreOS doesn't have libvirt. Have the ability to build mgmt without the virt resource would allow mgmt to run on CoreOS.

[2017-02-08 00:53] purpleidea commented on #114
On Tue, Feb 7, 2017 at 11:34 AM, mildred <notifications@github.com> wrote:

This is a fair point. Any recommendations on how we should solve this?

[2017-02-08 04:27] roidelapluie commented on #71
Systems timers are just services, no?

[2017-02-08 04:28] roidelapluie commented on #114
It makes sense from a security perspective.

[2017-02-08 07:42] mildred commented on #114
I tried build tags `// +build !nolibvirt` for example, but I couldn't make it work for some reason. But I think this is the way to do it.

[2017-02-08 09:51] purpleidea commented on #71
On Tue, Feb 7, 2017 at 11:27 PM, Julien Pivotto
<notifications@github.com> wrote:

It's true this might be able to re-use the svc resource. I didn't look
into it. FWIW, the nspawn resource (not finished) has most of the
correct code for being a composite resource, since it uses svc to help
implement nspawn, since they are services.

Cheers

[2017-02-08 10:45] daenney opened #118 "Installing mgmt without having libvirt installed yields spurious error messages"
I did a `go get...` but forgot to install libvirt first. The result was this:

[code]

The amount of error messages seems to stem from the fact that we end up with `# pkg-config --cflags libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvirt libvi

[2017-02-08 10:52] daenney commented on #118
This actually ties in with #114.

[2017-02-08 11:08] daenney commented on #114
@mildred Did you leave a newline between the build tag and the package declaration? If you don't it'll get interpreted as part of the package documentation instead.

I would suggest a tag like:

[code]

The official binaries that we produce can then build with `go build -tags resource_all` to include everything or explicitly go `go build -tags resource_virt` if we don't want to build with all reso

[2017-02-08 11:22] purpleidea commented on #118
@daenney You're quite right. @ffrank Is actually patching this as we speak! :)

[2017-02-08 11:23] purpleidea commented on #113
@mildred I'm happy to start doing this, although I'd rather build the binaries off of travis and push them somewhere. We do have https://copr.fedorainfracloud.org/coprs/purpleidea/mgmt which needs updating since .spec file is broken. Would that work for you??

[2017-02-08 11:31] purpleidea commented on #118
On Wed, Feb 8, 2017 at 6:30 AM, Felix Frank <notifications@github.com>
wrote:

Exactly.

[2017-02-08 12:19] daenney commented on #118
@ffrank Well yes and no. I would expect the regular go tools, like `go get` to kinda work out of the box on this without the extra weirdness. Especially since that's how we're actually telling people to get the code 😄.

[2017-02-08 13:39] roidelapluie opened #120 "moving a file does not release the inotify watch"

[2017-02-09 13:17] roidelapluie opened #124 "moving the directory where a file belongs breaks mgmt"
if we move the parent directory of a file mgmt watches, mgmt will still watch the old file.

[2017-02-09 13:30] purpleidea commented on #124
I think this is related or the same as https://github.com/purpleidea/mgmt/issues/120

[2017-02-09 13:52] roidelapluie commented on #124
@purpleidea I do not think so. In #120 mgmt notifies that something is happening. #120 does not break the file functionality, it just adds some overhead.

This one breaks it (mgmt does not do what we exect.)

[2017-02-09 18:35] roidelapluie opened #129 "mgmt name"
I think we should look for a better name -- and I have an idea.

I think that instead of focusing on one name, we should focus on multiple names -- flavors.

What I mean is that if we only ship one flavor, then everyone will need e.g libvirt installed. That is a huge requirement.

My proposal is to find a name that we can decline in multiple flavour, so we can ship multiple binaries with different

[2017-02-09 18:44] purpleidea commented on #129
@roidelapluie Your enthusiasm is encouraging, however until we get to be minimally viable, and without a specific concrete recommendation for a new name, I'm going to have to close this. Sorry! Variable naming is hard!

Eg: https://xkcd.com/910/

As an aside, someone with better knowledge of how compiling/linking in golang works should tell us if there's a way we can compile in the libvirt code, b

[2017-02-09 18:44] #129 closed

[2017-02-09 20:40] roidelapluie opened #130 "mgmt does not error when there is an unsupported resource it its yaml file"

[2017-02-10 09:31] purpleidea commented on #130
Should it?
YAML file is just a struct for developers, not the user interface. That will come with the language. I'm going to close this issue for now and limit issues to ones that are major, or that come with patches,

[2017-02-10 09:31] #130 closed

[2017-02-10 09:51] purpleidea commented on #130
@roidelapluie Why is that?

[2017-02-10 09:52] roidelapluie commented on #130
It is important because:

- it is a prerequisite to the development of a language. Without this, testing a language will be very hard.
- if we plan to make e.g. support for libvirt optional, it is important to not allow a catalog with virt resources
- this is also important to check that the compiler understands and respects the compiler input. E.g Felix' puppet compiler is independant from mgmt.

[2017-02-10 09:59] purpleidea commented on #130
@roidelapluie I partly agree, and I am fine not blocking this patch. However, is it possible at the moment? The yaml parsing code is here: https://github.com/purpleidea/mgmt/blob/master/yamlgraph/gconfig.go#L73

Is there a way to do this?

[2017-02-10 09:59] purpleidea commented on #130
(Basically the YAML module takes a struct in the right format and blasts anything that matches into it, while ignoring additional items...) If we could have it error if it had additional items not blasted in, that would be fine with me.

[2017-02-10 10:00] roidelapluie commented on #130
I will have a look

[2017-02-10 23:03] mildred commented on #31
I believe that in my implementation #110, if there is no `content` defined, it doesn't check for it at all. You might have some content or not, it shouldn't care: https://github.com/purpleidea/mgmt/blob/master/resources/file.go#L585-L588

[2017-02-10 23:04] mildred commented on #31
It will check for owner and mode separately than for content

[2017-02-10 23:13] purpleidea commented on #31
On Fri, Feb 10, 2017 at 6:03 PM, mildred <notifications@github.com> wrote:

Yes correct- in newer versions of mgmt, content is a *string. So if
it's nil, then we ignore content completely, and if it points to
something this is the contents. (whether "" or otherwise)

[2017-02-11 13:22] #120 closed

[2017-02-11 22:08] mildred commented on #114
It must be before the package instruction, not after. I found this in #110

[2017-02-11 22:39] daenney commented on #114
Oh yeah, sorry. I meant a newline between the package documentation and the build tag.

[2017-02-12 10:47] mildred commented on #114
I had no problem with that thanks to the vim syntax highlighting (when it is not separated by a newline, coloration doesn't work)

[2017-02-14 10:31] mildred opened #141 "Improved YAML format"
Until we have the perfect DSL, I would suggest to improve the YAML format, and I have one idea for that:

[code]

The implementation of this (which I started) is even simpler because it doesn't need the reflect package in `yamlgraph/gconfig.go` in function `NewGraphFromConfig()`. The `resources` key already contains the list.

[2017-02-14 10:34] roidelapluie commented on #141
I would rather propose:

[code]

[2017-02-14 10:35] roidelapluie commented on #141
But this is great! Even if I would rater prefer us to focus on the DSL instead of this implementation point.

[2017-02-14 10:36] mildred commented on #141
There is just one catch with this format: a resource name cannot be one of `name`, `before`, `after`, or one of the meta parameters (`autoedge`, `autogroup`, `retry`, `delay`, `poll`, `limit`, `burst`). Except for `noop` which can be a special case. if this restriction is not wanted, the syntax suggested by @roidelapluie is a nice alternative.

[2017-02-14 10:39] mildred commented on #141
I admit I'm biased towards yaml. This is one thing that I love in ansible. Clear syntax, easy to learn, machine processable with any language...

[2017-02-14 10:43] roidelapluie commented on #141
I like yaml too, and as it is our interface with mgmt this makes sense to improve it.

[2017-02-14 16:42] purpleidea commented on #141
I'm not explicitly against changing the YAML format, but as I've mentioned, it is only a crutch for me until we have the language, and so I don't plan to spend any cycles on this. If someone feels *really* strongly about this, and the new format doesn't have any limitations, then patches welcome I suppose. But I'm going to close this issue.

[2017-02-14 16:42] #141 closed

[2017-02-14 17:01] purpleidea commented on #114
This is merged now. Closing.

[2017-02-14 17:01] #114 closed

[2017-02-14 17:16] purpleidea commented on #118
I think this is now fixed in https://github.com/purpleidea/mgmt/commit/0e069f1e75f498834189d4c7dc63ad15657e4c16
Ping if it's not. Cheers!

[2017-02-14 17:16] #118 closed

[2017-02-14 17:26] purpleidea opened #142 "prometheus-3.sh is failing"
@roidelapluie

https://travis-ci.org/purpleidea/mgmt/jobs/201582409#L734

Should I disable it or do you know why it's failing?

[2017-02-14 18:04] roidelapluie commented on #141
Please @purpleidea stop closing issues all the time.

[2017-02-14 19:31] roidelapluie commented on #142
Because there is a bug in the code :)

[code]

That one produces an error:

[code]

[2017-02-14 19:32] roidelapluie commented on #142
@mildred :)

[2017-02-14 19:36] purpleidea commented on #142
So if we had used errwrap, that which stat error that was would be obvious

[2017-02-14 19:37] purpleidea commented on #142
but should be easy to track down... who's on it? me? mildred? roi?

[2017-02-14 19:39] purpleidea commented on #142
So this is because chmod/chown both call stat in noop mode...

[2017-02-14 19:39] purpleidea commented on #142
What should the correct fix be...

[2017-02-14 19:45] purpleidea commented on #141
@roidelapluie Opening infinite numbers of issues without fixes on the near horizon isn't productive to me, since it just adds to the noise. If you feel really strongly about an issue that I've closed, LMK which and I can reopen. This particular issue is WONTFIX as far as I'm concerned. I see there's a patch. I'l have a look

[2017-02-14 20:01] #142 closed

[2017-02-14 20:02] purpleidea commented on #142
Merged, thanks!

[2017-02-14 22:03] mildred commented on #113
I specifically need a static binary (and I don't need libvirt), because I deploy mgmt on CoreOS. I'm afraid rpms won't work for that. What I had in mind was a binary distribution that can be independent of the distribution, and can be downloaded with a simple wget/curl.

We could provide:

- static binary without libvirt or augeas
- zip file containing dynamic binary with its library dependencies

[2017-02-14 22:10] purpleidea commented on #113
@mildred We have build tags in git master now: https://github.com/purpleidea/mgmt/blob/master/docs/documentation.md#compilation-options

[2017-02-14 22:11] mildred commented on #113
Yes, I know and used them to ger mgmt on CoreOS.

[2017-02-14 22:13] purpleidea commented on #113
@mildred Okay, so how about this... In the project `Makefile`, I have some targets to build rpm's, sign them, and push them over ssh to a server. If you patch the Makefile to add a new binary only build target and to push to that same server, I'll start running it on release. Does that work? Should be mostly a copy+paste job if you look at what's there and are careful.

LMK what you think!

[2017-02-15 11:33] ffrank commented on #118
Idea I also head: Replace the manual `git clone` with a `go get -d`.

[2017-02-15 16:28] purpleidea commented on #118
On Wed, Feb 15, 2017 at 6:33 AM, Felix Frank <notifications@github.com> wrote:

Oh! This isn't dumb! I don't mind the git clone though. Up to you all.
Is there an advantage?

[2017-02-15 16:44] mildred commented on #2
With all the languages I worked with until now, I came to love writing parsers from scratch, if that can help

[2017-02-15 16:57] purpleidea commented on #2
On Wed, Feb 15, 2017 at 11:44 AM, mildred <notifications@github.com> wrote:

If you have experience writing parsers and would like to help, we'd
love your involvement!

[2017-02-15 21:11] daenney commented on #118
Well it doesn't depend on the `GOPATH` variable being set, which will be a possibility going forward with Go 1.8. So the `mkdir`, `cd` and `git clone` instructions right now could fail in the future.

[2017-02-15 21:13] purpleidea commented on #118
@daenney Why would mkdir/git clone start failing in the future?

[2017-02-15 21:31] daenney commented on #118
Because there's no requirement to have a GOPATH anymore. It'll default to `$HOME/go` for any Go tooling.

[2017-02-16 11:35] mildred opened #158 "Reload systemd and restart svc service on unit file changes"
## Versions:
* mgmt version (eg: `mgmt --version`): 0.0.8-79-gb0e2c09
* operating system/distribution (eg: `uname -a`): CoreOS
* golang version (eg: `go version`): 1.7

## Description:

We currently have no way of notifying the svc resource that a service unit file changed and it needs to daemon-reload systemd and restart the service.

Do you have ideas on how you wanted to do this?

We can probab

[2017-02-16 19:03] purpleidea commented on #158
@mildred Should be in the svc itself. systemd sends us these events. svc resource was written at the start, and written fast, not necessarily well. Might be buggy or broken around this: https://github.com/purpleidea/mgmt/blob/master/resources/svc.go#L155

[2017-02-19 16:15] ffrank commented on #141
You cats, I feel that this one is a little misguided. Sorry ><'

Here's my POV: mgmt does *not* expose a YAML-powered interface for the user to construct a graph. What's happening is that the tool exposes its internal data structure so that YAML can be used (arbitrarily) as a format to cobble up such internal representations directly (in lieu of an actual interface that deserves the name).

As suc

[2017-02-19 20:41] roidelapluie commented on #141
@ffrank Agree, but I see this more as a "new parser" that could approach a basic "DSL" in yaml ..

[2017-02-19 22:23] mildred commented on #141
I started using mgmt, including with the new syntax I offered in #143 and I admit that a DSL would be nice to have at this point. Improving the yaml format is not enough.

A DSL could:

- improve the way the resources are grouped together. You might want to have 3 resources for a particular purposes separate from 3 others.
- multiple files and includes could be nice to have, in particular wildcard

[2017-02-20 16:03] ffrank commented on #141
Another important thing about the DSL: It will be part of mgmt's larger design architecture. mgmt will not be able to really use facter, ohai, or Ansible's setup module. mgmt's analog of facts will have to be continuous sources of data that can raise events. Any piece of mgmt DSL code will be able to affect the graph (profoundly) on occurrences of all kinds of events.

In order to make this manage

[2017-02-20 21:44] mildred opened #162 "Automatic propagation of resource graph through etcd"
I work for a product, [squarescale](http://github.com/squarescale/) and we are going to use mgmt to provision the nodes we maintain. There is a feature that we'd have expected from mgmt, and I thought we could discuss of it here.

We already have clusters of nodes maintained though etcd. All those nodes share the same configuration, and instead of pushing the YAML resource graph to all the nodes,

[2017-02-20 22:11] purpleidea commented on #162
@mildred Would it be helpful if we setup a ghangout and had a discussion about it so that I could understand better, and tell you a bit about what we're planning to see if this fits your needs? LMK, feel free to PM me on IRC or email me.

[2017-02-26 02:55] purpleidea commented on #162
@mildred Ping-- Should I keep this open, did you want to chat more about this? LMK.

[2017-02-28 05:32] kshlm opened #170 "`lib` needs to get leaner"
We're trying to make use of mgmt in [GlusterD-2.0](https://github.com/gluster/glusterd2) (or GD2). But the initial effort required to get mgmt vendored and built is lot.

This is mainly because `lib` package right now is basically the full mgmt, including all the resources, monitoring bits. I've had manually pin dependencies for mgmt resources, to prevent dependency clashes. The dependency on libv

[2017-02-28 06:29] purpleidea commented on #170
@kshlm I'll respond in a few parts...

1) Firstly some resources like augeas and libvirt can be easily disabled. See here in our documentation:
https://github.com/purpleidea/mgmt/blob/master/docs/documentation.md#compilation-options

If there is a significant piece (and reason!) that you think it should have a build disable option, let us know and send a patch :)

2) I don't agree that mgmt needs

[2017-02-28 06:34] roidelapluie commented on #170
@purpleidea once again you close an issue .... this starts to be disturbing.

[2017-02-28 06:36] purpleidea commented on #170
@roidelapluie The solution described in number one is already available.

We don't collect issues, we collect patches... If there's something directly actionable that someone is working on we should know. If I've misunderstood something LMK.

[2017-02-28 06:40] roidelapluie commented on #170
This not how open source work. Discussions are important too. There is a difference between closing issues without activity for a month and closing an issue after the first answer. The first one is okay, the second one means «shut up and patch». It is not the first time you do so, but in this case this is an important topic. The fact that you do not agree does not mean that everyone thinks like yo

[2017-02-28 06:41] roidelapluie commented on #170
I agree with OP. Maybe we could move resources to their own packages ? That would allow you to use 3rd party resources as well.

[2017-02-28 06:47] purpleidea commented on #170
@roidelapluie Well there are two issues I see that can be discussed:

1) Do you think have prometheus as a _noprometheus_ build tag is a good idea, and if so does someone want to write this patch?

2) Resources into their own packages is actually something I've already started hacking on. The idea would be to use the 1.8 plugin interface for them. That doesn't need tracking in an issue unless more

[2017-02-28 07:37] purpleidea commented on #170
As an aside, I do strongly agree here:

But on longer reflection, I recommend the mailing list. It's been quiet, and I think this is a good place for that sort of thing. It would be great if it's used more.

[2017-02-28 07:48] roidelapluie commented on #170
I am a bit surprised that gluster2 does not offer a prometheus interface. Sounds like a missed opportunity. Is that in the roadmap?

[2017-02-28 07:57] kshlm commented on #170
I know about GOTAGS, and I [tried them](https://github.com/gluster/glusterd2/pull/247/commits/e2d8fec4b2ce101ae5a58fb5783e0eab6ec507fa#diff-d99b26f864526f6f8f79861d49deb922R20). But the builds still fail on CI and I don't know why.

If that did work, I might not have made this request at all.

[2017-02-28 08:05] purpleidea commented on #170
On Tue, Feb 28, 2017 at 2:57 AM, Kaushal M <notifications@github.com> wrote:

Got logs? AFAICT it's the vendoring which is tripping you up.

[2017-02-28 08:10] roidelapluie commented on #170
You should use:
go build -ldflags "${LDFLAGS}" -o $OUTDIR/$BIN -tags "novirt noaugeas"

GOTAGS env variable is transformed in our Makefile.

[2017-03-02 08:11] purpleidea opened #173 "[LOVE] Add tests to GraphSync"
This is a project for a first time mgmt contributor. It should be fairly straightforward, but not too easy.

We have a GraphSync function in mgmt:

[code]
https://github.com/purpleidea/mgmt/blob/master/pgraph/pgraph.go#L557 (might move around a bit due to git master changes of course)

We should add some proper golang tests for this in pgraph_test.go

To test it, it might be helpful to have the Ex

[2017-03-02 08:18] mrcrilly commented on #173
Acknowledged. Will work this ticket.

[2017-03-02 08:20] purpleidea commented on #173
@mrcrilly thanks `movedx` !

[2017-03-02 08:31] purpleidea opened #174 "[LOVE] Our GAPI needs a tweak"
This is intended for a new mgmt contributor or for someone with very few patches. If nobody claims this, but you are *really* itching to write this, that's okay too!

In mgmt we have a GAPI (graph API) which any frontend can implement to generate graphs that the mgmt engine will run. Currently we have a raw yaml graph input, and a puppet code input. When the mgmt language is built, it will use thi

[2017-03-04 03:19] purpleidea opened #175 "[LOVE] pgraph->DeleteEdge needs test cases"
This is a beginner patch for a new golang/mgmt contributor!

The DeleteEdge methood in pgraph (currently at: https://github.com/purpleidea/mgmt/blob/master/pgraph/pgraph.go#L192 ) needs some tests!

Please write some! Tests should go in pgraph_test.go

Happy hacking!

[2017-03-04 04:16] taksuyu commented on #175
Seems doable. I'll give it a shot.

[2017-03-04 09:18] purpleidea opened #177 "[Travis/go-test] Make testing easier for others"
It seems when others run a travis build, you can get errors like:

[code]

This seems to happen because it thinks the main package is in that users namespace instead of in the purpleidea one. This is yet another example about how the FQDN's are a crap idea in golang, but anyways...

This happens here: https://github.com/purpleidea/mgmt/blob/master/test/test-gotest.sh#L16

Is there a better way to

[2017-03-04 09:18] purpleidea commented on #177
maybe @roidelapluie or @ffrank you know?

[2017-03-06 12:26] ffrank commented on #177
Context? Does this happen when contributors enable Travis *on their* GitHub forks?

[2017-03-06 12:35] purpleidea commented on #177
On Mon, Mar 6, 2017 at 7:26 AM, Felix Frank <notifications@github.com> wrote:

yep.

[2017-03-07 01:00] ffrank commented on #177
Do we know *why* this happens?

The code says `import ( etcdtypes "github.com/coreos/etcd/pkg/types" )` and then just uses it by that alias:
[code]

My point is, it doesn't say `purpleidea/mgmt` in here. Where does that part come from? Is the vendoring subsystem configured this way or something?

[2017-03-07 04:26] purpleidea commented on #177
IDK :(

[2017-03-07 04:27] purpleidea commented on #177
It's my fault here:

b/c when you run it that way it picks your GH name I guess. What's the correct way to run it?

[2017-03-07 09:21] ffrank commented on #177
I'm starting to think that the code cannot be built in a different namespace, seeing as it uses (and has to use) your handle in all manner of imports already (sub-packages).

People cope by always keeping it in the original namespace, going by [a stack overflow answer](http://stackoverflow.com/a/33895614/7204834) and a [linked blog post](http://blog.campoy.cat/2014/03/github-and-go-forking-pull-re

[2017-03-07 09:43] taksuyu commented on #177
I noticed this when I tried to build travis on my branch. When I looked through the docs for travis they had this bit. https://docs.travis-ci.com/user/languages/go/#Go-Import-Path

I was thinking about testing it on my fork, but if someone wants to try it before me that should be fine too.

[2017-03-07 10:35] ffrank commented on #177
Oh! Yes. That documentation is extremely vague, but would you try it in a branch?

So you would set it to `github.com/purpleidea/mgmt`, yes?

[2017-03-07 16:05] purpleidea commented on #177
@ffrank

Agreed. Hence why this is low prio for me, but still nice to have. I think @roidelapluie would like this feature too.

This looks like the fix! After testing, patches welcome/wanted. Nice!

[2017-03-07 18:25] mildred commented on #162
I didn't see my notifications during that time. I'm on european timezone, and I should be available for a chat to talk about this if you want.

[2017-03-07 18:32] snowsky commented on #174
I just got started on mgmt and found it helpful for the daily work. I will give it a shot to see if I can work it out.

[2017-03-07 19:18] snowsky opened #178 "golint has to be installed before running test.sh"

[2017-03-07 21:58] taksuyu commented on #177
Sure I'll give it a shot and make it a PR if it works.

[2017-03-07 22:01] purpleidea commented on #174
@snowsky Awesome... Are you claiming this issue?

[2017-03-07 22:03] purpleidea commented on #178
If you run make-deps: https://github.com/purpleidea/mgmt/blob/master/misc/make-deps.sh#L82 then it is installed.

AFAIK there isn't a bug here, unless there's something you think we should patch?

[2017-03-07 22:50] purpleidea commented on #162
@mildred Sure, LMK when. How about in a week on Tuesday? Should give you time to see the notifications. Maybe send me an email and I can send you meeting details. My GH id at gmail or PM on IRC.

[2017-03-08 00:44] snowsky commented on #174
@purpleidea Yes, I am.

[2017-03-08 01:05] snowsky commented on #178
Yes, that will work. I may miss --recursive parameter and then when make build failed on the other VM.

[2017-03-08 03:27] purpleidea commented on #174
@snowsky Awesome! If you have any questions please lmk.

[2017-03-08 03:28] purpleidea commented on #178
Cool! Closing issue then, LMK if you have more questions.

[2017-03-08 03:28] #178 closed

[2017-03-08 03:53] purpleidea commented on #177
I think this is now fixed in https://github.com/purpleidea/mgmt/pull/179

Ping or create a new issue if anyone experiences new problems.

Thanks @taksuyu

[2017-03-08 03:53] #177 closed

[2017-03-09 03:09] snowsky commented on #174
@purpleidea how do I generate and view the graph?

[2017-03-09 03:22] snowsky commented on #174
@purpleidea so I will add the other function named ResWatch for GAPI. I don't know why "etcd.WatchAll(EmbdEtcd)" was mentioned. Is etcd struct related to GAPI?

[2017-03-09 07:33] purpleidea commented on #174
@snowsky You can generate the graph by running mgmt like: `mgmt run --yaml examples/whatever.yaml` If you want to visualize try the `--graphviz` option.

The `etcd.WatchAll` is the implementation of the interface we'll add to the GAPI.

[2017-03-14 00:31] purpleidea commented on #174
@snowsky Any progress on this? Thanks

[2017-03-14 00:31] purpleidea commented on #173
@mrcrilly Any progress on this? Thanks

[2017-03-14 00:32] purpleidea commented on #175
@taksuyu Any progress on this? Thanks

[2017-03-14 02:21] taksuyu commented on #175
I may have to just push out something simple. Been a bit busy with stuff. Sorry about that.

[2017-03-15 16:19] taksuyu commented on #175
https://github.com/purpleidea/mgmt/pull/181

[2017-03-15 18:20] purpleidea opened #182 "[LOVE] The path to an exec resource binary can find autoedges"
This is an intermediate-had level mgmt problem for a medium level golang hacker. Those scales are arbitrary, sorry!

### Background:

In `mgmt` we have a concept called autoedges. There is a blog post about the feature, it's best to read and understand that first: https://ttboj.wordpress.com/2016/03/14/automatic-edges-in-mgmt/ These automatic edges are a powerful way of specifying dependencies aut

[2017-03-15 18:35] purpleidea opened #183 "[LOVE] Detect svc resource enabled/disabled state changes"
This is an intermediate level bug, for someone with beginner-intermediate level golang skill. It requires a light about of `dbus` knowledge. If you'd like to work this issue, please claim the bug in the comments below!

### The issue:

In the mgmt svc (service) resource we set the state of the particular systemd units. The unit itself can be enabled or disabled on startup, and this is a property w

[2017-03-15 18:43] MohamedAshiqrh commented on #183
@purpleidea I would like to work on this one.

[2017-03-15 22:16] snowsky commented on #174
@purpleidea run into some issue of etcd:
[code]
I have removed /var/lib/mgmt after googling, but it still shows the error message.

[2017-03-15 22:17] purpleidea commented on #174
@snowsky try running mgmt with `--tmp-prefix`.
If you still see the issue, please paste the full command you're running.

[2017-03-15 22:18] snowsky commented on #174
[code]

[2017-03-15 22:23] purpleidea commented on #174
@snowsky Can you:

[code]

and see if you have an existing mgmt running?

[2017-03-15 22:24] purpleidea commented on #174
(like some old one running that hung or that you have in a terminal...)

[2017-03-15 22:28] snowsky commented on #174
Didn't see any:
[code]

[2017-03-15 22:31] purpleidea commented on #174
(It would be easier and faster to debug this on IRC btw, ping me in #mgmtconfig on Freenode)

Can you check your deps, eg: `git submodule init && git submodule update` in the mgmt dir?

[2017-03-15 22:46] purpleidea commented on #174
@snowsky Also you might want to check:

```ps auxww | grep go```

and

```ps auxww | grep run```

and

```ps auxww | grep etcd```

I was fairly certain it was due to an existing artifact... Maybe not though.

[2017-03-15 22:46] purpleidea commented on #174
(in case it was running as a different name in case you used `go run` or something.

[2017-03-16 00:14] snowsky commented on #174
[code]

I just joined IRC with the same name as @snowsky

[2017-03-16 14:00] roidelapluie opened #186 "provide binaries"
When we release mgmt we should also publish binaries.

[2017-03-16 14:02] purpleidea commented on #186
Agreed. RPM/Deb or also plain binaries?

[2017-03-16 14:02] purpleidea commented on #186
BTW, this was already mentioned in https://github.com/purpleidea/mgmt/issues/113 so closing as a dupe of that bug.

[2017-03-16 14:02] #186 closed

[2017-03-16 14:04] roidelapluie commented on #113
This:

https://github.com/prometheus/prometheus/releases/tag/v1.5.2

[2017-03-16 14:07] purpleidea commented on #113
@roidelapluie How do I post binaries there?

[2017-03-16 14:08] roidelapluie commented on #113
@purpleidea from travis ..

[2017-03-16 14:13] purpleidea commented on #113
Looks like this is a GH feature: https://github.com/blog/1547-release-your-software

[2017-03-16 14:15] purpleidea commented on #113
I'm happy to add this to the [tag.sh](https://github.com/purpleidea/mgmt/blob/master/tag.sh) script or the [Makefile](https://github.com/purpleidea/mgmt/blob/master/Makefile], but I don't want to use travis to make the builds unless they're [reproducible](https://github.com/purpleidea/mgmt/blob/master/test/test-reproducible.sh) -- although proper reproducible.

[2017-03-16 14:16] roidelapluie commented on #113
yes but you want to automate that with travis, not just drop random
binaries

https://docs.travis-ci.com/user/deployment/releases/

[2017-03-16 14:17] purpleidea commented on #113
@roidelapluie To make a release, I run tag.sh so I consider that automated enough for me... I am attempting to avoid an untrusted builder that has my name on the binary.

[2017-03-16 14:18] roidelapluie commented on #113
" untrusted builder " .. you are the untrusted builder,  not travis :)

[2017-03-16 14:22] purpleidea commented on #113
@roidelapluie That's true! Except my "purpleidea" reputation is on the line... Point taken though. Let me look at the docs some more for this.

[2017-03-16 14:23] roidelapluie commented on #113
that is why you want to move to a mgmtconfig org ?

[2017-03-16 14:25] purpleidea commented on #113
Same difference

[2017-03-16 14:26] purpleidea commented on #113
FYI: https://tests.reproducible-builds.org/debian/issues/unstable/golang_compiler_captures_build_path_in_binary_issue.html

[2017-03-16 18:30] purpleidea commented on #174
@snowsky Thanks again for your work so far... Due to some patches I am working on (not yet posted) it looks like this issue will block some of that work and testing that I am doing. As a result if you're not able to finish this shortly, I might have to take over and patch it myself. :(

I do apologize, because I have no desire to rush anyone on a patch, rather I didn't realize it was an issue whic

[2017-03-17 01:22] snowsky commented on #174
@purpleidea no worries, something came up recently, please take it and I will follow up later. Sorry for not fixing it soon.

[2017-03-19 08:26] mrcrilly commented on #173
Hi. Not at this point in time.

I'm writing a whole code base around a product I'm developing, blogging, vastly improving my own copy of the Open AWS Guide, and working... sadly I may not get to this, but I'll try in the week.

[2017-03-21 23:20] mildred commented on #2
@purpleidea, if you have an idea of the syntax, do you think it's matured enough so you can share it?

[2017-03-22 04:01] purpleidea commented on #2
On Tue, Mar 21, 2017 at 7:20 PM, mildred <notifications@github.com> wrote:

I'm working on it on my spare time, I've got if statements
implemented, and I'm working on the "fact" and "function" API. After
that's implemented, I'll push an early branch. If you've got an idea
for a better name than "fact" (facts like in puppet, except they vary
over time) please LMK :) If you'd like to help implement

[2017-03-23 17:53] mildred commented on #2
fact is good, and a fact in real life can change too. As for functions, these could be called modules or components (their job is to bundle together multiple resources)

[2017-03-23 19:39] mildred opened #187 "feature idea: fileline resource"
The idea is to have a fileline resource, like it exists in cfengine. Allows to change the content of a configuration file depending on patterns. See reference here: https://docs.cfengine.com/docs/3.5/reference-promise-types-files-edit_line.html

a list of attributes:

- select_region: the region of the file to make edits, the complete file if not specified
    - include_start_delimiter: Whether to

[2017-03-23 20:35] mildred commented on #187
The main question is: do we implement that in the file resource, or do we implement that in a separate resource, considering that the output of that resource is a file.

[2017-03-23 20:48] mildred commented on #187
Probably the most important attributes to implement are:

- a list of modifications containing:
    - select_region with include_start_delimiter, include_end_delimiter, select_start, select_end
    - delete_lines, a list of deletions:
        - pattern
    - insert_lines, a list of inserts:
        - lines: multiline string to insert
        - before_location or after_location (exclusive) with eit

[2017-03-23 22:47] purpleidea commented on #187
@mildred I will happily ACK this feature, but have zero cycles to actually write it, so it comes with a strong "patches welcome" proviso.

The only disclaimer I have is that we think about the actual interface and name it sensibly rather than necessarily copy the cfengine interface directly. (IOW we have a chance to write this cleanly!)

I'm fairly certain it shouldn't be in the main file res. Her

[2017-03-23 23:43] mildred commented on #187
I just implemented the line editing feature in a separate lib: https://github.com/mildred/go-fileline

[2017-03-24 04:11] purpleidea commented on #187
@mildred Cool! Want to implement (1) and import your lib for the functionality? You can either:

a) Keep your lib as is, assuming you'll be keeping git master stable.
or
b) Copy it into mgmt as a package there with the new resource.

I'd probably prefer (b) but am okay with (a) if you feel strongly about it.

Cheers!

[2017-03-24 09:25] mildred commented on #187
Is it possible to have something like that, a loop between two resources:

- a file_line resource that uses RecvSend to receive the file content before it has changed from a file resource and generates an output

- a file resource that watches the file for changes and uses SendRecv to receive the processed content from the file_line resource

This makes a loop between two resources, I wonder how t

[2017-03-24 10:29] mildred commented on #2
facts and the file_line resource made me think how to express this in a syntax. I use terraform daily and something nice about it is that you define resources in any order and you can use variables from other resources in a resource. The terraform engine does the ordering itself and only errors out on cycles. You don't have to order the resources yourself.

I think we need some kind of interpolati

[2017-03-24 18:03] purpleidea commented on #2
This is the case with the lang I am building. Funny enough this is not the case in puppet! (A mistake IMHO)

Can you point me to some specifics docs and examples about this part please?

This is the case in mgmt already.

[2017-03-24 18:06] purpleidea commented on #187
@mildred The design I mentioned above is all still correct, but I understand the line of reasoning you're going down... Indeed it might make sense to have "fact" like things that can take an argument of a file path to read it in, but I currently left this out of the lang prototype for the moment.

Nevertheless, it's not as important a distinction because I think we're confusing the split puppet mo

[2017-03-24 22:00] mildred commented on #2
Terraform build on the [Hashicorp DSL](https://www.terraform.io/docs/configuration/syntax.html) that is generic and doesn't know what a variable is. It's basically a glorified JSON. Using variables in terraform is done in strings only using the [interpolation syntax](https://www.terraform.io/docs/configuration/interpolation.html)

Basically, a resource contains attributes you can set yourself to c

[2017-03-24 22:18] purpleidea commented on #2
@mildred Cool, so this line:

You basically have to know that the aws_instance _produces_ that var, right? (Or did I misunderstand this?) If that's true, that should mean you automatically cause the 2nd thing in your example to happen before the first, right?

If so in many ways this smells like the send/recv stuff. That's great news!

The rough idea in mgmt (fake syntax since lang is WIP) is some

[2017-03-24 22:35] mildred commented on #2
Yes, in the doc, [aws_instance](https://www.terraform.io/docs/providers/aws/d/instance.html) documents the public_ip attribute. Terraform uses the variable bindings to automatically order the resources.

[2017-04-11 15:59] purpleidea commented on #174
This is fixed in https://github.com/purpleidea/mgmt/commit/6fd5623b1f97cbfd77399a78d2aec14ae986ff2e

Have a look at the commit if you're curious. Cheers!

[2017-04-11 15:59] #174 closed

[2017-05-16 16:02] purpleidea opened #189 "I think I broke autoedges... :("
It was good in 0.0.8 and broken in 0.0.9 ... Nothing fails, just no autoedges...

bisect:

[code]

[2017-05-17 04:57] roidelapluie commented on #189
We run Autoedges BEFORE we get the list of files in a package. That commit moves the Init() function.

[2017-05-17 04:58] roidelapluie commented on #189
[code]

[2017-05-17 07:20] purpleidea commented on #189
@roidelapluie  Ah! Right. Woops. Let me think on this about how best to fix. Thank you!

[2017-06-03 02:31] purpleidea commented on #189
This is all FIXED in git master now. Thanks for your help!

I even added a test, and improved the API. Should be easy to fixup https://github.com/purpleidea/mgmt/pull/188 and include a test in exec_test.go (copy and paste from file_test.go and it should be quite trivial to write.)

Thanks!!

[2017-06-03 02:31] #189 closed

[2017-06-05 22:27] ChrisMcKenzie commented on #2
Hey, I am coming from an experiment (https://github.com/chrismckenzie/preflight) I was working on and @purpleidea invited me to come participate on this instead, with that being said my approach started with terraform inspiration, so naturally I started with using HCL as @mildred suggested. I really enjoy using HCL for thing and have had reasonable success with some of my other projects. (https://

[2017-06-06 05:13] purpleidea commented on #2
@ChrisMcKenzie Hey! Glad to see you've landed and are digging. Here's a bit of info which I hope you will find helpful:

Implementing a new "frontend" eg a language like HCL is I think quite straightforward on the mgmt side, since you only have to implement a small API. We already have:
a) A small yaml -> mgmt graph format frontend
b) An improved yaml -> mgmt frontend (thanks to @mildred)
c) A Pup

[2017-06-08 05:31] purpleidea opened #192 "[LOVE] the kv (key value) resource should send on keys"
This is an intermediate-had level mgmt problem for a medium level golang hacker. Those scales are arbitrary, sorry!

## The background:

Mgmt has a concept called send/recv: https://ttboj.wordpress.com/2016/12/07/sendrecv-in-mgmt/
You must understand this concept before continuing.

We have a `kv` (key value) resource https://github.com/purpleidea/mgmt/blob/master/resources/kv.go#L41 which can set

[2017-06-08 05:31] purpleidea commented on #192
Please leave a comment here if you're working on this, and/or would like some mentorship. This is meant to be a fun learning experience, but also give you an exciting challenge to work on. Thanks!

[2017-06-08 09:42] purpleidea opened #193 "Mildred is missing from AUTHORS"
Hey @mildred ! I think you should be here:

https://github.com/purpleidea/mgmt/blob/master/AUTHORS

If you'd like to, please send a patch of course :)

Thanks!
James

[2017-06-12 21:24] ChrisMcKenzie commented on #72
I have started working on this!

[2017-06-12 21:28] purpleidea commented on #72
@ChrisMcKenzie Am particularly excited. Feel free to push a non-compiling WIP branch in case you want me to look at something early.

[2017-06-13 02:14] purpleidea opened #196 "[LOVE] set the etcd max transaction limit"
This should be a beginner level patch for someone who is either new-ish to golang, or new to mgmt. It is meant to encourage new programmers to get involved with mgmt.

In etcd there are transactions which are composed of a number of operations. There was previously a constant limit to the number of ops per transaction to avoid blocking other clients. The default limit was too small for most users,

[2017-06-13 18:00] ChrisMcKenzie commented on #72
I am starting to get a hold on the `Res` interface, I am trying to think about how the `Watch` might be implemented I feel like in this case it should be a noop, originally I though about polling but that seems like it would cause issues!

[2017-06-13 18:02] purpleidea commented on #72
@ChrisMcKenzie What do you think about:

As a backup:

[2017-06-13 18:10] ChrisMcKenzie commented on #72
I think I like the `metaparam` approach best as it can be disabled if need be.

[2017-06-23 11:47] sadegh-nikaein commented on #28
Check this
https://github.com/milosgajdos83/tenus

[2017-06-23 14:24] mikefaille commented on #28
@purpleidea I personnally prefer anostic solution like Tenus. I tried it in the past : https://github.com/mikefaille/docker-group-daemonizer/blob/master/main.go

[2017-06-23 15:09] sadegh-nikaein commented on #28
for interface address change events  we can use net/route package wait until  for sysRTM_NEWADDR & sysRTM_DELADDR message trigger

[2017-06-23 19:08] purpleidea commented on #28
@sadegh-nikaein Want to either write the base resource or a small proof of concept standalone mainloop showing the events happening?

[2017-06-24 14:06] sadegh-nikaein commented on #28
@purpleidea i try that is not work as i expected .
what about this idea etcd package netutil
https://github.com/coreos/etcd/blob/master/pkg/netutil/routes_linux.go
has a function call GetDefaultHost return the first IP address of machine from the routing table
we can store it somewhere and check it with some interval or
we can on init add bridge to that with Tenus and not matter interface change o

[2017-06-24 22:24] purpleidea commented on #28
@sadegh-nikaein Getting/Setting on the interface is the easy part, the less straight forward part is getting events, eg from NETLINK. In any case it should be a straight forward exercise for someone wanting to do the patching. LMK if you're interested.

[2017-06-25 12:59] sadegh-nikaein commented on #28
I try my best but its higher than my lvl i more research and find good example to get status with NETLINK and this is possible take look at this
https://github.com/golang/go/issues/15080
https://github.com/MichielDeMey/home-controller/blob/d26d5f131856db6b34fff3dc2853c0c760c231f8/lib/monitor.go
https://github.com/inoyatov/hipp/blob/master/main.go
https://github.com/vishvananda/netlink/blob/master/

[2017-06-27 14:49] nitinprakash96 commented on #196
Hi, I'd like to work on this.!

[2017-06-27 20:48] purpleidea commented on #196
@nitinprakash96 Great... Need any pointers to get started or have any questions? If so, please ping purpleidea in #mgmtconfig on Freenode.

[2017-06-30 12:49] purpleidea commented on #196
This is where the embed server code is, which is where this would need to be hooked in:

https://github.com/purpleidea/mgmt/blob/master/etcd/etcd.go#L1650

[2017-07-01 20:36] purpleidea opened #199 "[LOVE] Implement graph isomorphism"
This is an issue for a beginner to medium level golang programmer. It also requires an understanding of basic graph algorithms and the willingness to figure out how to implement a graph isomorphism algorithm. This is an algorithm that determines if two graphs are equivalent or not.

In mgmt we have an internal pgraph (graph) library. We currently have a `GraphCmp` algorithm: https://github.com/pur

[2017-07-01 20:40] purpleidea commented on #199
Here are a few misc. references btw:

https://github.com/networkx/networkx/blob/master/networkx/algorithms/isomorphism/isomorphvf2.py
https://www3.cs.stonybrook.edu/~algorith/implement/nauty/implement.shtml
http://www.dharwadker.org/tevet/isomorphism/
https://github.com/igraph/igraph/tree/master/src/bliss

The idea is to implement something straight forward that works, not to implement the most ef

[2017-07-17 09:22] dreamer-nitj commented on #192
Hi,

I have just started learning go programming and have gone through some basic go lang tutorials. I am looking to help and also learn along the way. I am new to mgmt so would need some mentorship if possible. Can you let me know how to get started to work on this issue.

Thanks.

[2017-07-17 18:37] purpleidea commented on #192
@dreamer-nitj How about you try this one first: https://github.com/purpleidea/mgmt/issues/175

[2017-07-19 05:58] dreamer-nitj commented on #175
I will take it up

[2017-07-20 15:08] dreamer-nitj commented on #175
How do i run the test case.. i get this error:

`go run ./pgraph/pgraph_test.go
go run: cannot run *_test.go files (./pgraph/pgraph_test.go)`

[2017-07-20 19:07] purpleidea commented on #175
`go test github.com/purpleidea/mgmt/pgraph`

OR

`go test github.com/purpleidea/mgmt/pgraph -v`

OR

`go test github.com/purpleidea/mgmt/pgraph -run TestCaseName`

[2017-07-28 08:35] AdnanLFC commented on #199
As I said, I'd like to give it a shot. Any additional discussion needed before I start working on this?

[2017-07-28 08:39] purpleidea commented on #199
@AdnanLFC I think you're good to go! Feel free to ping if you come across any implementation or design questions that you'd like answered.

Thanks!

[2017-08-02 14:24] nitinprakash96 commented on #173
If this is not solved yet, I'd like to work on this one.

[2017-08-02 19:55] purpleidea commented on #173
@nitinprakash96 Please grab it :)

[2017-08-07 18:00] purpleidea commented on #196
NOTE: this has been fixed in https://github.com/purpleidea/mgmt/pull/200 and is waiting on merge.

[2017-08-07 18:02] purpleidea commented on #175
Closed in https://github.com/purpleidea/mgmt/commit/db6972638d6663d6bca02595776f092a9a6ce430

[2017-08-07 18:02] #175 closed

[2017-08-07 18:12] purpleidea opened #203 "[LOVE] Validate the msg resource properly"
This should be a beginner level patch for someone who is either new-ish to golang, or new to mgmt. It is meant to encourage new programmers to get involved with mgmt.

We have a `msg` resource in mgmt, As you can see here: https://github.com/purpleidea/mgmt/blob/master/resources/msg.go#L97 someone didn't Validate the obj.Priority string in the Validate method.

Validate is part of the resource API

[2017-08-07 18:27] dkliban commented on #203
I am working on this.

[2017-08-07 18:32] purpleidea commented on #203
This patch should also include a test case. It should be similar in approach to https://github.com/purpleidea/mgmt/blob/master/resources/exec_test.go#L24

In particular it should test the Validate method.

You can run the tests locally like this:

go test github.com/purpleidea/mgmt/resources

OR

go test github.com/purpleidea/mgmt/resources -v

OR

go test github.com/purpleidea/mgmt/resources -run

[2017-08-07 19:10] purpleidea opened #204 "[LOVE] expand ~username type strings properly"
This should be a beginner level patch for someone who is either new-ish to golang, or new to mgmt. It is meant to encourage new programmers to get involved with mgmt. If you're going to work on this issue, please leave a comment below.

We have a virt resource in mgmt, As you can see here: https://github.com/purpleidea/mgmt/blob/master/resources/virt.go#L1173 the `expandHome` doesn't support the c

[2017-08-07 19:16] purpleidea opened #205 "[LOVE] support more than 26 disks with virt resource"
This should be a beginner level patch for someone who is either new-ish to golang, or new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It has a medium-level of algorithmic difficulty.

We have a virt resource in mgmt, As you can see here: https://github.com/purpleidea/mgmt/blob/cf2325a2daa1ba6df1f4095ed450e733eb110bd7/resources/virt.go#L1000 if we were to hit more t

[2017-08-07 22:14] bmbouter commented on #205
I want to try to do this issue

[2017-08-08 01:37] purpleidea commented on #205
@bmbouter Awesome! Please ping if you have any questions. I once struggled with the a..b..aa..ab algorithm, so feel free to sneak a peak here if it makes you angry and you want a hint: https://github.com/purpleidea/vagrant-libvirt/commit/be2042537e4f8f3e59a7880bf3e09358252be252#diff-b34d2a33c102d0c3e664ab590a2119e7R3 )

[2017-08-18 08:05] purpleidea commented on #193
Ping @mildred please feel free to either send a patch for this or close. Thanks!

[2017-08-19 17:49] dkliban commented on #203
https://github.com/purpleidea/mgmt/pull/206

[2017-08-25 10:33] purpleidea commented on #203
@dkliban killed this in https://github.com/purpleidea/mgmt/commit/1003b49dd95456172e2527b1f2f408fa7f748ee0 w00t!

[2017-08-25 10:33] #203 closed

[2017-08-31 18:35] juanluisvaladas commented on #80
I'll fix this

[2017-08-31 19:37] purpleidea commented on #80
@juanluisvaladas Awesome! Feel free to ping me if you have any questions. Either here or in #mgmtconfig IRC on Freenode.

[2017-09-01 16:49] Spigell commented on #80
Greeting. I noticed that yum helper for packageKit try resolve package like that.
[code]
[code]
 I think one can't install packages because conditions are too strict. Am I wrong?
 But even if you add allowuntrusted,allownonfree and allowunsupported flags it will not be installed.

 I have added logging for result and it returns nothing. This is strange.

[code]
 STRACE and DEBUG vars doesn't give

[2017-09-01 17:47] purpleidea commented on #80
@Spigell I think the issue is just that this fails when the cache isn't downloaded first, since this happens if missing with the CLI tool, but I never added this to my `pkg` implementation.

I think it is cool that @juanluisvaladas will try to fix this too. I think he has some much needed dbus-skills :) Your english is just fine. let us know if you'd like to jump in and write some patches.

Thanks

[2017-09-01 20:23] juanluisvaladas commented on #80
Hi, @Spigell thanks for the input. It's actually very helpful.

I successfully reproduced the issue on fedora 26:
PackageKit-glib-1.1.6-2.fc26.x86_64
PackageKit-1.1.6-2.fc26.x86_64
Mgmt commit 9f66962bfb47f3d70aafb8df44ac85a40882d7f4

I'm going to work on this over the weekend

[2017-09-06 19:10] purpleidea commented on #204
Fixed in https://github.com/purpleidea/mgmt/pull/210

[2017-09-06 19:10] #204 closed

[2017-09-06 19:11] purpleidea commented on #70
Related: https://github.com/purpleidea/mgmt/issues/97 and https://github.com/purpleidea/mgmt/issues/96

[2017-09-07 08:49] jonathangold commented on #205
Took a stab at this issue. Since I'm new to go and mgmt I wanted to run it by you before submitting a pull request. Here's a link to a playground demonstrating the function.
https://play.golang.org/p/hOu0UGS1T1
Thoughts?

[2017-09-07 13:58] purpleidea commented on #205
@jonathangold Hey, thanks for the function... You're welcome to send it as a PR, since this will get your familiar with our CI system, but in any case, I stripped out the XML part of your code, and ran a bit of a test:

https://play.golang.org/p/36m2umlRiv

As you can see after "z" it does not return the correct value.
So I think you're on the right track, but there's a bug.

[2017-09-07 14:32] bmbouter commented on #205
@jonathangold I didn't find the time to do this so I'm glad you're contributing it!

[2017-09-07 18:25] jonathangold commented on #205
For sure. On line 18 NumToAlpha(div) should be NumToAlpha(div - 1). Thought I had changed it.

[2017-09-07 18:29] purpleidea commented on #205
That LGTM :)

Want to submit this (with a few tests for that function) as a patch?

On Thu, Sep 7, 2017 at 2:25 PM, jonathangold <notifications@github.com>
wrote:

[2017-09-07 19:28] jonathangold commented on #205
When I try to run the tests both with and without my new test I get the following errors:
[vagrant@localhost resources]$ go test -run ''
[code]

[2017-09-07 19:36] purpleidea commented on #205
@jonathangold yes, when you cloned the repo you forgot to add the `--recursive` flag to git.

You can fix with `git submodule init && git submodule update` I think.

[2017-09-07 19:41] jonathangold commented on #205
Didn't work. I'm using the vagrant image, so I don't think that's the issue.

[2017-09-07 19:42] purpleidea commented on #205
@jonathangold can you `tree $GOPATH/src/github.com/purpleidea/mgmt/vendor/` ?
and `tree $GOPATH/src/github.com/coreos/`
?

[2017-09-07 19:43] purpleidea commented on #205
Feel free to join us in #mgmtconfig on Freenode IRC for more back and forth help if you'd prefer.

[2017-09-07 19:54] jonathangold commented on #205
I think the issue is because I was making changes in ~/go/... instead of ~/gopath/...

[2017-09-07 19:55] purpleidea commented on #205
Ah, glad to hear it sounds like it's fixed :)
I think in golang 1.8 or 1.9+ if $GOPATH is not set it defaults to `~/go/`. But golang is picky about working inside of it. :P

[2017-09-07 20:45] jonathangold commented on #205
submitted #211

[2017-09-07 22:01] countspongebob opened #212 "Why affero license? It's very toxic to corporate adoption due to virality."
## Versions:

* mgmt version (eg: `mgmt --version`):

* operating system/distribution (eg: `uname -a`):

* golang version (eg: `go version`):

## Description:

[2017-09-07 22:14] roidelapluie commented on #212
I do agree with that.

[2017-09-07 22:27] purpleidea commented on #212
Hi @countspongebob,

Here is some history and background. Read this with the knowledge that mgmtconfig has been designed to be especially friendly to corporations where we think much of the adoption will be.

#### History (my perspective/interpretation, not speaking for anyone else):
I and others used to be major puppet users. Back in those days, puppetlabs decided to make a lot of their once all

[2017-09-07 22:28] #212 closed

[2017-09-08 02:48] purpleidea commented on #205
Now fixed in 69f479b67e88f0d51dd11640a9d9accdd1aee129

[2017-09-08 02:48] #205 closed

[2017-09-08 09:04] joeblew99 opened #213 "Linux only ?"
This is nice for managing desktops also.
From looking SVC for example this looks like it's only designed for Linux ?

[2017-09-08 15:07] purpleidea commented on #213
@joeblew99 We barely have enough resources to sustain the project as is. Linux and systemd is the only platform I'm targeting, because it's the only one I personally care about, but if you'd like to add equivalent svc backends for different platforms or svc managers, patches are welcome.

I'm going to close this since it's a question, but feel free to open a new issue to discuss a specific patch f

[2017-09-08 15:07] #213 closed

[2017-09-08 22:48] purpleidea commented on #212
Btw, @countspongebob Do you think GPLv3 has the same problems or not?

[2017-09-09 19:49] purpleidea opened #214 "[LOVE] Remove old golang 1.6 specific issues"
This is a beginner level patch for someone who is new to golang, and new to git. It is meant to encourage new programmers to get involved with mgmt.

In mgmt we now require golang version 1.8 or greater. This small bit of code can now be improved:

https://github.com/purpleidea/mgmt/blob/0df4824a56678a8f2173838ff58817b22feefee9/resources/util.go#L97

The fix should be quite straight forward as per

[2017-09-09 20:45] purpleidea opened #215 "[LOVE] implement a user resource"
#### Intro:

This is a medium level patch for someone who is past being a golang beginner, but is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you at *least two days* of coding and testing.

In traditional config management systems there is a "user" resource. We'd like to add one in mgmt as well. You'll want to be at least casually familiar

[2017-09-09 21:05] purpleidea commented on #215
Prior art: As a bit of corroboration for our design, it seems that the cockpit project takes this approach as well as found in: https://github.com/cockpit-project/cockpit/blob/master/pkg/users/local.js

I think the systemd project should wrap /etc/passwd and provide a nice API :)

[2017-09-09 22:38] jonathangold commented on #215
I'd like to work on this.

[2017-09-10 00:16] purpleidea commented on #215
Here are my initial thoughts on what the "primary key" should be and username vs. uid. I think the username (our key) should be the main reference to the user. The uid should be a *uid which if set will ask our resource to set this particular uid. If not it will be automatically assigned. It can become a sent value if unspecified.

The easiest way to implement is to ignore uid initially and add it

[2017-09-10 01:11] purpleidea opened #216 "Engine should call all the .BaseRes stuff..."
In the resource api we call `.BaseRes.Validate()`, `.BaseRes.Init()` and so on. The engine should do this for us so that we don't have to do it.

[2017-09-10 01:12] purpleidea commented on #216
Alternatively, we could consider a different API where we pass in a big struct on resource Init and that passes in all the methods we'll use during the lifetime of the resource. TBD

[2017-09-10 19:01] roidelapluie commented on #215
UID can not be the primary key as the same UID can be assigned to 2 users

[2017-09-10 21:23] purpleidea commented on #215
@roidelapluie I thought it was that the same username could exist as two different UID's? (Which we wouldn't support anyways) -- got a reference?

[2017-09-10 21:26] roidelapluie commented on #215
man useradd

[code]

[2017-09-10 22:06] purpleidea commented on #215
That settles it!

[2017-09-11 21:03] purpleidea commented on #215
PS: I'm having second thoughts about a "core" resource like user needing to be composite. While there might be some benefits, I think there will also be some memory overhead and possibly unneeded complexity.

While I still think it's important to "DRY", here's an example for Watch:

https://github.com/purpleidea/mgmt/blob/master/resources/augeas.go#L101

We probably need the same code (modulo the

[2017-09-12 02:06] jonathangold commented on #215
Do we want to allow for non-unique UIDs? if not, the field won't be applied if there is already a user with the desired UID.

[2017-09-12 19:18] purpleidea commented on #215
@jonathangold We should probably not allow this by default, but include an option (A bool in the Struct) like AllowDuplicateUid which if true, sets the `--non-unique` option.

[2017-09-13 19:50] purpleidea commented on #212
For closure, I thought you should know that we switched to GPL https://github.com/purpleidea/mgmt/commit/46be83f8f79c8cb81fdf1eae9d951c70c69246b4 Happy hacking

[2017-09-13 20:18] countspongebob commented on #212
Switching to GPLv3 takes the discussion from "no way", to "it's complicated". This would require us to be precise about how/when/where we would use something (ahead of actually understanding our technical designs), understanding precisely how GPLV3 is linked and operated, understanding estoppel, involving legal resources in analysis of the situation, etc.

This is too high a barrier for many large

[2017-09-13 20:53] roidelapluie commented on #212
GPLv3 is pretty well known by companies ; better than AGPL. It is still clear that there is a gap between mgmt and its core componenents -- e.g. etcd (apache 2) but for most of the companies GPLv3 is fine for config management tool.

[2017-09-13 21:42] purpleidea commented on #212
@countspongebob Sorry that it's complicated, that's not the goal. It was always supposed to be about the tech.

In case it's not abundantly clear, the GPL (either V2, V3 or AGPLv3) does NOT apply to *code* or config that you write and that mgmt runs. In fact it's perfectly fine for you to run proprietary code with it, in the same way that Ansible is okay with this. (Same license as mgmt now.)

In

[2017-09-17 02:54] purpleidea opened #219 "Enhancements to user resource"
The `user` resource is just about merged, but I thought I'd take a few notes about some things to consider if we want to make it more advanced. These are things to think about longer term, and not as crucial for now.

1) Checking UID MIN/MAX:

from `man usermod`:
[code]

2) If one user account has multiple UID's, they are listed as secondary, and possibly in `/etc/subuid` and `/etc/subgid` ? Look

[2017-09-17 05:54] purpleidea opened #220 "[LOVE] implement a group resource"
#### Welcome:

This is a intro-medium level patch for someone who is past being brand-new at golang, but is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you at least one day of coding and testing for the basics, more if you work this problem further.

Ideally, we'd like you to work on a more interesting and challenging resource after you do

[2017-09-17 05:54] purpleidea commented on #219
#### Bonus/Future work:

* Add automatic edges ( https://ttboj.wordpress.com/2016/03/14/automatic-edges-in-mgmt/ ) between this resource and any other resource that might be appropriate. Eg: `file` for user fields ("Owner") there, path for home dir path, and so on... Leave any ideas for other automatic edges in the comments.

* Add a group resource. The same rough design applies, and it could have

[2017-09-17 05:56] purpleidea commented on #215
This is now closed in https://github.com/purpleidea/mgmt/commit/831c7e2c326e4fcbdec33f41cf7e0b2be433cdc5 :)

For future discussions (longer term) see: https://github.com/purpleidea/mgmt/issues/219

[2017-09-17 05:56] #215 closed

[2017-09-17 06:06] purpleidea opened #221 "[LOVE] specify the user/group in the exec resource"
#### Welcome:

This is a beginner level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

We have an "exec" resource. We'd like to pick the user that commands run as. You'll want to be at least casually familiar with the https://github.com/pu

[2017-09-18 05:32] #80 closed

[2017-10-02 13:27] hgfischer commented on #29
@purpleidea The source link from the first interaction in this issue is broken. Can you please update it to reflect current status, so I can see how difficult it is to fix it?

[2017-10-02 16:16] purpleidea commented on #29
@hgfischer Thanks for the heads up. I've fixed all the links, feel free to ping here or in #mgmtconfig on Freenode IRC.

[2017-10-18 00:13] purpleidea commented on #70
Looks like this is now FIXED in https://github.com/purpleidea/mgmt/commit/677cdea99de89572c4527406204a0a0169560bf5

Users are welcome to open new issues or PR's to add new struct features to nspawn if any are needed.

Thanks @jonathangold

[2017-10-18 00:14] purpleidea commented on #97
I think this is now fixed. If you can reproduce it with git master, please let us know!

[2017-10-18 00:14] #97 closed

[2017-10-18 00:14] purpleidea commented on #96
I think this is now fixed. If you can reproduce it with git master, please let us know!

[2017-10-18 00:14] #96 closed

[2017-10-24 01:04] purpleidea commented on #220
Finished in https://github.com/purpleidea/mgmt/commit/9907c12eda9600b289a62c4f7ea9e666b159fff1 thanks to @jonathangold

Automatic edges to files are certainly welcome!

[2017-10-24 01:04] #220 closed

[2017-10-24 01:16] purpleidea commented on #193
Hey @mildred -- We'd love to have you in the AUTHORS file. I'm going to close this issue, but feel free to send a patch if you're ever interested!

Thanks again.

[2017-10-24 01:16] #193 closed

[2017-10-24 01:16] #70 closed

[2017-10-27 22:24] rismoney commented on #2
I like the idea of a full language, in conjunction with a DSL.  Powershell DSC I think does this but everything is really posh, just like chef everything I think is Ruby valid.

  Puppet DSL can be confining but the declarative nature and DAG is rather nice (maybe it's not a stellar implementation in clojure/Ruby) but fundamentally I like it.

Using an approach like Jenkins does with groovy,  whit

[2017-10-28 15:49] purpleidea commented on #2
@rismoney The terraform link was a good summary! I wrote a similar article many years ago about how to do iteration in puppet: https://ttboj.wordpress.com/2013/11/17/iteration-in-puppet/ -- the language work I'm doing will probably extend those concepts further but be substantially similar. If you have objections, speak up now :)

Would you like to get involved in helping build the language? Pleas

[2017-10-29 17:40] purpleidea opened #233 "[LOVE] docs: add mgmt to software directory"
This is a beginner issue for someone who'd rather do a small amount of text writing instead of code.

Please add mgmt to the directory: https://directory.fsf.org/wiki/Main_Page

I've never done this before, so please feel free to ask any questions you have here or in the IRC channel #mgmtconfig on Freenode.

Thanks!

[2017-11-01 11:12] purpleidea opened #235 "Design: Composite resource API"
### Intro:

I've been thinking about the resource API. I've got some medium term range ideas for some structural changes about how it's actually implemented in the engine, but I'm pretty happy about the actual implemented methods in the `Res` interface.

One thing that seems to be coming up more often is how to handle the idea of composite resources, in other words, when one resource is explicitly

[2017-11-05 00:57] automaticgiant opened #237 "assume targets are same arch/os"
## Versions:

* mgmt version (eg: `mgmt --version`):
`0.0.13-8-g9cfa0b1-dirty` (i assume it dirtified because i added https://stackoverflow.com/questions/44269142/golang-ssh-getting-must-specify-hoskeycallback-error-despite-setting-it-to-n but that's something else
* operating system/distribution (eg: `uname -a`):
`Darwin f45c89bd73ab 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 20

[2017-11-05 01:00] automaticgiant commented on #4
i just started getting into this. osx isn't my first choice, but it's what i have for work.
## Versions:

* mgmt version (eg: `mgmt --version`):
`0.0.13-8-g9cfa0b1-dirty` (i assume it dirtified because i added https://stackoverflow.com/questions/44269142/golang-ssh-getting-must-specify-hoskeycallback-error-despite-setting-it-to-n but that's something else - was doing this before i dirtified.
* ope

[2017-11-06 04:31] jonathangold commented on #235
This seems like the most logical design. I propose **Compose()** for the method name since we call the results "composite" resources. It also implies that resources are composable, which they will be.

[2017-11-06 09:41] purpleidea commented on #4
@automaticgiant want to send a patch to fix the ssh issue?

Are you getting a ^C blocker? I don't test on OSX, but if you could open a new issue and when you're stuck hit ^\ (as per: https://ttboj.wordpress.com/2016/02/15/debugging-golang-programs/ ) and paste it there.

[2017-11-06 09:45] purpleidea commented on #237
@automaticgiant Indeed at the moment I'm personally only developing for GNU/Linux machines. Actually I'm only really trying to ensure we support Debian and Fedora for now. Having said that, I'm happy to accept patches for other operating systems, I'm just not writing them. If you'd like to work on a patch for this, I'm happy to mentor and review it. Let me know!

[2017-11-10 13:20] purpleidea opened #245 "Does aws:ec2 always close properly?"
I think I found a bug in current git master aws:ec2 code. This line:

https://github.com/purpleidea/mgmt/blob/c8ddbeaa5cb894909e22379eaca326b7d8336aa8/resources/aws_ec2.go#L436

with `close(obj.closeChan)` -- I don't know why I didn't notice earlier, or maybe I'm sleepy and it doesn't matter, but there are situations where we exit `Watch` without calling this. So I think this is a bug which could

[2017-11-10 19:19] purpleidea commented on #245
https://github.com/purpleidea/mgmt/pull/246

[2017-11-11 13:30] rismoney commented on #2
https://github.com/hashicorp/hcl2/blob/master/hcl/hclsyntax/spec.md
https://github.com/hashicorp/hcl2/blob/master/hcl/spec.md

[2017-11-23 15:58] purpleidea commented on #214
This is now fixed :)

Thanks!

[2017-11-23 15:58] #214 closed

[2017-11-26 10:33] xiu opened #271 "file: Should we support relative paths?"
See https://github.com/purpleidea/mgmt/pull/270#discussion_r153056822.

Since we're adding autoedges between file and exec for instance, we need to have the exact same reference on both sides to be sure it'll work.

Consider the following graph:
[code]

Should we start mgmt in /home/vagrant, both resources would point to the same file and should have an autoedge between them.

One solution could b

[2017-11-26 10:42] purpleidea commented on #271
Internally (RE: your question) I think we should only deal with absolute paths.

The question for me is, is there a clever thing we should do to allow relative (input) paths in certain scenarios or not? If not then as your correctly point out, we need to add a Validate() check.

Discuss...

/cc @ffrank (puppet genius)

[2017-11-27 20:32] purpleidea opened #273 "AWS:EC2 Roadmap"
## Here is a short roadmap of things we want in aws:ec2
@jonathangold is hacking on all this stuff. We build this roadmap together.

### Short term
- [ ] Finish off sns stuff https://github.com/purpleidea/mgmt/pull/272
- [ ] LongPollWatch bug: `WaitUntilInstanceStopped` doesn't detect when instances terminate

### Medium term (cool/important stuff!)
- [ ] Mgmt Bootstrapping param which takes over

[2017-11-27 22:34] jonathangold commented on #273
We should add: Research mock clients and write tests.
Testing methods that don't require an aws, cwe or sns client could be included or added as an additional task.

[2017-11-27 22:51] jonathangold commented on #273
Just some thoughts on SQS Watch benefits:
- No state-checking (longpollWatch does different things depending on instance/definition state)
- Compatible with existing CloudWatch code
- Very similar to existing SNS code (ie. snsAuthorize -> sqsAuthorize is only a few lines. It is even likely possible to use one method for both.)
- Can be generalized and applied to future aws resources, unlike longpo

[2017-11-30 18:47] purpleidea opened #277 "New Resource: Remote Execution"
## Background

In mgmt I implemented a core "remote execution" feature. A blog post about this is available:
https://ttboj.wordpress.com/2016/10/07/remote-execution-in-mgmt/
One of my goals with this feature was to show how bootstrapping new clusters could be achieved (one of the _valid_ uses for central orchestration IMHO) and to show how a distributed system that operates like mgmt can have remo

[2017-12-07 21:35] purpleidea commented on #182
This is 90% done, w00t! We could also add these edges between exec files and any possible `file` resources.

As a bonus, it might be smart to only add the edges if the file is marked as executable in the ownership area of a possible user that would run it.

IOW, if:

file mode is u=rx;go=r, AND
file owner is foo AND
exec user is foo, then we should add the autoedge: https://github.com/purpleidea/m

[2017-12-07 21:41] purpleidea commented on #221
Over 80% of this is merged! w00t!

What remains is the automatic edges portion. 1/2 of which is here: https://github.com/purpleidea/mgmt/pull/270/files

[2017-12-09 17:42] daenney commented on #187
I know this is a popular feature in other places, like Puppet, but it's also a rather common source of problems. Whichever way this gets implemented it's usually rather sensitive to the source that's being modified changing.

From my point of view, all we're doing is applying a patch to a config file, like the venerable `patch` allows you to do. Patch tends to also be less sensitive to things movi

[2017-12-12 10:12] jonathangold commented on #273
@purpleidea See #284 re: SNS stuff.

[2017-12-15 21:42] jonathangold commented on #273
Here's a list of functions a mock ec2 client interface needs for testing (this does not include sns):
- DescribeInstances
- StartInstances
- StopInstances
- TerminateInstances
- RunInstances
- CreateTags
- WaituntilInstanceExistsWithContext
- WaituntilInstanceStartedWithContext
- WaituntilInstanceStoppedWithContext

[2017-12-17 08:50] DanielHouston commented on #113
CI is my Jam - I see no reason why we can't use test-reproducable.sh as a gate to autonomous releases. Can I get view access on the travis jobs?

[2017-12-17 09:03] purpleidea commented on #113
@DanielHouston You should not be blocked from seeing anything in CI.

[2017-12-17 14:26] DanielHouston commented on #113
Regarding verification: The simpliest solution is using ol' fashioned public key verification.

You own foo.com:

Upon release you run a generate-hash.sh from your developer machine; which takes your private key and to produce a hash of the latest the mgmt executable.

encrypted hash of mgmt executable pushed to foo.com/mgmt/releases/${release.x.x.x}/hash

new release is tagged and pushed to relea

[2017-12-20 11:39] purpleidea opened #286 "New test for bash shellcheck"
(Very low priority)

Add support for shellcheck

We have a few shell scripts and tests written in bash. It would be really cool to add support for https://github.com/koalaman/shellcheck to add to the existing small https://github.com/purpleidea/mgmt/blob/master/test/test-bashfmt.sh script we have.

We probably want to roll this incrementally so that initially we only check for the really bad thing

[2017-12-20 15:56] kwilczynski commented on #221
Hi @purpleidea!

I wanted to take this one, but just noticed that circa two weeks ago it almost got completed. What is outstanding and what else needs to be done?

I am here to help!

[2017-12-20 20:22] purpleidea commented on #221
@kwilczynski Hey, great! The autoedges from exec to user/group as shown in PR#270 is only 1/2 done. If you want to send a patch against that, I can merge both. Unless @xiu is finishing it...

Alternatively there are other patches to write :)

[2017-12-21 12:54] jumanjiman commented on #286
i'll take this one.

i've been pushing my team at work to apply shellcheck and whip our scripts into shape so they look like they are all written by one hand.

[2017-12-21 12:56] purpleidea commented on #286
@jumanjiman Awesome! We don't have many shell scripts, but any automatic testing is good. :)

[2017-12-21 14:15] xiu commented on #221
hey @kwilczynski, you can go ahead and finish it if you want, you will be faster as I'm not really available currently. If you need help don't hesitate to ping me on IRC, I'll answer as soon as possible!

[2017-12-21 15:06] Cinderhaze commented on #286
@jumanjiman - I'll be interested to see how you do this one, I recently discovered shellcheck and have similar aspirations for at work ;)

[2017-12-21 18:55] jonathangold commented on #245
#288

[2018-01-02 22:13] purpleidea commented on #199
@AdnanLFC Any chance you're still working on this? Please let us know either way, thanks!

[2018-01-17 15:30] ikrauchanka commented on #233
the form has been submitted, waiting for review, I'm not sure how fast it will go.
Mgmt is listed under Category/System-administration/configuration/.

[2018-01-17 20:32] ffrank commented on #271
I would agree that relative paths make no sense, because the CWD of the mgmt process feels like a silly bit of trivia. It does not seem feasible to keep track of it in a larger cluster. Let's just forbid it.

Even Puppet does not allow relative paths, which would almost even make sense for standalone local manifest invocation, But both Puppet and mgmt are natively distributed, so I think we should

[2018-02-03 13:07] purpleidea opened #297 "[feat] rpm/COPR packaging"
We need a proper RPM package for mgmt.

There is an early COPR repro, but it is currently broken: https://copr.fedorainfracloud.org/coprs/purpleidea/mgmt/

There is a .spec file which needs patches: https://github.com/purpleidea/mgmt/blob/master/spec.in

And in the https://github.com/purpleidea/mgmt/blob/master/Makefile there are targets that I can run to push these builds periodically.

If you're

[2018-02-03 13:08] purpleidea commented on #297
/cc @br0ziliy

[2018-02-07 11:03] lsc opened #299 "CLI parse error"
## Versions:

* mgmt version (eg: `mgmt --version`):
[vagrant@localhost mgmt]$ ./mgmt --version
mgmt version 0.0.14-4-gb19583e

* operating system/distribution (eg: `uname -a`):
Linux localhost.localdomain 4.11.8-300.fc26.x86_64 #1 SMP Thu Jun 29 20:09:48 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

* golang version (eg: `go version`):
go version
go version go1.8.5 linux/amd64

## Description:

Failin

[2018-02-07 11:15] lsc commented on #299
This also works
`[vagrant@localhost mgmt]$ ./mgmt run  --yaml examples/yaml/exec1b.yaml --converged-timeout 5 --tmp-prefix`

[2018-02-07 15:36] aequitas opened #303 "macOS: Build error `undefined: syscall.Sysinfo_t` since lang feature"
## Versions:

* mgmt version (eg: `mgmt --version`): N/A

* operating system/distribution (eg: `uname -a`): Darwin Firefly.local 16.7.0 Darwin Kernel Version 16.7.0: Mon Nov 13 21:56:25 PST 2017; root:xnu-3789.72.11~1/RELEASE_X86_64 x86_64

* golang version (eg: `go version`): go version go1.9.3 darwin/amd64

## Description:

I don't know if macOS is currently supported for lang but on the latest

[2018-02-08 03:02] purpleidea commented on #303
Re your question, please see:
https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#does-this-support-windows-osx-gnu-hurd

Happy to merge your patch, discussion in PR...

[2018-02-08 10:32] aequitas commented on #303
Cool, I agree macOS (it's no longer called OSX ;)) is not a high prio as probably no-one will use it for what mgmt is intended for (although I already see myself managing my laptop with mgmt). But I think it's nice to be able to develop on the tool with as little in between as possible (eg: vagrant/docker). So as long as it's relevant to me I'll keep it as my task to support this.

[2018-02-08 19:35] dgoetz commented on #297
I could identify several issues with the current spec and Makefile.
* The release version should not be "untagged" for a snapshot version instead it should contain date and commit. I would change the Makefile in following way.
[code]
* The changelog creation gives you an changelog not ordered by date which can be fixed by using this in the Makefile.
[code]
* The spec is perhaps also missing someth

[2018-02-08 21:44] aequitas opened #305 "have `run --lang` accept a directory argument"
Coming back to my idea of an include statement. Having a directory with a file organisation is nice to have. Since the language is declarative file load order should be irrelevant. Hence maybe it is an idea to have mgmt accept a directory for `--lang` as well and have it recurse for `*.mcl` files that will be combined into the `start.mcl` file before copying it here https://github.com/purpleidea/m

[2018-02-08 22:12] purpleidea commented on #305
@aequitas Here's what I know:

I still need to implement a notion of singletons and `ExprFunc` values in the language. There are some other missing pieces too. With these will come some notion of modules...

I haven't decided whether we should require some sort of explicit directory structure or not. Discussion is welcome here.

Lastly, for the compiler to work properly, we essentially combine all

[2018-02-10 12:28] purpleidea commented on #303
Hrm, so AFAICT, this is now fixed :) Should we close?

[2018-02-10 12:30] purpleidea opened #308 "[LOVE] Change Res API from Compare to Cmp"
#### EDIT:

This is 90% done, what remains is listed here: https://github.com/purpleidea/mgmt/issues/308#issuecomment-443588101

#### Welcome:

This is a beginner to intermediate level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt ha

[2018-02-10 12:30] purpleidea opened #309 "[LOVE] Test out the etcd fs implementation"
#### Welcome:

This is a intermediate level patch for someone who is learning or somewhat knowledgeable about golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt has runs an embedded etcd server as part of it's clustering operations. To deploy code into etcd, the user us

[2018-02-10 12:31] purpleidea opened #310 "[LOVE] Improve the printf function to support more types"
#### Welcome:

This is a intermediate to difficult level patch for someone who is either knowledgeable about golang or knowledgeable about algorithms. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt has a statically typed DSL (programming language) that contains a number of built-in functions.

[2018-02-10 12:32] purpleidea opened #311 "[LOVE] Add a convert function to the mgmt language"
#### Welcome:

This is a intermediate to difficult level patch for someone who is at least somewhat knowledgeable about golang and who wishes to learn more about how the polymorphic function API works in mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt has a statically typed DSL (programmi

[2018-02-10 12:32] aequitas commented on #303
Sure thing

[2018-02-10 12:32] #303 closed

[2018-02-10 12:32] purpleidea opened #312 "[LOVE] Add an info sub command to mgmt to report information"
#### Welcome:

This is a beginner to intermediate level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt has a number of golang interfaces which are implemented by different components in mgmt. Most of these are registered at runtime. W

[2018-02-10 12:33] purpleidea opened #313 "[LOVE] Add DSL fast type-checking as a sub-command"
#### Welcome:

This is a beginner to intermediate level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete.

#### Intro:

Mgmt has a built-in language. To run code, we start up the engine, invoke the many steps in the compilation process, and on error, shutd

[2018-02-10 12:33] purpleidea opened #314 "[LOVE] Add a mount resource"
#### Welcome:

This is a intermediate level patch for someone who has some experience in golang, and who is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you at least a day or so to complete.

#### Intro:

Mgmt has a number of resources. We'd like for you to add one more. We'd like to have a "mount" resource which can mount or unmount.
To im

[2018-02-10 12:34] purpleidea opened #315 "[LOVE] Add a host (/etc/hosts) resource"
#### Welcome:

This is a intermediate level patch for someone who has some experience in golang, and who is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you at least a day or so to complete.

#### Intro:

Mgmt has a number of resources. We'd like for you to add one more. You should add a "host" resource to manage entries in /etc/hosts.
To i

[2018-02-10 12:35] purpleidea opened #316 "[LOVE] Build self-contained static binaries with DSL code contained"
#### Welcome:

This is a difficult patch for someone who has experience in golang, and some experience in mgmt. It is meant to encourage an mgmt hacker to get more deeply involved with mgmt. It will probably take you at least a few days or so to complete.

#### Intro:

Mgmt is written in golang and as a result can be compiled into a nice, self-contained package.
It can accept and run some code (eg

[2018-02-10 12:35] purpleidea opened #317 "[LOVE] Add new --conservative flag to puppet compiler"
#### Welcome:

This is a beginner level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours or so to complete.

#### Intro:

Mgmt has this really awesome puppet sub-command which lets you compile puppet code to run on mgmt.
We need to add a golang flag to support the `--conservative` o

[2018-02-10 12:36] purpleidea opened #318 "[LOVE] Support terraform resources with polling"
#### Welcome:

This is a difficult patch for someone who has experience in golang, and some experience in mgmt or terraform. It is meant to encourage an mgmt hacker to get more deeply involved with mgmt. It will probably take you at least a week or more to complete.

#### Intro:

Mgmt is a relatively new tool written in golang. It doesn't have as many "cloud" resources as other tools like terrafor

[2018-02-10 12:36] purpleidea opened #319 "[LOVE] Add a config file to replace common command line flags"
#### Welcome:

This is a beginner level patch for someone who is new to golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours or so to complete.

#### Intro:

Mgmt has a number of flags which are commonly passed in when testing and debugging. They include `--tmp-prefix`, `--no-pgp`, and others.
We'd like a way to speci

[2018-02-10 12:37] purpleidea opened #320 "[LOVE] Unify all the various debug flags under a single arg"
#### Welcome:

This is a beginner to intermediate level patch for someone who is new or somewhat familiar with golang, and is new to mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours or so to complete.

#### Intro:

Mgmt has a number of different debug flags and booleans throughout the code base. We'd like to unify them all behind a sin

[2018-02-10 15:40] purpleidea commented on #308
You'll also want to update these comments: https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#why-do-resources-have-both-a-compare-method-and-an-iff-on-the-uid-method

[2018-02-10 22:47] aequitas opened #322 "Enless loop of watching"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.14-13-g7e6d013-dirty

* operating system/distribution (eg: `uname -a`): Linux faalserver 3.16.0-4-amd64 #1 SMP Debian 3.16.51-2 (2017-12-03) x86_64 GNU/Linux

* golang version (eg: `go version`): ?

## Description:

When converting Puppet code to YAML using @ffrank module some configurations can cause a lot of `Watching: <service name>.servi

[2018-02-10 22:52] aequitas commented on #322
[code]

[2018-02-10 22:57] aequitas commented on #322
![out](https://user-images.githubusercontent.com/365827/36067461-16eb84d6-0ebe-11e8-90d0-40859330c4c8.png)

[2018-02-10 23:14] aequitas commented on #322
`--sema=1` might mitigate a little, still a lot of `Watching: ` messages but at least it converges.

Unabridged:
[code]

[2018-02-11 15:09] aequitas opened #327 "Crossbuild is currently broken"
[code]

workaround:

[code]

[2018-02-13 06:26] jcftang opened #330 "Build dependency issue..."
## Versions:

* mgmt version (eg: `mgmt --version`):

master/any

* operating system/distribution (eg: `uname -a`):

linux/osx

* golang version (eg: `go version`):

1.9.x and 1.10.x

## Description:

This is more of  golang dependency issue....

[code]

It would be nice if the project used glide or godep to track the package dependency tree to prevent mismatches of the needed packages to build mg

[2018-02-14 18:02] purpleidea opened #331 "Makefile is slow even when there's nothing to do"
After 22e4dfa534a25251f10d472eb4e105cfd5728a01 running: `make` takes about six seconds before I see: "Generating: bindata..." where as at: 41eb850b3d72a3d75ef36001d6b0fcdcd7302cc8 it happens instantly.

If you can debug what is so slow, please do and send a fix, otherwise I might have to revert this commit for now.

Thanks,
James

/cc @aequitas

[2018-02-14 19:05] purpleidea commented on #330
Hey @jcftang !

This is a very valid question, and one which is currently poorly explained in our documentation. As a result, I have added an entry about this to our FAQ: https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#why-arent-you-using-glide-or-godep-for-dependency-management

The fix for your situation most likely requires you running `git submodule init && git submodule update` if

[2018-02-14 19:05] #330 closed

[2018-02-14 20:03] aequitas commented on #331
I'm going to chase after this. I'm slowly starting to adopt you habit of prepending time before every command :)

[2018-02-14 20:05] purpleidea commented on #331
@aequitas haha, I mostly only do it for demos which I started doing after I added `--converged-timeout` to mgmt, and was using it to show how fast it was.

Thanks!!

[2018-02-14 20:11] jcftang commented on #330
@purpleidea yep, that pointed me in the right direction

[2018-02-14 20:16] purpleidea commented on #331
there is one difference in particular (when the
                    binary is already made) which is that the "Generating:
                    bindata..." appears instantly in the old version, and in
                    the new version takes 7 seconds. The issue is *actually*
                    that it takes 7 seconds to run, when everything is already
                    built correctly.

So the

[2018-02-14 20:24] purpleidea commented on #331
Here's some output after make is already run... It should have nothing to do, but it's doing something. So probably not the fault of the latest commit, although that commit does change when the output from make happens.

[code]

[2018-02-14 22:49] purpleidea opened #333 "[DESIGN] Specifying an "undef" equivalent in resources"
What follows is an open design discussion on how we should proceed about specifying the equivalent to `undef` in our resources. Please join in if you have something helpful to contribute. Thanks!

### The problem:

In many tools such as puppet, for a resource, there is the notion of a difference between "no param specified" and "param contains the empty value". The most canonical example is the `f

[2018-02-14 23:15] purpleidea commented on #331
If I switch:

[code]
to:
[code]
It's very fast. Even though running:

[code]

takes:

[code]

I guess make is getting overwhelmed by all the targets :\

[2018-02-14 23:44] purpleidea commented on #331
Fixed in b8b6e5266f91cab4934ee56f307c6e474c5e9027

[2018-02-14 23:44] #331 closed

[2018-02-15 00:43] purpleidea opened #334 "[Discuss] Should we move to golang 1.9 and etcd 3.3 ?"
See here:

https://www.redhat.com/archives/mgmtconfig-list/2018-February/msg00000.html

If no major objections I'll be pushing this through shortly.

[2018-02-15 07:23] jcftang commented on #334
+1 on upping the dependency to something recent

[2018-02-15 21:50] purpleidea opened #335 "[LOVE] Add Makefile "tab completion" for golang tests"
### Intro

This is a one - four hour patch for someone who wants to play around with `Make`, shell, and golang tests.

### The status quo

In a previous commit, mgmt contributor @aequitas has written some magnificent patches that add test name tab completion to our Makefile. This enables you to now do:

[code]
and see a list of possible results. Running one of them will run that particular test, o

[2018-02-15 21:50] purpleidea commented on #334
Patch cooking here...
https://github.com/purpleidea/mgmt/tree/feat/bump-etcd

[2018-02-15 21:51] purpleidea commented on #335
PS: This patch can get merged as soon https://github.com/purpleidea/mgmt/issues/334 is fixed, which should be any moment now. Don't let this block you, and make sure you're on golang 1.9+ for testing.

[2018-02-15 22:37] logicminds opened #336 "time package requirement"
## Versions:

* mgmt version (eg: `mgmt --version`):
0.0.14-30-ge3a2648
* operating system/distribution (eg: `uname -a`):
Docker image: golang:latest
* golang version (eg: `go version`):
1.9.4
## Description:
Followed the steps from the getting started doc.  Ran into this issue

https://github.com/purpleidea/mgmt/blob/master/docs/quick-start-guide.md#setting-up-golang

[code]

[2018-02-15 22:39] purpleidea commented on #336
@logicminds Oh wow. You don't have the `time` package installed. Can you install it?

[2018-02-15 22:47] logicminds commented on #336
yup.  Submitting PR too.

[2018-02-16 16:01] aequitas opened #340 "ctrl-c/interrupt/errors during init won't exit mgmt"
lib.Main:Exit sends to a channel:
https://github.com/purpleidea/mgmt/blob/9ba893c06c1058f39ac1e1ed7791d8386fd70065/lib/main.go#L199-L201

that will not be listened to until Main is 'running': https://github.com/purpleidea/mgmt/blob/9ba893c06c1058f39ac1e1ed7791d8386fd70065/lib/main.go#L807

At several points that causes mgmt to get 'stuck'. For example while connecting to to an unreachable seed[0]

[2018-02-18 19:54] purpleidea opened #342 "Add @jonathangold to AUTHORS file"
Gasp! @jonathangold

You're not there yet. I think we need a patch please!

Thanks!

[2018-02-18 21:34] purpleidea commented on #334
Done in git master.

[2018-02-18 21:34] #334 closed

[2018-02-18 22:01] purpleidea commented on #340
@aequitas I'll be honest: our lib/main.go is a bit terrible, and needs some rewriting...

[2018-02-18 22:18] aequitas commented on #340
@purpleidea yea, I started a short debug session but figured it would take a bit more time :D But is doesn't look that bad from a distance :)

So this is just the recording of my investigation for when I (or anyone else) wants to pick this up.

[2018-02-18 22:22] aequitas commented on #340
@purpleidea Cool, when I have my initial setup running I'll resync on this with you and see what I can do :)

[2018-02-18 23:31] purpleidea commented on #196
merged in https://github.com/purpleidea/mgmt/commit/24cb2e6450bae2cfecfa7322695d6b6eeec14c19

Thanks again, and sorry for our misfire in thinking the patch would have worked earlier. Please let us know if we can help you get involved with any other issues.

[2018-02-18 23:31] #196 closed

[2018-02-20 13:55] ofrzeta opened #344 "make deps issues"
## Versions:

* operating system/distribution (eg: `uname -a`):

CentOS 7

* golang version (eg: `go version`):

Go 1.10

## Description:

Building mgmt according to the Quickstart fails with the following error messages during "make dep":

[code]

Also I noticed that "make dep" downgrades my Go installation because it installs the distribution package (same on Ubuntu 16.04).

[2018-02-20 17:08] purpleidea commented on #344
@ofrzeta This is a common bug, we need to patch. The rest of the deps should have been installed correctly. I think if you have $GOBIN in your path, then you don't hit this bug.

Other than that, sorry we installed a golang version! I would recommend writing a patch that checks for an existing golang of a sufficient version before installing if you'd be interested!

Thanks for the report.

[2018-02-20 23:27] ofrzeta commented on #344
The build doesn't work, though, because "go-bindata" can't be found. I will try to look into the makedeps problem and report later.

[2018-02-20 23:30] purpleidea commented on #344
@ofrzeta Ah! The `misc/make-deps.sh` has been an excellent learning experience about environments that it doesn't work in. Sorry about that. You can fix that by running this line:

https://github.com/purpleidea/mgmt/blob/master/misc/make-deps.sh#L94

I'm going to close this issue for now, but if you have any ways to improve the script, so that it would be more robust to your environment, please se

[2018-02-20 23:30] #344 closed

[2018-02-21 01:30] purpleidea opened #347 "`make build` doesn't notice deleted files"
If you run `make build`, and then delete a `*.go` file, and then run `make build` again, it won't notice that the build should be remade. Woops.

Not a big deal, but I thought I'd mention it in case there was an easy fix.

If you know the fix, please send us a patch :)

[2018-02-21 16:56] mavit opened #348 "Emacs support for language"
I've prepared rudimentary Emacs support for the mgmt language, at https://github.com/mavit/mgmt-mode.

Would you like to import this into the mgmt Git repository, or keep it separate?  Once a URL for it is settled, I can prepare a recipe to incorporate it into the Emacs package repository at https://melpa.org/.

[2018-02-21 17:44] purpleidea commented on #348
@mavit Oh wow!

Thank you!

This has been on my TODO list for as long as I knew I needed to build a language! See: https://github.com/purpleidea/mgmt/blob/master/TODO.md#language-improvements

I would love to have this upstream here, maybe you could recommend where it should go? Perhaps an `emacs/` directory or `misc/emacs/` ? Alternate suggestions are welcome.

My only thought would be to conside

[2018-02-21 18:47] mavit commented on #348
Lets go with `misc/emacs/`, assuming that there'll be a `misc/vim/` in future.

I must admit I found the branding a bit muddled: sometimes "mgmt", sometimes "mgmtconfig".  Happy to rename to `mgmtconfig-mode` if that's preferred by you.

I'll prepare a pull request.

[2018-02-22 04:10] #336 closed

[2018-02-22 16:46] logicminds commented on #336
Was this fixed?

[2018-02-22 17:19] purpleidea commented on #336
Yup

[2018-02-22 22:04] purpleidea commented on #33
Merged in 9544ab2e02418398cb178253b3e05ae44be71374

[2018-02-23 18:43] purpleidea commented on #342
Merged :)

[2018-02-23 18:43] #342 closed

[2018-02-23 18:51] purpleidea opened #357 "Add aequitas to AUTHORS file"
New mgmt contributor @aequitas has been on a hacking spree. I think it's probably time to be in the AUTHORS file...

Want to send us a patch please?

[2018-02-23 22:57] purpleidea commented on #2
I forgot to mention it earlier, but we now have a language in git master...

It's not finished, but it's a solid start, and you can read about what I was doing here:

https://purpleidea.com/blog/2018/02/05/mgmt-configuration-language/

I've been thinking about this for a long time, even before this issue was opened, so I'm glad we've finally got something merged. Patches welcome if you find any is

[2018-02-23 22:57] #2 closed

[2018-02-25 21:39] purpleidea commented on #357
Merged!

[2018-02-25 21:39] #357 closed

[2018-02-25 22:50] purpleidea commented on #333
haha, I agree, we *aren't* adding a `null` :)

Yes, to clarify, all of the "Solving the problem" options were meant as special syntax. IOW, if we used the `if` inside a resource, that's actually just special syntax as part of the resource in the parser, not arbitrary constructs. Similarly the "elvis operator" variant (option 4) would also be a special inside-resources-construct as well.

A fancier

[2018-02-25 23:29] roidelapluie commented on #333
Why don't we just imitate go and say that there is no undef value, just "zero" values?

[2018-02-25 23:31] purpleidea commented on #333
The problem is that for some parameters there is a distinction in behaviour, eg for file:

content => "" # empty string means contents should be empty

vs

missing content, means don't touch the file contents (maybe we're only changing the mode)

[2018-02-26 00:52] purpleidea commented on #348
Since the initial commit is merged, I am going to close this, but future patches/improvements are certainly welcome!

We just added edge support, and I also noticed that a few of the entries you added from resources/*.go are not actually resources.

Thanks again!

[2018-02-26 00:52] #348 closed

[2018-02-26 01:51] purpleidea commented on #333
Here's an initial implementation of the fourth option (the `elvis` operator): https://github.com/purpleidea/mgmt/tree/feat/elvis

I'm tempted to merge this unless there's more discussion to be had. Also happy to reconsider and change the design if there's a better solution.

@ffrank I am a bit ashamed I didn't include a test with the patch, but I did add docs! \o/

[2018-02-26 08:42] ffrank commented on #333
Looks like a fair compromise to me.

[2018-02-26 15:35] aequitas opened #360 "mgmt run crashes/exits on lang syntax errors"
Running custom build using https://github.com/purpleidea/mgmt/pull/343, but also reproducible on master.

Given the mcl (with a missing comma after `"test"`) (full log below):
[code]

The server will throw this after a deploy:
[code]

Resulting in the server quitting and the mgmt systemd service going into a restart loop preventing any further deploys to correct the problem.

Solutions:

- Have mg

[2018-02-26 15:39] purpleidea commented on #360
This is because of the systemd service file that is starting mgmt?

Assuming that's right, then this is a good point. Actually it shouldn't be shutting down on error, it should just error that deploy and leave mgmt running, but I didn't implement it that way. I agree it's an issue, so ACK to this being a bug. (More of a missing feature.)

[2018-02-26 15:45] aequitas commented on #360
@purpleidea do you have time to pick this up? Otherwise I'll dive into this.

[2018-02-26 15:48] purpleidea commented on #360
@aequitas All yours. One disclaimer, some of the logic in lib/ which does this is a bit tricky. Your work would probably be much easier if https://github.com/purpleidea/mgmt/issues/277 was solved first, because that would move a bunch of code out of there.

[2018-02-26 15:48] aequitas commented on #335
I did a little investigation on this, probably `go test -list` is to slow to make this a usable feature (at least for me with Fish shell, as it doesn't do completion caching). But I'll ponder over this some more.

[2018-02-26 15:49] purpleidea commented on #335
@aequitas Good point which I hadn't considered.

[2018-02-26 15:49] aequitas commented on #360
I'll focus on the mitigation first then. So adding a basic `lint` subcommand and maybe lint support for the `deploy` subcommand.

[2018-02-26 15:51] purpleidea commented on #360
Looks like https://github.com/purpleidea/mgmt/issues/313
Related is https://github.com/purpleidea/mgmt/issues/312

[2018-02-26 16:50] aequitas commented on #313
I've started working on this.

I suggest using the `--lint` flag or `lint` subcommand instead of `--check` as it might be confused by ansible users for a dry-run/noop deployment.

[2018-02-26 17:03] purpleidea commented on #313
@aequitas Maybe it should even be a pre-step of running deploy?

[2018-02-27 16:54] aequitas opened #364 "Feature: heredoc"
Lang should support some kind of heredoc, eg:

[code]

Reference: https://github.com/puppetlabs/puppet-specifications/blob/master/language/heredoc.md

[2018-02-27 19:37] purpleidea commented on #364
@aequitas I was thinking about it, but don't know how to do this in the lexer. We'd have to agree on syntax first, and not copy puppet.

[2018-02-27 19:50] aequitas commented on #364
Agree, first syntax/design needs to be discussed. I think some good parts can be taken from the current Puppet syntax, but not everything might be needed. For MVP leading whitespace stripping should be a feature imho.

[2018-02-27 19:55] purpleidea commented on #364
I find that avoiding thinking about what others does is a good way to think about design. Come up with a novel approach, and THEN compare after if necessary. Don't get tunnel visioned into something you already know.

Everyone agrees about tab prefix stripping :)

[2018-02-28 00:56] hexfusion commented on #309
Hi @purpleidea, I would be interested in picking this up. Thank you for the nice outline of the tasks.

[2018-02-28 01:00] purpleidea commented on #309
@hexfusion Fantastic! Assuming you're going to start with some basic tests, great and let me know what you find. I hope their aren't any bugs, but no promises.

If you end up in "clustered tests" scenarios, please ping before writing a whole integration test helper. There's someone working on such a thing, which combining forces on would be preferable :)

Thanks!

[2018-02-28 21:41] purpleidea commented on #277
Design note:

I was thinking about how the `Watch` part of this resource should work. Here's one idea:

Watch should open up a connection to our local etcd store on the membership list. When we `remote` to a new host and "bootstrap" it, it will join the cluster. Once that's done, we'll get an event :) If it ever disconnects from the cluster, we'll get a "remove" event, and we can run `CheckApply`

[2018-03-01 03:03] nwmcsween opened #366 "Separation of concerns using plugins or compile time options"
If mgmt ever grows beyond Linux or supports multiple implementations of any software it will need to either gain a compile time option support or a plugin system.

[2018-03-01 07:53] purpleidea commented on #366
I have a design (currently offline) for pluggable resources, functions and other aspects using golang's dlopen (`plugin`). I allude to it in the FAQ's.

I'm not planning on working on this for a while, but if you'd like to build this, happy to share the design and review your patches!

I'm going to close this since it's not an open issue that we can act on, and more of commentary. Join us on the m

[2018-03-01 07:53] #366 closed

[2018-03-10 12:00] xet7 opened #369 "mgmt does not keep mariadb running on CentOS 7"
## Versions:

* mgmt version (eg: `mgmt --version`):

mgmt version 0.0.15-3-gfdd698d

* operating system/distribution (eg: `uname -a`):

CentOS 7, running on VM on top of OpenStack

Linux subdomain.example.com 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

* golang version (eg: `go version`):

go1.9.1.linux-amd64
https://github.com/purpleidea/mgmt/blo

[2018-03-10 12:08] purpleidea commented on #369
You've found another previously unknown state that we don't yet handle. This commit: https://github.com/purpleidea/mgmt/commit/fdd698dadea7061c119ebf612972546ebd630fab#diff-8bce8caa5fe7da7642f1fe04b8589616R185 was just recently added to fix a similar issue with "deactivating". Would you like to write the patch to add "activating" ? It will get you some free internet points :)

If not, no problem,

[2018-03-10 12:12] xet7 commented on #369
@purpleidea

Cool, of course I'll try do my first pull request to mgmt !! Just a moment...

BTW selinux is already disabled:

[code]

[2018-03-10 12:19] purpleidea commented on #369
@xet7

Great! Some tips about some of our CI tests (and how to pass them on your first go) are visible here: https://github.com/purpleidea/mgmt/blob/master/.github/PULL_REQUEST_TEMPLATE.md

Based on the logs, once this is patched (two lines) I don't think you'll have this problem anymore, assuming there isn't an additional problem being masked under this.

Thanks!

[2018-03-11 20:09] dnegreira commented on #320
I believe that we could extend a bit the reach of this issue and go further and implement a nice logging solution which should help the project in the long run.
There is this project, which is the only project that I know that it is active which takes care of logging for golang: https://github.com/Sirupsen/logrus. It allows using different levels of logging as well as outputting the logs in severa

[2018-03-12 01:18] purpleidea commented on #320
@dnegreira Hey,

I'm going to unfortunately have to NACK the idea of using a package like logrus at this time. The reason is that longer term, the amount of log output from mgmt (and in particular the fact that a lot of it will happen in parallel) will require something clever to display everything without overwhelming the user. As a result, using an existing log package won't really help here.

I

[2018-03-12 09:24] xet7 commented on #369
@purpleidea

After those "deactivating" and "activating, now I got additional problem, when I run `sudo systemctl stop mariadb`:

[code]

[2018-03-12 09:27] xet7 commented on #369
Well, at least Ctrl-c did work this time:

[code]