[2018-03-12 09:30] xet7 commented on #369
With above destructive behaviour (yes, I did type `sudo systemctl stop mariadb`), mgmt does not start mariadb again.

[2018-03-12 09:43] purpleidea commented on #369
@xet7

What a weird thing! Well there seems to obviously be some sort of reason systemd is telling us this when it tries to start the service.

What is happening is that mgmt notices the service is stopped, then it tries to start it, and the start command fails with "Transaction is destructive". Understanding why and when systemd would tell the user that is at the root of understanding this issue.

[2018-03-12 09:45] purpleidea commented on #369
@xet7

Once a resource exits with a permanent error, it will stop watching that service. It's a feature since in situations of permanent errors, it usually means something is permanently wrong. (In this case perhaps a case we don't handle properly, or something else we should be detecting depending on the reason.)

[2018-03-12 09:49] xet7 commented on #369
@purpleidea

Yes I'll ask about this at #systemd

[2018-03-12 10:33] xet7 opened #372 "mgmt does not work on CentOS 6"
## Versions:

* mgmt version (eg: `mgmt --version`):

mgmt version 97c11c1
It's https://github.com/purpleidea/mgmt/commit/93a909551f3a21b162af49a1f568234205aa4a37 plus https://github.com/purpleidea/mgmt/pull/370 at https://github.com/xet7/mgmt/tree/fix/resources-svc-add-activating-state

* operating system/distribution (eg: `uname -a`):

[root@localhost vagrant]# uname -a
Linux localhost.localdoma

[2018-03-12 10:36] purpleidea commented on #372
The `svc` resource only supports systemd at this time. CentOS 6 does not have systemd. If you'd like to add support for alternate init systems, then we're happy to accept the patch, but it is not something which is currently expected to work.

I'm going to close the issue, but feel free to open a PR if you'd like to add support.

[2018-03-12 10:36] #372 closed

[2018-03-15 09:26] purpleidea opened #373 "Mgmt should support notifications to systemd for core"
We should implement systemd notifications and consider implementing watchdog notifications, eg: https://vincent.bernat.im/en/blog/2017-systemd-golang

[2018-03-30 17:59] purpleidea opened #377 "GCP resources"
Might want to see if this is appropriate:

https://github.com/GoogleCloudPlatform/magic-modules/issues/28

Thanks!

[2018-04-05 23:46] jonathangold opened #379 "[Bug] Engine never runs CheckApply with lang definition and --no-watch"
## Versions:

* mgmt version (eg: `mgmt --version`):
`mgmt version 0.0.15-15-ga184f66-dirty`

* operating system/distribution (eg: `uname -a`):
`Linux localhost.localdomain 4.15.10-300.fc27.x86_64 #1 SMP Thu Mar 15 17:13:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`):
1.9.4

## Description:

Ran into this while working on my shell tests. If you run mgmt with --no-

[2018-04-10 14:01] purpleidea opened #381 "[LOVE] Add a new function to the mgmt language"
This is a beginner to intermediate level patch for someone who is either new to golang or mgmt. It is meant to encourage new programmers to get involved with mgmt. It will probably take you a few hours to a day or so to complete, depending on what function(s) you choose to implement.

## Background

Mgmt has a language. For more on that please read: https://purpleidea.com/blog/2018/02/05/mgmt-conf

[2018-04-10 16:27] purpleidea commented on #379
Thanks for the nice report. As mentioned elsewhere, I've got a new version of the engine landing (I hope) shortly. Let's see if the issue is fixed by then. If not I'll dig deeper.

[2018-04-10 16:29] purpleidea commented on #333
BTW, most of this is merged in master. I'll leave this open for now until the `default values` issue is solved.

[2018-04-10 18:35] purpleidea commented on #277
(I'm working on this)

More notes:

* Since autogrouping isn't necessary, the code can be simplified to only need to run one SSH connection per resource. No need for the built-in multiple connection support.

* The semaphore feature can be removed, since we can use the mgmt core semaphore feature instead if we have multiple `remote` resources running in parallel.

* We could either have the comman

[2018-04-19 05:31] purpleidea commented on #322
@ffrank Can you try and reproduce this with the latest git master? It contains a substantive
re-write should improve things considerably, or make it much easier to debug if there's still an issue.

Thanks

[2018-04-19 05:41] purpleidea commented on #379
@jonathangold Can you confirm if this issue still exists in the current git master. Please either let me know or close the issue if it's fixed :)

Thanks!

[2018-04-19 06:01] purpleidea commented on #320
Note: a good deal of this was completed incidentally with the recent engine re-write. There is still some left to do. It's easy to find candidates by running an `ack '"log"'` which looks for imports of the `log` package. Only one or a few should exist in the core package by the time this is done.

[2018-04-20 04:28] jonathangold commented on #314
@purpleidea purpleidea I'd like to use the signal from `/org/freedesktop/UDisks2` rather than from `/org/freedesktop/DBus/systemd1` due to the contents of the message, and signal to noise ratio (lots of events to filter with systemd1.) To illustrate, here is the result of `mount /home/jon/isotest.iso /home/jon/iso`

Here are the signals captured from systemd1 (just UnitNew messages):
`signal time=

[2018-04-20 04:45] jonathangold commented on #379
This is fixed after your rewrite, closing.

[2018-04-20 04:45] #379 closed

[2018-04-20 07:46] purpleidea commented on #379
Awesome!

[2018-04-21 00:34] purpleidea commented on #314
My gut feeling is that UDisks2/Storaged just does some very simple processing based on the data from systemd1. So if it's just that, then we should just do the same processing ourselves. If it's providing something additional, then we should learn what that is first. Adding the dependency on this extra daemon doesn't make sense if there's no clear value, and in particular would make this resource

[2018-04-21 02:51] jonathangold commented on #314
You're right, it isn't on minimal centos. Looks like I missed one useful signal in the above systemd1 capture, which has the (escaped) mount point. Should be pretty straightforward to implement.

[2018-04-27 04:59] jonathangold commented on #316
Just came across this. Looks like it could be useful for adding mgmt code to an existing binary. https://github.com/zhuangsirui/binpacker

[2018-04-27 05:10] purpleidea commented on #316
@jonathangold Interesting-- This appends code to an _existing_ binary? Which would still run normally and be able to "unpack" from itself? I didn't find that information in the docs, is it in a blog post somewhere? Cool find! If so, it could work better than go-bindata.

[2018-04-27 05:40] jonathangold commented on #316
Haven't looked into it enough to answer those questions, but on second look, it may not turn out to be *that* helpful. ¯\\_(ツ)_/¯ There's some other potentially tools at https://github.com/avelino/awesome-go#resource-embedding

[2018-04-27 05:52] purpleidea commented on #316
@jonathangold Cool! It would be most helpful to be able to add data to a binary *after* it already exists, since if we're building a new one at compile time go-bindata can do that already.

In any case, this isn't the highest priority issue for now, since it's probably more important to have more useful code, modules, and library functions first :)

[2018-05-01 05:57] purpleidea commented on #216
This is fixed btw :)

[2018-05-01 05:57] #216 closed

[2018-05-01 05:59] purpleidea commented on #162
Looking through old issues and I'm happy to report this has been implemented a while back. It's called "deploys" and it works with either the DSL code, or yaml, etc...

There's no blog post about it yet, but happy to explain/demo it if anyone is blocked by not having this yet.

[2018-05-01 05:59] #162 closed

[2018-05-01 06:08] purpleidea commented on #308
Update: the new API has landed. What's left is porting everything from Compare() to Cmp(). This should be a very easy patch. Look in engine/resources/ for what needs changing.

[2018-05-05 17:24] purpleidea commented on #314
I think we can close this. w00t!

[2018-05-05 17:24] #314 closed

[2018-05-09 14:29] bzon opened #389 "Docker image purpleidea/mgmt:development 'not found'"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.15-28-gd26a6de

* operating system/distribution (eg: `uname -a`): Darwin AMAC02TL6NQG8WN 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64

* golang version (eg: `go version`): go version go1.10.1 darwin/amd64

## Description:

I was trying to  follow the development gu

[2018-05-09 14:33] purpleidea commented on #389
@bzon I can look into it later today, but in general most folks probably don't use the docker approach, so it has possibly rotted. I'd recommend the basic setup on Linux. That is what most people actively use, works and is supported if you have issues. https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#does-this-support-windows-osx-gnu-hurd

[2018-05-09 14:35] bzon commented on #389
@purpleidea I use macOS and vim for Golang development. Would you recommend to develop inside Vagrant instead for macOS users then?

[2018-05-09 15:15] purpleidea commented on #389
@bzon That would be a good avenue to follow! I haven't tested the vagrant stuff lately, but if you experience any issues, please let us know and feel free to patch as well!

We're hanging out in #mgmtconfig on Freenode IRC. I'm purpleidea. Thanks!

[2018-05-11 11:53] jonathangold commented on #318
I would like to work on this, if no one else already is.

[2018-05-11 13:09] jonathangold opened #390 "[bug] CLI fails after recompile"
## Versions:

* mgmt version (eg: `mgmt --version`):
`0.0.15-33-g9ea5c03`

* operating system/distribution (eg: `uname -a`):
`Linux localhost.localdomain 4.16.5-300.fc28.x86_64 #1 SMP Fri Apr 27 17:38:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`):
`go version go1.10.1 linux/amd64`

## Description:
When I recompile and run mgmt it fails, telling me to check the Ma

[2018-05-11 13:11] jonathangold commented on #390
If I wipe my directory and re-clone, it works, albeit temporarily (possibly until I switch branches, but will have to test to confirm.)

[2018-05-11 13:13] jonathangold commented on #390
@purpleidea I know you're env is almost identical to mine. Have you hit this issue?

[2018-05-11 14:12] purpleidea commented on #390
Those two vars are set here: https://github.com/purpleidea/mgmt/blob/master/Makefile#L145

If you're experiencing this issue, make sure you're using `make build` and not `go build` and it should work.

Otherwise maybe something changed in 1.10 ??

[2018-05-11 14:56] jonathangold commented on #390
I think that must be the case, unless something else about my env isn't set up right. As you can see in my original post, I used `make build` after `make clean`

I'll investigate further later today.

[2018-05-11 16:35] jonathangold commented on #390
https://github.com/golang/go/issues/24310 seems to be related

[2018-05-11 18:41] jonathangold commented on #390
@purpleidea after some playing around, I figured out that `-ldflags "-X...` needs to be replaced with `-ldflags=github.com/purpleidea/mgmt="-X...` Trying to figure out a clean way to have both versions in the Makefile, since 1.9 won't compile properly with the change, before I send a patch.

[2018-05-11 19:05] purpleidea commented on #390
@jonathangold Nice find! Good thing golang never breaks api ;)

[2018-05-11 19:06] purpleidea commented on #390
(I think previously we just did an if statement in the makefile using the output of `go version`) -- There might be an old variant of this in the git log when we moved to the newer golang version that handled ldflags differently.)

[2018-05-11 19:10] jonathangold commented on #390
@purpleidea Cool. I'll pick it up again in a few hours. That's what I figured would be needed (plus `PKGNAME := $(shell go list .)` to get the package name

[2018-05-11 19:14] purpleidea commented on #390
@jonathangold In case it saves you time, the old way we did this is here: 08d5a3baaeff470ad1580ce920b078b132a5a688

Thanks for looking into this! :)

[2018-05-11 19:26] jonathangold commented on #390
I just found it. :) Should have looked here first :P Opening PR shortly.

[2018-05-11 21:58] #390 closed

[2018-05-13 02:25] purpleidea commented on #233
This seems to now be listed here: https://directory.fsf.org/wiki/Mgmt
So I guess we can close this :)

Thanks!

[2018-05-13 02:25] #233 closed

[2018-05-17 17:58] purpleidea opened #393 "[LOVE] Add docs about running the puppet mgmtgraph stats command"
User @ffrank wrote an exceptional https://github.com/ffrank/puppet-mgmtgraph package which lets you transform puppet code into mgmt. In addition, it has a [`stats`](https://github.com/ffrank/puppet-mgmtgraph#collecting-translation-problems) option which lets you know which parameters and resources are missing from puppet.

We should have a docs/ page which walks you through the running of this so

[2018-05-18 14:16] gedw99 commented on #335
I was wondering if mage would be useful instead of make ?

Mage does what make does but it's 100% golang based.

It feel perfect for a reactive system because you can use it as an interpreter and you can build holang packages and reference them from the mage interpreter.

Hope this is considered.
Lots of golang devs use mage and I have found it useful because it works everywhere on such things as

[2018-05-20 22:39] purpleidea commented on #335
@gedw99 I've heard of the project, but it's not a priority for me. `GNU Make` is used because it's universal, and easily available on every machine and is a good way to bootstrap the project. Quite frankly, I think the idea of each language building their own `make` replacement to be a bit silly. Eg: `rake`, `pymake`, `mage`, `bsd_make`, etc... The last one was a half joke! ;)

So at least for now

[2018-05-22 19:55] gedw99 commented on #335
sure no probs.

I should try gnu make on windows then !!

On Mon, 21 May 2018 at 00:39 James <notifications@github.com> wrote:

[2018-05-22 20:02] purpleidea commented on #335
On Tue, May 22, 2018 at 3:55 PM, gedw99 <notifications@github.com> wrote:

Let us know how it goes! See:

https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#does-this-support-windows-osx-gnu-hurd

Cheers!

[2018-05-24 06:45] ffrank commented on #322
Er, I didn't open this one ;p

[2018-05-24 06:54] purpleidea commented on #322
@ffrank It was what you had found accidentally during your puppet+mgmt presentation at cfgmgmtcamp...

[2018-06-13 10:52] purpleidea opened #395 "[LOVE]"
User/Group? resource should consider using static golang implementation, eg:

https://go-review.googlesource.com/c/go/+/92456

From golang 1.11 only.

[2018-06-18 17:59] AdnanLFC commented on #199
Got pulled away by some other things... :disappointed: However, I might give it another try these days.

[2018-08-17 22:27] dustinmm80 opened #397 "[OSX] Can't run PackagesToPackageIDs: Resolve error: Match rule has a key with no subsequent '=' character"
## Versions:

* mgmt version (eg: `mgmt --version`):

mgmt version 0.0.15-54-gf342e06

* operating system/distribution (eg: `uname -a`):

Linux 02021777a891 4.9.93-linuxkit-aufs #1 SMP Wed Jun 6 16:55:56 UTC 2018 x86_64 GNU/Linux

* golang version (eg: `go version`):

go version go1.10.3 linux/amd64

## Description:

I'm trying to get this working in a Debian Docker container, but am having issues

[2018-08-18 06:13] purpleidea commented on #397
@dustinmm80 Thank you for the report!

I haven't ever tested the mgmt `pkg` resource inside of a container, so there's a bit of an unknown if it should work already, or if there's something special that we need for packagekit to work inside docker.

Since our `pkg` resource is built on top of packagekit, it's possible there's a socket we'd need to allow in the container, or maybe even something mo

[2018-08-24 19:49] dustinmm80 commented on #397
I am running these on MacOS 10.13.6.

1.

[code]

2. `ps auxww | grep -i packagekit` returns nothing. It doesn't look like you can just `brew install packagekit`. I haven't tried compiling it from source yet.

3.

[code]

[2018-08-24 20:08] purpleidea commented on #397
Okay, so having OSX on the underlying OS is probably related to the issue. As per:

`pkcon install nginx`

not working, I'm fairly certain that if that would work, then mgmt `pkg` would work.

IOW, while I don't think this is an mgmt bug:

1) It would be nice to know if this is fixable for mac os x hosts, and add that solution to our docs or in the code.

2) It would be nice to detect this scenari

[2018-08-25 17:04] dustinmm80 commented on #397
Sure I can investigate some this coming week.

This is an OSX and a Docker issue I guess. The end goal is to be able to run mgmt from inside a Docker container.

[2018-08-25 21:31] purpleidea commented on #397
@dustinmm80 It just occurred to me-- doesn't OSX build a linux VM to run docker? B/c without the linux features docker wouldn't work. So I think an easy first debugging step is to run a regular host: eg stock fedora, and see if `pkcon install nginx` works from there first. If not, ask packagekit people. If yes, then it's just the docker OSX vm that's broken.

[2018-09-14 15:58] dustinmm80 commented on #397
looks like `pkcon` isn't installed by default in fedora?

[code]

I thought Docker would be more of a first-class citizen for mgmt, was hoping to use it for integration testing at least. But I don't develop macos stuff, so not too eager to go down the packagekit rabbit hole.

[2018-09-15 04:56] purpleidea commented on #397
@dustinmm80 We implemented the `pkg` resource with packagekit as the backend because:

1) It's much less work than implementing separate resources for `yum`, `dpkg`, `pacman`, `dnf`, etc...
2) I like package kit

If you'd like to avoid packagekit, it would be great if you wrote a package resource for the tool of your choice. Would probably take about a day if you're interested. Resource guide is h

[2018-09-19 16:10] dustinmm80 commented on #397
Okay that's fair. I understand your design decision here.

That said, this doesn't help the Docker situation. I would expect a project like this to publish an official image to DockerHub so users can easily run mgmt containerized. Is this work already ongoing? I can assist if needed.

[2018-09-20 00:06] purpleidea commented on #397
@dustinmm80

The project currently has virtually zero income, and I'm living of my personal savings to try and develop it. Since resources are slim, priorities are based on what interests its volunteer developers. https://www.patreon.com/purpleidea

There's some work in the https://github.com/purpleidea/mgmt/tree/master/docker folder, however you'll have to test since I don't use it, so I don't kn

[2018-10-30 15:48] purpleidea opened #398 "[LOVE] Add a cpu count fact"
#### Welcome:

This is an intermediate to advanced level patch for someone who is at least an intermediate golang user, but being new to mgmt is okay. It is meant to encourage new programmers to get involved with mgmt. It will probably take you at least a day to complete.

#### Intro:

Mgmt has a number of built-in variables ("facts") in the language. They are here:
https://github.com/purpleidea/m

[2018-10-30 15:49] purpleidea commented on #398
PS: I found this quick snippet: It would be an easy test to see if it works without needing lots of deps: https://gist.github.com/rmohr/23b7ae12ac0b8d0201a5

[2018-11-20 23:07] purpleidea opened #401 "Make mgmt reproducible"
Maybe this helps:

https://github.com/restic/restic/issues/2061#issuecomment-433010389

[code]

https://github.com/purpleidea/mgmt/blob/43b5b4f5a409b203e4331fed962857e4ba034cd9/test/test-reproducible.sh#L13

[2018-11-23 18:57] arbreezy commented on #221
Hey @purpleidea
Is this still on ?

[2018-11-23 19:14] purpleidea commented on #221
@arbreezy You want to finish the autoedges part??

[2018-11-29 09:52] arbreezy commented on #221
Yes @purpleidea, I can have a look early next week. I will ping you on IRC for any questions.

[2018-11-29 09:59] purpleidea commented on #221
On Thu, Nov 29, 2018 at 4:52 AM Aris Boutselis <notifications@github.com> wrote:

Great, sounds good!

[2018-12-01 07:07] chasen-bettinger commented on #71
@purpleidea Is there any update on this issue? Is it still desired to be implemented? I'd like to tackle it if that is the case.

[2018-12-03 04:46] purpleidea commented on #305
The whole import/modules and running from a dir is WIP, part of which is implemented in the feat/import branch, and part of which is coming soon. The behaviour: if you pass mgmt a dir, it will search for a metadata.yaml entry point, and if it doesn't find that it will look for main.mcl

Coming soon, so closing this.

[2018-12-03 04:46] #305 closed

[2018-12-03 04:48] purpleidea commented on #308
Patches to remove the `Compare` method from any remaining resources are welcome.

[2018-12-06 09:10] jonathangold opened #410 "pkg autoedges error"
## Versions:

* mgmt version (eg: `mgmt --version`):
`0.0.15-65-g7cf1e4b`

* operating system/distribution (eg: `uname -a`):
`Linux skynet 4.19.4-300.fc29.x86_64 #1 SMP Fri Nov 23 13:03:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`):
`go version go1.11.2 linux/amd64`

## Description:
When I use the pkg resource it errors while running autoedges.

## Output:
[code]

[2018-12-06 13:36] purpleidea commented on #64
Recent comments from: #411

TBH file resource (being literally the first thing I wrote in mgmt) needs some cleanups! Eg: https://github.com/purpleidea/mgmt/blob/b2d726051bd192b32a1308cc3ce8ad4951623773/engine/resources/file.go#L181
I'm waiting on the upcoming filesystem changes in my big module patch to add new functions that can read content on disk and return strings, eg:

[code]

[2018-12-06 16:33] jonathangold commented on #410
Same results on my local Fedora 29 machine and on Debian 9 in google cloud. I think you should be able to reproduce it just by running the pkg example on any system, afaict.

[2018-12-06 17:06] jonathangold commented on #410
This is a duplicate of #397 (whoops) so it's affecting osx as well.

[2018-12-06 17:11] purpleidea commented on #410
Thought it felt familiar!
When you install the packagekit does the issue go away?
If so we should probably add a reliable test/detection for this somewhere, and fail in Init perhaps, or maybe only register the resource if packagekit is installed, or ... we'll decide when we know how expensive the test is =D

[2018-12-06 17:17] jonathangold commented on #410
packagekit is up and running just fine on both boxes (pkcon is working.) :/

[2018-12-06 17:20] purpleidea commented on #410
@jonathangold Oh. Can you try running `pkcon update` (even if you cancel it)

I think it needs the package cache to not be empty.

[2018-12-06 17:31] jonathangold commented on #410
@purpleidea No dice. Still the same error. I even let it finish updating.

[2018-12-06 17:36] jonathangold commented on #410
I'm pretty sure https://github.com/purpleidea/mgmt/blob/b2d726051bd192b32a1308cc3ce8ad4951623773/engine/resources/pkg.go#L205 is where it's failing.

[2018-12-06 18:15] jonathangold opened #412 "user svc resource panic"
## Versions:

* mgmt version (eg: `mgmt --version`):
` 0.0.15-65-g7cf1e4b`

* operating system/distribution (eg: `uname -a`):
`Linux skynet 4.19.4-300.fc29.x86_64 #1 SMP Fri Nov 23 13:03:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`):
`go version go1.11.2 linux/amd64`

## Description:

The svc resource works fine unless `session => true`, in which case it panics (

[2018-12-06 18:16] jonathangold commented on #412
I might have a go at this one in a bit.

[2018-12-06 18:34] jonathangold commented on #412
I think the issue's on my end. Closing for now.

[2018-12-06 22:33] purpleidea commented on #412
It should never panic unless something is really wrong (eg: hardware error)

Maybe something changed with go-systemd package?

I'd try with an older version of that for fun (one where I made a commit perhaps) and then we write tests and fix bugs :/

[2018-12-06 22:34] purpleidea commented on #412
But we (I?) have to fix that engine bug panic to make sure none of these are related to that.

[2018-12-07 00:01] jonathangold commented on #412
This is NOT happening on my fedora box. It must be something with debian and/or google cloud. I'll post the fix here if and when I find it.

[2018-12-07 00:43] jonathangold commented on #412
So the issue was on my end (the unit was failing to start,) but that should result in an error, not a panic.

[2018-12-11 03:05] #410 closed

[2018-12-13 08:19] purpleidea commented on #397
@dustinmm80 Incredibly embarrassing for me since we unfortunately did not have enough tests to catch this earlier, but *hopefully* this is now fixed in: https://github.com/purpleidea/mgmt/pull/415

If you still have issues, please let me know and I'll re-open. Also we still need to add tests, and it is always tricky on a community driven project. Patches welcome of course!

[2018-12-13 08:19] #397 closed

[2018-12-16 07:37] purpleidea commented on #271
To be "official" and close this out, file/dir paths in `file` Res *must* be absolute. IOW, they must start with a slash. In cases when we might possibly want to have some sort of relative path (possibly absurd) then we'd use a language function to return `pwd` or similar, and concat the two.

Who wants to write the three line patch to add this to Validate() in file.go ?

[2018-12-16 12:18] purpleidea commented on #271
Commit in https://github.com/purpleidea/mgmt/commit/3f34ec2ec0423a75853f7a8a1c5f8e7e2356d818 is waiting in test.

[2018-12-16 12:32] purpleidea commented on #271
Fixed in git master.

[2018-12-16 12:32] #271 closed

[2018-12-19 11:16] keur commented on #199
I'll take this.

[2018-12-19 11:32] purpleidea commented on #199
@keur Awesome-- one disclosure: this is a hard problem (you've been warned) and it's not 100% clear what's blocking us. Last I looked, this might be helpful...

https://github.com/purpleidea/mgmt/blob/f342e06ef0d0fc173dcb5320e9a376f14d561868/lang/interpret_test.go#L324

https://github.com/purpleidea/mgmt/blob/f342e06ef0d0fc173dcb5320e9a376f14d561868/lang/lang_test.go#L884

I thought I was stuck th

[2018-12-20 08:54] pierreozoux opened #426 "Github license"
Just a quick note, your license is not recognize by Github, so at first it looks like a proprietary project.

Thanks for your work!

[2018-12-20 17:19] purpleidea commented on #426
Sorry for that! I did know, however there's not much I can do. I think GH uses two different libs to decide what to display. One of which is https://github.com/benbalter/licensee IIRC. If you'd like to run that on the repo (on your computer) and then fix any bugs so it works (upstream in that project), that would be awesome! Can't do anything to fix on my side unfortunately, unless there's some .g

[2018-12-20 17:19] #426 closed

[2018-12-20 19:19] jonathangold opened #427 "implement a DHCPv4 resource"
This resource would listen and serve DHCP traffic. Here's an idea of what the api might look like in use:

[code]
To make this work, the `Watch()` loop will need to listen for dhcp requests, and probably store incoming connections in a private struct field. Then `CheckApply()` can iterate through all the connections and serve each one.

Comments?

[2018-12-20 22:08] purpleidea commented on #427
dhcp or dhcpd?
Also, what does the name represent?

What structure is this?

    subnetmask => "255.255.255.0",

LGTM, let's call this routes or route

    domainsearch => {"foo.com", "bar.net",},

    dnsservers => {"192.168.1.2", "192.168.1.3",},

    reservations => {
        {"09-87-65-43-21-09", "192.168.1.100",},
        {"01-23-45-67-89-01", "192.168.1.101",},
on linux we use colons ;)

[2018-12-20 22:09] purpleidea commented on #427
You're making me think we need to add a tuple :P

[2018-12-20 23:39] jonathangold commented on #427
Was thinking `[]string{}`, but tuples would so much better! Could also use a struct, like we would in golang.

[2018-12-20 23:47] purpleidea commented on #427
That's golang. This is `mcl`. ;)

Yeah, you probably want a struct for some of those. And when I said tuple, I really meant struct, but without key names.

[2018-12-20 23:47] purpleidea commented on #427
Probably a plan for a future day.

[2018-12-20 23:57] jonathangold commented on #427
fair enough (I'm also thinking about implementation". I guess the mcl version is "list of strings",

[2018-12-21 02:39] purpleidea opened #429 "[LOVE] Add support for internationalization with gettext"
### Intro:

Even though English is the de-facto language for programming, Canada has two official languages, and I'm fairly certain there are even more worldwide. If we can, let's add `gettext` like internationalization to mgmt.

NOTE: I'm putting this all here as a roadmap idea but it's a low priority item. Work on more people getting mgmt in production and testing first :)

### Research:

I cons

[2018-12-26 09:58] keur commented on #398
I'll take this. Will focus on it  after #430 is figured out

[2018-12-29 00:51] purpleidea commented on #199
After some more digging, this is very _low_ priority, since it's only needed for tests at the moment.

Some notes:

1) We can't choose any algorithm that could fail even if that's an infinitesimal probability. It's just not clean.

2) Even if something is NP-complete, doesn't mean that it won't be able to complete the execution in a reasonable amount of time for the size of graphs that we have. Wh

[2018-12-29 04:52] purpleidea commented on #398
Here is a brief analysis of this one lib: https://github.com/jochenvg/go-udev/issues/7

[2018-12-31 22:37] jonathangold opened #432 "reflect: StructOf panics when using unexported fields"
## Versions:

* mgmt version (eg: `mgmt --version`):
`mgmt version 0.0.15-127-g96dccca` why isn't this 0.0.16...?

* operating system/distribution (eg: `uname -a`):
`Linux skynet 4.19.10-300.fc29.x86_64 #1 SMP Mon Dec 17 15:34:44 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`):
`go version go1.11.2 linux/amd64`

## Description:
Panic Reproducer: https://gist.github.co

[2018-12-31 22:42] purpleidea commented on #432
[code]

Seems the fields are private. We shouldn't panic, but that's one unrelated issue.

[2018-12-31 23:37] purpleidea commented on #432
Yeah, I'll recap the issue here in case anyone is interested:

When a golang resource has a struct that needs fulfilling, we need to feed it with a matching struct in mcl. The two are not exactly identical, because a golang struct can have empty fields (that default to the zero value) where as a struct in mcl has an exact type which contains each and every field!

So how do we solve the situation

[2019-01-01 00:15] jonathangold commented on #432
When I make the fields public, and specify all of them in my mcl file, I still get a type unification error.

Here's the updated code:
https://gist.github.com/jonathangold/401f04f7f6805e39ff14c20feeebcb6b

And here's the result of running it:

[code]

Is this still the same issue?

[2019-01-01 00:17] purpleidea commented on #432
Exactly. (Not the panic.) This is as expected until I patch the problem in https://github.com/purpleidea/mgmt/issues/432#issuecomment-450699207

Sorry that this blocks you. I'll try and work on it next.

[2019-01-01 00:19] jonathangold commented on #432
No worries. I can work around it for the time-being (and shouldn't need to actually run any code for a while.)

[2019-01-01 01:40] iamzhout opened #433 "Add a sysctl resource"
## Description:
I've read mgmt blog posts and video introduction, and didn't see this use case as in title,
that if I want to keep some kind of os kernel related settings, does it supported currently by mgmt config?

[2019-01-01 05:48] purpleidea commented on #433
@iamzhout We don't currently have a resource for this, but we are happy to add one or get a patch for it. It's easy to get/set values. The real question is: how can you detect when one of them has changed without simply polling constantly.

If you can research this for us, and report back here, we can help you write a resource!

[2019-01-03 08:13] purpleidea commented on #432
Fix for the panic is in https://github.com/purpleidea/mgmt/commit/f30842e87447ee440b16429bba3cd451a918e9a1 (will merge when tests pass.)

Thanks for the report! Virtually all panics are bad, and even if it's the user's "fault" we shouldn't really panic, it just meant they found a clever way to poke us that we should have prevented!

I'm going to close this, please ping or reopen if you have any mo

[2019-01-18 02:36] purpleidea opened #439 "random net resource test failure"
## Versions:

* mgmt version (eg: `mgmt --version`):
mgmt version 0.0.16-109-g9398deea
(aka: 9398deeabcfe278ffb96a75770e0098944484859 )

* operating system/distribution (eg: `uname -a`):
F28

* golang version (eg: `go version`):
go version go1.10.7 linux/amd64

## Description:

I noticed a recent test failure that I hadn't seen before. Putting it here in case it's exceptionally rare:

<details>
<s

[2019-01-18 08:29] purpleidea commented on #381
Functions we'd like to have:

`float`: converts an int to a float. You'll want to add an entry like this in the parser:
[code]
So that it can be used directly. Do we want something similar for `int()` ? What about `str()` ? Is it better to just use `fmt.printf` instead? Should we rename that to `fmt.sprintf` ? What about `bool()` ? Also DIV by zero should return zero (other languages do this.)

[2019-01-18 14:31] jonathangold commented on #439
@purpleidea is this a transient fail, or is it happening every time? Maybe related to pulling socketset out into its own pkg? Just a guess (haven't dug into the logs yet.)

[2019-01-18 15:15] jonathangold commented on #439
Looks like:
`sudo ip link add mgmtnet0 type dummy`
failed, or the device was removed by another process.

[2019-01-18 21:52] jonathangold commented on #439
:ghost: spoooooooky

[2019-01-23 11:47] purpleidea commented on #398
This lovely feature has been added thanks to @keur, so closing!

In the future we could always consider returning a `struct` with a bunch of different info about the cpus, but I don't think it's necessary at the moment. Should be fun to build some stuff with this, and we learned a bunch about sockets, and even fixed a race in `net`!

[2019-01-23 11:47] #398 closed

[2019-01-23 11:49] purpleidea commented on #439
I'm going to cautiously close this, on the chance that it was fixed by https://github.com/purpleidea/mgmt/commit/5d0efce278e90d74e7c99b0c464f33ca6d13b313 which could be plausible. It's just a lucky guess, and I didn't think too much about it, but it's important enough of a change to close this until it (if it) reoccurs.

Thoughts and comments welcome if anyone disagrees!

[2019-01-23 11:53] purpleidea commented on #71
This has been merged!

[2019-01-23 11:53] #71 closed

[2019-01-25 04:00] purpleidea opened #440 "[LOVE] Add automatic link checking to our docs"
Someone pointed out that we have a dead link in our markdown docs. I thought, darn, we should have an automatic link checker. And turns out, it already exists.

Here's one:

https://github.com/raviqqe/liche/

Assuming there isn't a better alternative, we should integrate this into https://github.com/purpleidea/mgmt/blob/master/test/test-markdownlint.sh

Patches welcome!

[2019-01-25 20:19] 0pcom opened #441 "fails to install on archlinux (via package manager from AUR)"
## Versions:

* mgmt version (eg: `mgmt --version`):
mgmt 1:0.0.15-2

* operating system/distribution (eg: `uname -a`):
Archlinux + kernel version 4.19.17-1-lts (x86_64)

* golang version (eg: `go version`):
go1.11.5 linux/amd64

## Description:

https://aur.archlinux.org/packages/mgmt/

I tried messaging joe julian on the mgmtconfig IRC regarding this.
I thought I would mention here that the PKGB

[2019-01-25 21:13] purpleidea commented on #441
/cc @joejulian (Who was last maintaining this...)

[2019-01-25 22:18] 0pcom commented on #441
I actually cannot get this to install at all using `make deps` or `make build` as detailed in the quickstart guide.

[code]
[code]

[2019-01-26 08:40] purpleidea commented on #441
Happy to accept a patch to use the arch package instead of the `go get` version if you'd like to send one.

That's from here: https://github.com/purpleidea/mgmt/blob/master/misc/make-deps.sh#L101

[2019-01-26 14:51] jonathangold commented on #441
This error comes up when your $PATH doesn't contain $GOPATH/bin if I remember correctly.

[2019-01-27 14:17] 0pcom commented on #441
Forgive my ignorance on the gopath.
Trying again from a different machine; here is what I did & what I got...

[code]
The above finished successfully
[code]
Here I set the gopath for my session, then I ran make-deps; which is posted below (and fails).

Notice that it asks for my sudo password immediately. Doesn't this mean that I would have to set the go envs as root (or with sudo)?

[code]

Hopef

[2019-01-28 18:53] joejulian commented on #441
Aha... pushed again.

[2019-01-30 22:35] 0pcom commented on #441
Success!

Thanks for that & for maintaining the package so quickly & responsively. I can't wait to test this out.

The target systems (to be mgmt'd) are aarch64.

I will e-mail you (joe) and let you know if I get it to work on those pis by changing the `arch('')` field of your PKGBUILD.

[2019-01-30 22:35] #441 closed

[2019-02-01 05:53] purpleidea opened #442 "Pkg autogrouping regression"
[code]

Code:

examples/lang/autogroup1.mcl
[code]

Run with:

[code]

I think the "done" installation message is never received after this installs the packages, and then either on timeout or when it received the event from the `pkcon remove cowsay`, it caused this panic!

Fix this and add a test for this too.

[2019-02-01 06:14] purpleidea commented on #442
I fixed this panic, but it seems there's an occasional problem with the pkg resource getting stuck in `func (obj *Conn) InstallPackages`

And then that seems to be blocking events? Anyways, we'll need to debug this and add some tests. (It's not autogrouping specific afaict.)

[2019-02-01 06:49] purpleidea opened #443 "Functions should get passed in a scope"
This way any imports would work properly in template()

Eg:

https://github.com/purpleidea/mgmt/blob/5d0efce278e90d74e7c99b0c464f33ca6d13b313/lang/funcs/core/template_func.go#L191

This will change the function API to add the scope to init I think.

[2019-02-01 06:58] purpleidea opened #444 "move "schedule" and "exchange" functions into a "world" package"
This is a TODO for @purpleidea

I think that putting the "etcd" or remote "world" type functions into a "world" package is a good spot for them.

[2019-02-01 07:08] purpleidea opened #445 "type unification isn't instant, and this example is broken"
[code]

[2019-02-01 07:09] purpleidea opened #446 "need sugar forms of some core functions in language"
We need the sugar, language forms of some functions, eg accessing a map key, struct field, array index (do it safely!) and so on... Add these with tests.

[2019-02-01 07:28] purpleidea opened #447 "The exchange() function should have a TTL and the ability to remove a value on exit"
These are features we could add, similar to how schedule() supports options.

[2019-02-01 09:33] purpleidea opened #448 "move recwatch package to util/recwatch"
Personal note for cleanup

[2019-02-01 10:30] purpleidea opened #449 "Consider allowing "else if" in if expressions"
Eg:

[code]

[2019-02-01 11:53] purpleidea opened #450 "Virt panic on very fast cpu changes"
[code]

[2019-02-01 20:20] sushsada opened #451 "Link broken on "quick-start-guide.md""
The link to "docker-guide" is broken here
https://github.com/purpleidea/mgmt/blob/master/docs/quick-start-guide.md#using-docker

[2019-02-01 22:15] sushsada opened #452 "Docker build broken"
## Versions:

* mgmt version (eg: `mgmt --version`):

➜  mgmt git:(master) git log | head
commit 4a3e2c36111b633146ed75e232be060f2b71999b
Author: James Shubin <james@shubin.ca>
Date:   Fri Feb 1 09:44:55 2019 -0500

    engine: nspawn: Add an nspawn example with an improved exec

    This adds the cwd fields to exec, better error messages to svc (which is
    nested in nspawn) and a fancier nspawn

[2019-02-02 03:53] sushsada commented on #309
Is this task done?
"Design" says

But current file looks like it spins up an etcd server at:
https://github.com/purpleidea/mgmt/blob/443f489152ac7b9808bbf19f5004f63606286a0a/etcd/fs/fs_test.go#L75

[2019-02-03 04:05] sushsada commented on #452
I had to checkout the sub modules, it worked then! Thanks for the quick reply.

[2019-02-03 04:05] #452 closed

[2019-02-04 10:35] miguelbernadi opened #453 "make deps does not install nex"
## Versions:

* mgmt version (eg: `mgmt --version`): HEAD

* operating system/distribution (eg: `uname -a`): Docker

* golang version (eg: `go version`): 1.10

## Description:

When trying to build the project, the nex package needs to be installed, but the dependencies process does not install it so the `make build` fails.

[code]

[2019-02-04 10:44] jonathangold commented on #453
@miguelbernadi this error can happen if `$GOPATH/bin` is not in your `$PATH` variable.
Try running make after you run `export PATH=$PATH:$GOPATH/bin`

[2019-02-04 11:01] miguelbernadi commented on #453
@jonathangold That fixed it, thanks! Now I get a new error:
[code]

mgmt docker image is defined by:
[code]
Just using it to isolate the build environment.

[2019-02-06 16:25] Vanders opened #462 "Using a version string for package state does not work"
## Versions:

* mgmt version (eg: `mgmt --version`): `mgmt version 0.0.17-36-gb449be8`

* operating system/distribution (eg: `uname -a`): `Linux ubuntu-bionic 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`): `go version go1.10.4 linux/amd64`

## Description:

Attempting to use a version string for the `pkg` state do

[2019-02-06 16:26] Vanders commented on #462
[code]

[2019-02-06 19:25] ffrank opened #463 "[LOVE] exec is missing parameters for path, environment"
## Versions:

* mgmt version 0.0.17

* operating system/distribution (eg: `uname -a`): all

* golang version (eg: `go version`): 1.10

## Description:

The environment for `exec` resources should be customizable by a parameter.

Since the PATH variable is of special importance, it make good sense to expose it as another parameter (although this is up for debate).

[2019-02-06 19:28] ffrank opened #464 "[LOVE] exec resource needs a refreshonly-like option"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.17

* operating system/distribution (eg: `uname -a`): any

* golang version (eg: `go version`): 1.10

## Description:

With the goal of enabling Puppet code to run through mgmt, it will be necessary to implement the `refreshonly` semantics in `exec` resources. This means that the resource will never sync on its own, and only take action when

[2019-02-07 08:54] roidelapluie commented on #464
we also need a "time period" before doing the refresh.

it is not rare that a checkapply happens multiple times in very short time period.

I would like to see a "quiet_period" parameter added to the refreshonly.

[2019-02-07 10:19] Vanders opened #465 "Cannot send from exec resources"
## Versions:

* mgmt version (eg: `mgmt --version`): `mgmt version 0.0.17-32-g2c9a12e-dirty`

* operating system/distribution (eg: `uname -a`): `Linux ubuntu-bionic 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`): `go version go1.10.4 linux/amd64`

## Description:

Sending from Exec resources appears to be broken. T

[2019-02-07 13:41] purpleidea commented on #465
@Vanders Can you add the `sendrecv0.mcl` file please? (I think it's missing, or I can't find it, sorry.)

[2019-02-07 13:44] purpleidea commented on #464
@ffrank In this case, I assume the idea is to never receive any events, so no `Watch()` behaviour then?

I'm okay with this patch, maybe we should call it `Refresh`?

@roidelapluie Can you expand on your time period idea please? Are you should you aren't interested in the already existing `limit` and `burst` metaparams?

[2019-02-07 14:01] purpleidea commented on #463
Env would be useful to add, however since it would be a fancier data structure, it might be better to wait for:

1) The lang to grow a better unification algorithm. It works, but it's not as fancy as it could be and needs optimizing.

2) After the upcoming engine re-write, it will be easier to add tests I hope! :)

[2019-02-07 14:05] purpleidea commented on #462
There was another casual report that showed some recent issues with `pkg` on Ubuntu... I am wondering if something changed in packagekit which broke this for you?

[2019-02-07 14:05] Vanders commented on #465
@purpleidea It's the exact one from the examples folder: https://github.com/purpleidea/mgmt/blob/master/examples/lang/sendrecv0.mcl

[2019-02-07 14:09] purpleidea commented on #465
Oh. Can confirm it's not working sorry.

[2019-02-07 16:45] purpleidea commented on #433
Apparently `sysctl` writes to `/proc/`. A simple strace should probably show exactly where. Apparently this has been ported to `kernfs` some sort of new kernel fs that proc now sits on instead, and which also supports inotify!

So it would be great if someone could do a little digging and post their results here. Make sure to use a relatively modern kernel.

[2019-02-07 17:36] purpleidea commented on #444
Done.

[2019-02-07 17:36] #444 closed

[2019-02-07 17:37] purpleidea commented on #381
map() / reduce() functions would be very welcome, but these are a bit trickier because they need to be polymorphic!

EDIT: map has already been implemented, but it is not in git master yet because it is blocked, waiting for the compiler feature that adds lambdas, so that you can actually pass in the mapping function to `map`.

[2019-02-07 18:04] purpleidea commented on #465
It is broken because when I refactored the engine to create `traits` I forgot to add the new `traits.Sendable`. You'll need to add that, and the `Sends()` stuff for it to work. Example in: https://github.com/purpleidea/mgmt/blob/90fa83a5cf28394617583578e982eeedd94a5628/engine/resources/password.go#L283

My focus is currently on fixing up some engine issues and adding a new test infra for resources

[2019-02-08 10:07] jonathangold commented on #453
Not exactly sure what's going on, but it's probably either an environment variable, or missing files.
Try running `go env` in your local go install and duplicating the environment in your container.

[2019-02-13 09:42] purpleidea commented on #463
@ffrank Just thinking out loud... Why would we want a PATH parameter?

[2019-02-13 22:49] purpleidea commented on #381
More function ideas:

* system temperature inputs (cpu/gpu/etc)
* fan speed
* memory available / cpu % and other things from sysinfo
* os information (operating system / version / kernel version / uname -a etc) -- is there a good lib for this? (is_debian, is_fedora, release_version, release_name, maybe just a giant os_info struct etc...)
* selinux status (how would we get events for this?)
* mgmt

[2019-02-14 10:12] purpleidea commented on #381
* a prometheus set of functions (to pull in metrics) like @roidelapluie had the idea for one year ago
<s>* technically we could even have a `facter` function that runs facter and polls, but i don't think it's the best idea</s>
* keyboard/switch events to pull in input from the outside world and make things interactive
* network information, ip's up/down status, etc.
* "smart" hdd failure status
*

[2019-02-14 17:52] purpleidea commented on #381
Other places to look for ideas:
https://github.com/chef/ohai
https://github.com/DataDog/gohai

[2019-02-14 18:42] purpleidea opened #471 "Pkg resource needs a maintained backend"
Some bad news...

@hughsie seems to be not maintaining packagekit anymore...

https://blogs.gnome.org/hughsie/2019/02/14/packagekit-is-dead-long-live-well-something-else/

Our `pkg` resource is backed by this, and tbh, I think it's a great solution. So we have to think about the future, and if someone will step up and continue maintaining this, or if we have to do the horrible task of re-writing o

[2019-02-14 18:49] hughsie commented on #471
Note, PK isn't going away, it's just in maintainance mode. No need to panic.

[2019-02-16 10:41] jonathangold commented on #453
@miguelbernadi running `make build_container` should build you the container you're looking for.

[2019-02-20 01:06] purpleidea commented on #381
https://docs.saltstack.com/en/latest/topics/grains/#examples-of-grains

(no idea where the list of built-in "grains" comes from though... some are found here: https://github.com/saltstack/salt/blob/develop/salt/grains/core.py)

[2019-02-20 01:07] purpleidea commented on #381
* a function to get the available versions of a particular package: eg:
```$versions = pkg_versions("cowsay") # returns an array of string versions for cowsay```

[2019-02-20 19:02] miguelbernadi commented on #453
@jonathangold Thanks! It does! Now to see why mine didn't work before... (out of curiosity).

[2019-02-20 19:02] #453 closed

[2019-02-21 14:16] roidelapluie commented on #471
Then maybe you should change the title of the blog post..

[2019-02-24 17:32] thkoch2001 opened #472 "datetime1.mcl example fails"
I run

    mgmt run --tmp-prefix lang --lang examples/lang/datetime1.mcl

and get a different panic each time I run it:

[code]

The following stacktrace always starts with:

[code]

But the preceding log lines differ slightly, apparently only in ordering. One example is:

[code]

I run mgmt from the debian package 0.17. The file in /tmp does not get written. The error happens immediately after st

[2019-02-24 17:40] purpleidea commented on #472
@thkoch2001 This is actually already fixed in git master in f716a3a73b330bdba479903eff434cf3659e9f06.

Sorry about that. I'll be rolling a new release soon.

[2019-02-24 17:40] #472 closed

[2019-02-26 15:03] purpleidea commented on #381
more ideas:
<s>`exec("some_command")` // produces a str (maybe we want a variant that writes on every line)</s>

`is_converged() bool` or `is_converged(time) bool`
to report converged state of myself.

[2019-02-26 15:59] purpleidea commented on #464
@peckpeck I think this is what you were interested in. Perhaps you want to describe the "don't run on first run without notification" feature.

[2019-02-26 16:17] purpleidea commented on #381
# this of better names for these...
readfiledeploy() # reads a file from the deploy dir relative to the code we're calling
readfilesdeploy() # same but from the files/ directory

[2019-02-27 09:28] sushsada commented on #433
Did a little digging around as per your suggestion @purpleidea, looks like ionotify works expected. On one window, I set up io notify watcher on the /proc/sys directory. On the other window, I modified the hostname:

[code]
which was picked up in the first window:
[code]

[code]

How would one submit a patch for this; Is there a similar resource present today?

[2019-02-27 10:30] purpleidea commented on #433
@sushsada Awesome (btw what's this error: `sudo: unable to resolve host local`)

In any case a sysctl resource would be great... Are there upstream docs or an API where we can determine which path to watch for each sysctl key? Maybe we could ask upstream to to add a --printpath type feature to show us that output so we could figure it out directly?

Lastly, a resource for this would be great. How'

[2019-02-27 14:53] ncharles opened #477 "Surpring double evaluation of valid resource state in noop mode"
Consider the following code

`file "/etc/drbd.conf" {
  content => "this is an mgmt test",
  state => "exists",
  Meta:noop => true,
}
file "/tmp/bla" {
  Depend => File["/etc/drbd.conf"],
  content => "some content",
}`

If /etc/drdb.conf is valid, and we mess with /tmp/bla, we get the following output

15:50:00 main.go:414: engine: file[/etc/drbd.conf]: resource: contentCheckApply(false)
15:50:0

[2019-02-27 14:54] ncharles commented on #477
If both are in Noop, then the output is what I would expect

15:54:10 main.go:414: engine: file[/etc/drbd.conf]: resource: contentCheckApply(false)
15:54:10 main.go:414: engine: file[/etc/drbd.conf]: resource: chmodCheckApply(false)
15:54:10 main.go:414: engine: file[/etc/drbd.conf]: resource: chownCheckApply(false)
15:54:10 main.go:414: engine: file[/etc/drbd.conf]: CheckApply(false): Return(true

[2019-02-27 15:07] ncharles commented on #477
Sometimes, editing /tmp/bla results in following log

16:06:15 main.go:414: engine: file[/etc/drbd.conf]: resource: contentCheckApply(false)
16:06:15 main.go:414: engine: file[/etc/drbd.conf]: resource: chmodCheckApply(false)
16:06:15 main.go:414: engine: file[/etc/drbd.conf]: resource: chownCheckApply(false)
16:06:15 main.go:414: engine: file[/etc/drbd.conf]: CheckApply(false): Return(true, <nil>

[2019-02-27 15:20] purpleidea commented on #477
So we just discussed this in person and everything seems to be as expected.

[2019-02-27 15:20] #477 closed

[2019-02-27 15:52] ncharles commented on #477
Awesome, thank for the explanations

[2019-02-28 13:48] purpleidea commented on #381
Here's a whole bunch of other data sources... Looks like fancy facter basically:

https://osquery.io/schema/

Who knows if they support events or not though.

[2019-02-28 14:29] ncharles commented on #381
This project is psutil in go, and it expose some data that are in the list up there https://github.com/shirou/gopsutil

[2019-02-28 14:38] purpleidea commented on #381
Great idea for more possible functions... Who wants to help add event-driven versions in mgmt! =D

[2019-02-28 15:12] amousset opened #478 "printf crashes when used with string interpolation"
## Versions

* ```mgmt version 0.0.17-68-gd888748```
* Fedora 29

## Description:

When running:

[code]

mgmt crashes with:

[code]

[2019-02-28 16:04] purpleidea commented on #478
Great find, and interesting discussion about this issue. I have a workaround fix, but holding out for the better solution!

[2019-02-28 16:25] ncharles opened #480 "file resource errs when content is empty and state => "exists""
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.18-5-g94c4090-dirty

* operating system/distribution (eg: `uname -a`): Linux server 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux

* golang version (eg: `go version`): go version go1.12 linux/amd64

## Description:

file "/tmp/mgmt-elvis" {
  state => "exists",
}
errs with

17:23:04 main.go:414: engin

[2019-02-28 17:42] thkoch2001 commented on #471
For reference, these are some issues in PackageKit that @purpleidea opened and mentioned in a [blog post](https://purpleidea.com/blog/2016/03/14/automatic-edges-in-mgmt/):

* https://github.com/hughsie/PackageKit/issues/116 - Resolve should also return a "newest" flag in addition to "installed"
* https://github.com/hughsie/PackageKit/issues/110 - dnf commands don't cause signals in packagekit
* ht

[2019-02-28 22:19] purpleidea commented on #471
@thkoch2001 Thank you for the nice summary! Know anyone that might be interested in hacking on any of these or helping to maintain packagekit? I think it's one of those rare (somewhat unloved) gems that's really worth saving and investing in.

[2019-03-01 08:18] sushsada commented on #433
Looks like it's trying to resolve the current hostname:
[code]
This doesn't seem like it should affect this mgmt resource right?
My golang is intermediate, I'd like to pick this item up. My progress might be a little show though.. hope that's okay.

And about mapping from sysctl key to path, looks like a sysctl userspace utility converts `.`s to `/`s to look for the corresponding file in `/proc/sy

[2019-03-01 11:43] purpleidea commented on #433
@sushsada

I wouldn't worry about it for now. I bet it's just sudo being sudo.

Yes of course. We're happy to mentor your patch, and do it at your own pace.

Great! I didn't know it was that straight forward.

Feel free to send an early (even non-compiling) rough draft of your Sysctl resource if you'd like early design feedback. For the inotify side, you should use the existing lib in recwatch as

[2019-03-01 19:43] sushsada commented on #433
Thanks @purpleidea. I'll send out an early review to get your feedback.

[2019-03-06 13:40] purpleidea commented on #480
This is now fixed in https://github.com/purpleidea/mgmt/commit/426b15313e451332829677ae6e37bacacae3cbdc

And there is also a test.

[2019-03-06 13:40] #480 closed

[2019-03-06 13:41] ncharles commented on #480
thank you !

[2019-03-09 23:32] purpleidea commented on #465
This is now fixed in git master.

The example was modified too. At the moment we don't allow `*string to string` or `string to *string`. This is a limitation, and we can expand upon it in the future. In the meantime, send/recv with identical types now works correctly. I also added compile time checks for this as well. Any more issues, please let me know.

[2019-03-09 23:32] #465 closed

[2019-03-09 23:59] purpleidea opened #482 "Send/Recv should allow coercing ptr types"
With the new strict send/recv code, we didn't allow for the case of `*string -> string` or `string -> *string`.

We should add that as an additional feature. This would allow a `*string content` from file to receive a value from a regular string elsewhere.

Be careful to not have two resources using the same pointer after the copy, since if we change one field we *only* want it changed when the Se

[2019-03-10 00:01] purpleidea opened #483 "Compile-time interpolation analysis should be allowed"
If some interpolation can be done statically at compile time, it should be allowed.

For example:

This code:

[code]

Which also exists as a test:

https://github.com/purpleidea/mgmt/blob/da1c96c6fd0b95997ad2bd7dbb0a783edf01e870/lang/interpret_test/TestAstFunc2/printfinterpolate0/main.mcl

Currently doesn't compile, but we should allow it, because it's possible to determine that it's not illegal

[2019-03-10 00:02] purpleidea commented on #478
This is now fixed in git master. If you find any more bugs please let us know :) Thanks again!

The fancier version of this is being tracked here: https://github.com/purpleidea/mgmt/issues/483

[2019-03-10 00:02] #478 closed

[2019-03-11 03:20] purpleidea commented on #433
@sushsada Hey, did you have some early success?

[2019-03-11 05:45] purpleidea commented on #381
Someone with more knowledge around maths and closed-loop systems might want to implement some sort of generalized PID function, eg: https://en.wikipedia.org/wiki/PID_controller

Hopefully we'd be able to combine that function with some arbitrary functions for input, and use resources for output, and have it all work as expected.

[2019-03-11 07:53] sushsada commented on #433
Here's the sysctl resource I have- first draft, havent proof read it
https://gist.github.com/sushsada/8a850ff2b7a5955f46ad3ecd8f6038c8

And my script is :
[code]

However, 'value' is not being picked up:
[code]

Please share your comments on the code. Also, any pointers on the "cli parse error"? Do I need to add a "mapping" between sysctl.go and the cli layer?

[2019-03-11 14:33] purpleidea commented on #433
@sushsada Cool... Can you send it as a pull request instead? Don't worry, it doesn't mean we have to merge, but it is more easy to send review comments line by line. Also, the automated tests will tell you about some things that need fixing, so I don't need to bug about those =D

As a first simple review, just go through and make sure old copy+pasta comments are removed, and also you'll notice tha

[2019-03-11 15:05] purpleidea opened #484 "Missing resource parameters compared to Puppet"
This issue is a tracker to list all missing resource parameters (or resources) that mgmt might want to add, and that are commonly used in Puppet.

To get some data on this, @ffrank has a lovely `stats` command you can run on your existing Puppet code to tell us what would be most valuable to your code bases. To install and run that, please see here:

https://github.com/ffrank/puppet-mgmtgraph#coll

[2019-03-16 17:18] purpleidea opened #487 "Add new golangci-lint test"
We use gometalinter in our tests. We'd like to switch to https://github.com/golangci/golangci-lint since the former is deprecated. This should in theory improve testing speed as well.

Patches welcome!

(Note initially, the goal would be to add a new test similar to https://github.com/purpleidea/mgmt/blob/master/test/test-gometalinter.sh and in the future, I can remove the gometalinter test.)

(If

[2019-03-18 15:30] 332000640 opened #488 "Embedding etcd into an existing golang project ,And is a cluster."
Sorry for asking questions on etcd in this project. I hope you can help me.    I tried this example at https://godoc.org/github.com/coreos/etcd/embed and changed some parameters. I don't know how to build a distributed cluster. Can I have a more detailed example? I also read this https://github.com/etcd-io/etcd/issues/3670 question, I still don't know how to start. If you embed etcd in my program

[2019-03-18 16:38] purpleidea commented on #488
Only to a limited extent for free, since I'm working on this project instead of getting income.

It's not trivial. If you want to do it with golang, it's quite complicated. We aim to solve this problem in mgmt for you automatically. I'm actually rewriting some of this code as we speak.

Here are your options:
0) Avoid solving it and just use mgmt to do it for you.
1) You can look at the existing (

[2019-03-18 16:38] #488 closed

[2019-03-22 19:39] inge4pres opened #491 "Support management of Letsencrypt certificates via ACME API"
## Proposal
Have a resource that is able to manage Letsencrypt certificates via [ACME v2 API](https://acme-v02.api.letsencrypt.org/directory).

Follows a brief overview of Lestencrypt.

## Protocol
Letsencrypt designed a (recently become) internet standard protocol to obtain Root CA-signed TLS certificates based on domain validation: you prove you own a domain with a challenge and you are given a

[2019-03-22 20:32] purpleidea commented on #491
@inge4pres Thank you for opening the design discussion!

A few questions:
1) Does one also need to have a letsencrypt account to use the API, or is being able to satisfy the challenge sufficient?

2) Seeing as letsencrypt will sign some object (the public cert), do you agree that building such a cert should be outside of the scope of this initial resource? My guess would be yes, what are your thou

[2019-03-23 05:21] mfossen opened #493 "uptime_fact_posix.go: return type mismatch error"
## Versions:

* mgmt version (eg: `mgmt --version`):

* operating system/distribution (eg: `uname -a`):

Linux localhost 3.10.18 #1 SMP Sun Mar 3 22:48:34 PST 2019 armv7l GNU/Linux

* golang version (eg: `go version`):

go version go1.11.5 linux/arm

## Description:

Running `make build` throws an error
`lang/funcs/core/sys/uptime_fact_posix.go:32:16: cannot use sysinfo.Uptime (type int32) as type

[2019-03-23 16:18] purpleidea commented on #493
Perhaps you have a 32 bit machine, and golang doesn't have an int64 on that (or at least not in the struct?) I don't know, but if you dig some more, please let us know. Also, you can fix this by adding a

`lang/funcs/core/sys/uptime_fact_WHATEVER.go`

where WHATEVER is the specific arch.

LMK

[2019-03-23 21:50] inge4pres commented on #491
Thanks @purpleidea for guiding me throughout the process! I had a closer look to the code and to answer your questions:

1. you create an account paired with an email that usually is the same email by which the domain is registered, but it's not mandatory. Creating the account is as easy as calling the API to create an account and passing the email in, if no account was previously created you will

[2019-03-23 22:04] purpleidea commented on #491
It's perfectly fine if the initial account creation process is manual and done by the user, *however* in an ideal world, the "thing" that goes into the local resource should be some sort of public value, so that if it's stored in git, it's not a security issue.

I didn't quite understand this section, although I don't think it's related to traits. I'll probably figure it out in code review though

[2019-03-24 20:13] purpleidea opened #494 "Add duration check linter"
We'd like to add as much automatic testing as possible. This looks like an interesting test we could add:

https://github.com/charithe/durationcheck

Investigate, and if it's reasonable, please add a test for it!

(Alternatively, maybe it could get added or is already added in https://github.com/purpleidea/mgmt/issues/487 and if so, then that should take precedence over this.)

[2019-04-02 08:28] schu opened #496 "Quick start guide not working?"
[code]

from the [quick-start-guide.md](https://github.com/purpleidea/mgmt/blob/master/docs/quick-start-guide.md#getting-the-mgmt-code-and-dependencies) fails with

[code]

I'm guessing for etcd the problem is that it moved to https://github.com/etcd-io/etcd a while ago.

[2019-04-02 08:37] purpleidea commented on #496
Hi. We will be planning to move our imports to the new etcd path, but currently we're vendored on version 3.3.x and the new paths are currently still in git master which is unstable, and not in a released version. As a result, we can't actually change the paths at this time without breaking imports.

Running a recursive git clone works for me... Is it possible it's a network issue on your end? I r

[2019-04-02 08:48] schu commented on #496
Found the problem. I had an `url.insteadOf` set in my `~/.gitconfig`:

[code]

After removing it, it works. Thanks for the swift response!

[2019-04-02 08:48] #496 closed

[2019-04-02 08:50] purpleidea commented on #496
\o/

I just happened to be awake, no problem, happy hacking, and let us know how it goes!

[2019-04-05 19:01] purpleidea opened #498 "[LOVE] State directory with xdg dirs"
This is a beginner level golang patch for someone who is interested in getting involved.

We should consider having our default `/var/lib/mgmt/` dir be a combination of https://github.com/systemd/portable-walkthrough-go/blob/5f2b36a0f2ce30325119224956c837d43fa6782e/main.go#L34 (systemd's STATE_DIRECTORY env var) and xdg dirs when that is not specified.

You'll need to see where that initial path c

[2019-04-10 16:31] mdlayher opened #499 "Consider using github.com/mdlayher/netlink"
Hey folks! I was browsing through GitHub search and came across this blog by @jonathangold that talks about using netlink sockets in this project:

https://github.com/jonathangold/jonathangold.ca/blob/706d0af6aa568cbd1524b56543410227d466d0db/content/blog/go-netlink-and-select.md

Just wanted to let you all know that as of Go 1.12, https://github.com/mdlayher/netlink is fully integrated with the ru

[2019-04-10 18:49] purpleidea commented on #499
@mdlayher Thanks for dropping in! If you're interested, a lot of us are hanging out in #mgmtconfig on Freenode IRC. I'd love to join you, but I don't have slack.

If you'd like to help us patch our current code to improve it as you suggest, we'd love that!
Also, any comments on this: https://github.com/purpleidea/mgmt/blob/master/util/socketset/socketset.go#L20 would be very welcome!

[2019-04-11 14:32] mdlayher commented on #499
Good to know! I'd like to loop back and make some contributions at some point.

What you're doing in your netlink syscall code seems sane. If you're interested in making use of timeout support and such, my package is in good shape to handle that.

[2019-04-11 22:06] purpleidea commented on #499
@mdlayher Had a very quick look just now at your new lib...

[code]

Assuming I understand correctly (which is most possibly not the case) wouldn't you instead want:

[code]

Which could replace both of those?

My knowledge of system networking internals is a bit weak, so any help you can provide to this project would be appreciated! We'd love to have more robust and featureful network resources a

[2019-04-12 21:50] mdlayher commented on #499
Basically, the netlink stack under the hood is leaning on https://golang.org/pkg/os/#File.SetDeadline to leverage the runtime network poller's ability to handle non-blocking system calls, timeouts, etc.

Having Receive take a context is an interesting idea, but there's no runtime hook for doing so at this point. Perhaps it'd be worth adding a `ReceiveContext` or similar, but I haven't had enough t

[2019-04-12 22:33] purpleidea commented on #499
@mdlayher The two tricky things which we always need to be able to do are:

1) Wait on some sort of event to know when something changed (without polling)
2) Unblock virtually instantly when we don't want to wait anymore. (without polling)

Is that possible with your Receive method? AFAICT, I'd have to set a small deadline and poll. Unless the Close causes the Receive call to unblock, but then I'd

[2019-04-16 06:16] purpleidea opened #501 "[LOVE] Add a Google cloud VM resource"
It could be useful to have a google cloud vm resource. This issue is open to track and potential progress, and to add an notes and discussion. This would be a good alternative to our existing `aws:ec2` resource.

This would require a medium to advanced knowledge of golang, a beginner to medium knowledge of `mgmt` and a medium knowledge of the golang API's for GCP. A willingness to learn and an abi

[2019-04-16 09:11] wdullaer opened #502 "[LOVE] Input files as positional arguments"
## Versions: mgmt 0.0.18

## Description:
At the moment input files are specified in a command line flag: eg `mgmt run lang --lang some-file.mcl`.

It is more common for input files to be handled as positional arguments: eg `mgmt run lang some-file.mcl`
It should make the tool a bit easier to use.

I'm happy to hack on this when I get a bit of spare time.

[2019-04-16 09:33] purpleidea commented on #502
Sounds good! Let us know when you have a PR ready.

[2019-04-21 18:48] wdullaer opened #503 "Can't install package from repo that is added by mgmt"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt 0.018

* operating system/distribution (eg: `uname -a`): Ubuntu 19.04

## Description:
You cannot add an apt repository and install a package from it in the same mgmt run.

mgmt will try to list the file contents of the package before it starts executing the resource graph, which will cause the packagekit resolve to fail since at this point

[2019-04-21 18:57] purpleidea commented on #503
If adding an apt repository is not producing an event that we (via packagekit) detect, then that sounds like a bug we need to fix too!

[2019-04-21 19:00] wdullaer opened #504 "Can't mount using mgmt into a folder created by mgmt"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.18

* operating system/distribution (eg: `uname -a`): Ubuntu 19.04

## Description:
This issue is surprisingly similar to #503 : You can't mount a disk into a folder you create in the same mgmt run.

This will result in the following error:
[code]

https://github.com/purpleidea/mgmt/blob/d5b7dc0acc3b608348c891a3f274f6ee3bad302d/engine/resour

[2019-04-21 19:01] purpleidea commented on #503
If it's definitely caused by the scenario you describe,  then that's what we'll have to do.

If it turns out we should call it later, then that's fine to change. If we can catch more issues at Validate or Init than at runtime during CheckApply or Watch, then it's good to have, but if it's causing issues because of repo changes, then we'd have to move it of course.

[2019-04-21 19:02] purpleidea commented on #504
Agreed. Can you post your `mcl` code too please?

[2019-04-21 19:04] wdullaer commented on #504
Here you go

[code]

[2019-04-21 19:04] purpleidea commented on #504
This is completely true. We may have gotten a little overzealous in putting checks in Validate that really should have happened later. As a result of you being an early user, you're helping shake out these issues, and I really appreciate that, thanks!

[2019-04-22 08:14] wdullaer commented on #503
I can't say, since mgmt errors out before it starts executing the graph. For good measure, here's the mcl file I'm trying to run

[code]

I'd take a stab at fixing these, but I haven't really had the time so far.

[2019-04-22 08:21] purpleidea commented on #503
Is that the trick to getting it to install from universe?? IOW that's the fix for https://github.com/purpleidea/mgmt/issues/462 ?

Great! Git master has an important bug fix for import/class scoping. I'm currently working on an important performance fix for type unification that makes it currently unusable with certain code bases. After that I'll circle back and help fix or mentor any misc bugs th

[2019-04-22 08:25] purpleidea commented on #462
@Vanders
Can you please try adding this line:

Inside the `pkg` resource and tell me if it fixes the problem?

Can you also confirm which repo the `apache2` package is in?

Eg:

[code]

Apparently on Ubuntu anything that's not in the main repo is considered "unsupported" by packagekit, so we need to tell it to allow other repos. We can consider making this the default if need be, or at least makin

[2019-04-22 10:03] wdullaer commented on #462
This looks like it's a different issue

Apache2 is in main on ubuntu:
[code]

The error coming out of packagekit is also different: it's complaining about a missing `packageID`, while it is complaining about a missing package if you try to install an unsupported package without that option.

[2019-04-22 17:54] wdullaer opened #506 "Mount input validation does not play nice with fuse filesystems"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.18

* operating system/distribution (eg: `uname -a`): Ubuntu 19.04

## Description:
Example mcl file:

[code]
https://github.com/purpleidea/mgmt/blob/d5b7dc0acc3b608348c891a3f274f6ee3bad302d/engine/resources/mount.go#L135-L147

The performs a validation on the filesystem type by checking if the value is present in `/proc/filesystems`
This ha

[2019-04-22 18:20] purpleidea commented on #506
Sounds like another check that's in Validate that should be in Init?

[2019-04-22 19:00] wdullaer commented on #506
Wouldn't Init() still be too early?
If I have a package which installs a new filesystem, Init() would be called before the CheckApply() of the Pkg resource would be executed no?

[2019-04-22 19:02] purpleidea commented on #506
@wdullaer I meant CheckApply, sorry. I just woke up and my brain is still asleep :/

[2019-04-23 15:58] wdullaer commented on #506
Or maybe not at all?

Invoking mount will tell you all these things as well.

[2019-04-23 16:00] wdullaer opened #508 "Panic race in upstream dbus via Mount resource"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.18

* operating system/distribution (eg: `uname -a`): Ubuntu 29.04

## Description:

When running mgmt with the mount resource, it failed with a panic (sending on a closed channel).
When running the exact same mcl immediately after it succeeded; This feels like a race condition somewhere.

mcl file: https://paste.fedoraproject.org/paste/Yne3

[2019-04-23 16:04] wdullaer opened #509 "Mount resource only updated /etc/fstab, did not mount"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.18

* operating system/distribution (eg: `uname -a`): Ubuntu 19.04

## Description:

Trying to mount a few local ext4 filesystems updated /etc/fstab correctly, but did not mount the disks after mgmt had converged.

The mcl files was simple

[code]
The log contained statements like this one, which seems to indicate that the mount logic inside

[2019-04-23 20:35] purpleidea commented on #509
As previously mentioned in IRC, here is one fix for the mount portion of that code:

https://github.com/purpleidea/mgmt/commit/8f1f5d33fde2fd51da88045fac021f9df7679d00

It's in git master now.

If you can confirm that this did not fix the problem, then that would be helpful. If it does not, then perhaps something is wrong with our systemd mount logic.

Can you also confirm:

1) Are you running mgm

[2019-04-23 20:47] purpleidea commented on #508
mcl:

[code]

log:

[code]

This might have been fixed by bc4bb1669c50cc42e7e8e89f4faade1e140f93c1 in godbus. My build might have used an earlier version of the lib. I will release a new build soon, and if you can ever reproduce, then I will dig into the upstream lib and check if there is a missing waitgroup. I am fairly confident the bug is not in our software directly.

[2019-04-23 20:50] purpleidea opened #510 "[LOVE] Wrap CheckApply with panic recover catcher"
This is a beginner level patch for someone who wants to get familiar with the golang panic/recover mechanism.

We should wrap our API calls to CheckApply and other resource specific code with `recover` so that in case a buggy resource or upstream lib decides to panic, we don't bring down all of mgmt.

Example for etcd:

https://github.com/purpleidea/mgmt/blob/8f1f5d33fde2fd51da88045fac021f9df7679d

[2019-04-23 20:51] purpleidea commented on #508
This issue could also help mitigate this type of issue from bringing down all of mgmt too:

https://github.com/purpleidea/mgmt/issues/510

[2019-04-23 20:55] jonathangold commented on #509
It's been a while since I worked on this, but IIRC I asked the
systemd-developers mailing list, and at the time, "update fstab, and poke
systemd so that it sees the change and mounts it" was the official
recommended way to mount disks, both manually and programmatically. I have
an Ubuntu VM I can try to reproduce this on when I get a chance (after
trying on my arch install). If the local-fs.target

[2019-04-23 20:58] purpleidea commented on #509
I had that thought, but I hope it is not the case. My other thought is the "systemd load from fstab mechanism" is not working.

[2019-04-24 01:39] purpleidea commented on #445
Both of these are now fixed. Woo. \o/

[2019-04-24 01:39] #445 closed

[2019-04-24 14:58] wdullaer commented on #509
Yes

[code]
Keep in mind that I have mounted them manually in the mean time (at some point this server has to do some work)

[code]
I'll try to recreate the issue here later today

[2019-04-28 07:27] purpleidea commented on #508
Forgot to mention it earlier sorry, but I think this might be now fixed in the 0.0.19 release (or git master). If you can reproduce, please let me know, if not I'll eventually close this. Thank you again for the report, it's very valuable information.

[2019-04-28 07:29] purpleidea commented on #502
I have two or three pending blog posts that I'm working on, and I think it would be fantastic to get this feature merged for the next release (0.0.20) and also so that the blog posts can use the new syntax. Any chance you've had some cycles to work on it or think that you'll have some time to do it this week?

Thanks!

[2019-04-28 07:32] purpleidea commented on #484
/cc @margamanterola

[2019-04-28 07:38] purpleidea commented on #484
We're in the home stretch to MVP, and would like to know what we're missing to satisfy our future users. Helps us know which patches to write first by understanding which resources you use the most. Can submit privately, and filter, and this only shows aggregated stats anyways!

[2019-04-28 13:26] wdullaer commented on #502
I'm not sure if I'll be able to spend a lot of time on this the next week.

It's a pretty busy period. I'll ping you on IRC if I should start on it.

[2019-04-28 13:29] wdullaer commented on #508
Good stuff :-)

Given that it's a race condition, it might be difficult to reproduce. When trying to reproduce the other issue with the mount provider, mgmt hosed my fstab file (I commented out some lines which I think confused the regex in the resource). Even though it's just a homelab server, I don't want to take it down for an extended period again at this moment.

[2019-05-01 07:45] purpleidea commented on #433
Here are some docs about this https://www.kernel.org/doc/Documentation/sysctl/README

[2019-05-13 20:56] foxxx0 opened #514 "catch + improve error message when trying to bind to used port"
## Versions: current git master

* mgmt version (eg: `mgmt --version`):
[code]

* operating system/distribution (eg: `uname -a`):
[code]

* golang version (eg: `go version`):
[code]

## Description:

I managed to stumple upon accidently and it is clearly a user fault, not a bug per se.
However I think that clear and helpful error messages are important to let the user know *what* he/she is doing w

[2019-05-14 10:27] purpleidea commented on #514
It would be pretty easy for a golang beginner to add checking of this in Validate:

https://github.com/purpleidea/mgmt/blob/38dfaa1caaafb527dc09ed2a0736e4d2b25cf5e4/etcd/etcd.go#L375

You'd need to look at:
ClientURLs
ServerURLs
And possibly
AClientURLs
AServerURLs...

https://github.com/purpleidea/mgmt/blob/38dfaa1caaafb527dc09ed2a0736e4d2b25cf5e4/etcd/etcd.go#L236

Two notes:

1) If we added som

[2019-05-14 10:28] purpleidea commented on #514
(Thanks for the report btw! It's not a blocked because it's a user error, but it would be excellent to be more friendly to the end user if they make this mistake.)

[2019-05-14 12:35] roidelapluie opened #516 "fatal error: concurrent map read and map write"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.19-21-ga050cff-dirty

* operating system/distribution (eg: `uname -a`): Linux oxygen 5.1.1dell #1 SMP Tue May 14 09:39:53 CEST 2019 x86_64 GNU/Linux

* golang version (eg: `go version`): go version go1.12 linux/amd64

## Description:

When running:

[code]
[code]

[race.log](https://github.com/purpleidea/mgmt/files/3177642/race.

[2019-05-14 13:27] purpleidea commented on #516
Good report thanks!

Can you reproduce this with a clean version please. Dirty means there's some weird junk in there, which means it's very hard for me to know exactly what line in the trace corresponds to what :(

[2019-05-14 13:28] roidelapluie commented on #516
only patch is #517 which is required to reproduce

[2019-05-14 13:35] roidelapluie commented on #516
mgmt version 0.0.19-21-ga050cff

[code]

[2019-05-14 13:36] purpleidea commented on #516
@roidelapluie Can you send the logs for that please?

[2019-05-14 13:42] roidelapluie commented on #516
head:
[code]

tail:
[race2.log](https://github.com/purpleidea/mgmt/files/3177997/race2.log)

[2019-05-14 14:01] purpleidea commented on #516
Tentative fix in: https://github.com/purpleidea/mgmt/commit/812fd57c33b7a6d1d432bc5bbea8ea679b13ce96

Thanks for finding this =D

[2019-05-14 14:03] roidelapluie opened #518 "stack overflow"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.19-21-ga050cff

* operating system/distribution (eg: `uname -a`): Linux oxygen 5.1.1dell #1 SMP Tue May 14 09:39:53 CEST 2019 x86_64 GNU/Linux

* golang version (eg: `go version`): go version go1.12 linux/amd64

## Description:

The following mcl creates a stack overflow:

[code]

[code]

[2019-05-14 14:05] purpleidea commented on #518
Looks like a definite bug. Luckily nobody sane would write this code ;) I'll dig into it shortly, thanks for the report!

[2019-05-14 14:16] roidelapluie commented on #516
Close!

[code]

[2019-05-14 22:16] roidelapluie commented on #516
[code]

[2019-05-15 12:48] roidelapluie opened #521 "impossible to escape ${test}"
## Versions:

* mgmt version (eg: `mgmt --version`): master

* operating system/distribution (eg: `uname -a`): linux 5.1.1

* golang version (eg: `go version`): 1.12

## Description:

The following mcl code fails

[code]
2019-05-15 14:47:47.045206 I | run: error: cli parse error: could not generate AST: string: bad escaping: `"\${test}"` @2:7

[2019-05-15 12:53] purpleidea commented on #521
@roiedelapluie

Very interesting, however I'm not sure this is a bug... This is the equivalent of doing:

[code]

Which would error because the backslash is missing a valid escape char or a friend.
Instead use:

[code]

I'm not sure there's another way, since `${XXX}` is meant as a special way to get a special var forced.

What do you think? NOTABUG?

[2019-05-15 12:54] roidelapluie commented on #521
It is a bug.

[2019-05-15 12:55] roidelapluie commented on #521
escaping is escaping

[2019-05-15 12:55] purpleidea commented on #521
If you think it's a bug, could you submit it upstream here: https://github.com/hashicorp/hil

and see what they say. That's the lib we use.

[2019-05-15 13:12] purpleidea commented on #521
I think actually that the bug is in my code...

[2019-05-15 13:14] purpleidea commented on #521
Unquote/UnquoteChar doesn't know about $ because it's golang. We might have to copy the functions in, and add them. But we have to think about what we pass through. I guess `\$` would need to cause `\$` to be passed through to hil.
https://golang.org/src/strconv/quote.go?s=9955:9993#L347

[2019-05-15 13:16] purpleidea commented on #521
(Or maybe we should modify Unquote to not deal with escape removal-- we could do that in hil instead AIUI.

[2019-05-15 13:56] roidelapluie opened #522 "slow type unification"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.19-27-g2cb3a6a

* operating system/distribution (eg: `uname -a`): Linux oxygen 5.1.1dell #1 SMP Tue May 14 09:39:53 CEST 2019 x86_64 GNU/Linux

* golang version (eg: `go version`): go version go1.12 linux/amd64

## Description:

The following script is slooow:

[code]

logs:
[code]

highlight:
[code]

[code]

[2019-05-15 14:02] purpleidea commented on #522
I'll have to test after your patch is merged, because I don't have all these functions atm.

[2019-05-20 15:55] purpleidea commented on #516
I wasn't able to reproduce this, but I did get a deadlock I think...

I also tried to speed things up with this variant:

[code]

Not sure if it helps, but maybe.

[code]

[2019-05-29 22:44] purpleidea commented on #509
My understanding is that this should be fixed now. If you can reproduce with git master, please let me know here and I can re-open, or you can open a new issue. Thanks!

[2019-05-29 22:44] #509 closed

[2019-05-30 07:22] TomasTomecek opened #523 "rpm can't be built"
## Versions:

* operating system/distribution (eg: `uname -a`):
Fedora 30

## Description:

I just tried to make mgmt work with [packit](https://github.com/packit-service/packit), but sadly the spec file is invalid:
[code]

I tried to fix this by appending timestamp to the changelog (using `%ai`) but that didn't help. No idea why rpm is so strict about this, it's just changelog. I'd suggest adding

[2019-05-30 07:34] purpleidea commented on #523
This target should work:

https://github.com/purpleidea/mgmt/blob/master/Makefile#L370

[2019-05-30 07:35] purpleidea commented on #523
(There are some legacy targets in the Makefile which no longer work... Since we suck at rpm/spec/etc at the moment we use fpm.)

[2019-05-30 07:51] TomasTomecek commented on #523
Sadly I don't have all the tooling present on my system, but thanks for showing me [fpm](https://github.com/jordansissel/fpm), wasn't aware of that project.

[2019-06-04 21:10] ffrank commented on #508
Running git master plus 42ecfc4. Following `mcl` works in general, but just ran into the described issue randomly.

[code]

mgmt output
[code]

[2019-06-04 21:19] purpleidea commented on #508
@ffrank
I suspect your $GOPATH is out of date.
*First to confirm*, run `git log` in $GOPATH/src/github.com/godbus/dbus and paste here the top entry.

*Then* to fix it:
Try: `go get -u ./...`

*Then* run the above git log again. Make a new build.

You're most likely building against an old dep that fixed this issue. If it persists, let us know.

[2019-06-04 21:20] purpleidea commented on #508
(As a result, I'm going to close for now. Comment if you think it's still present.)

[2019-06-04 23:00] ffrank commented on #508
First top log
[code]
No change through `go get -u ./...` (which I ran from mgmt's source dir; no effect when running it in dbus's).

[2019-06-05 00:08] ffrank opened #525 "Mount absent behaves erratically"
## Versions:

* mgmt version (eg: `mgmt --version`): `mgmt version 0.0.19-30-ge15f110`

* operating system/distribution (eg: `uname -a`): `Linux dev-app01-ffrank 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:09:47 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`): `go version go1.11.5 linux/amd64`

## Description:

I'm mounting a simple filesystem using the following

[2019-06-05 00:15] purpleidea commented on #525
@ffrank TBH I have not properly tested the resource, so there could be bugs. @jonathangold wrote it, but maybe he'll know if this sounds like something he overlooked.

I'll have to circle back to this after I finish function values in core.

Thanks for the report! Patches and tests are welcome! (And there's existing resource test infra if you want to easily add one. Ping if you can't find it.)

[2019-06-13 09:18] purpleidea commented on #525
@ffrank AIUI this is now fixed by your patch, so we can close, correct?

[2019-06-13 09:22] purpleidea commented on #508
Upstream pushed a new fix to fix this, so I will close again. If anyone experiences this again, please LMK. TBH, I think the dbus lib needs a good cleanup, but that's too big of a project for us to tackle for now.

[2019-06-13 09:22] #508 closed

[2019-06-28 23:56] hooksie1 opened #528 "Fedora 30"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.19-1

* operating system/distribution (eg: `uname -a`): Fedora 30 (Workstation & Cloud)

* golang version (eg: `go version`): 1.12.5

## Description:

Cloned the repo and downloaded the release from the releases page. Ran the example with hello0.mcl and I get this output:

[code]

Seems to be running? But doesn't create /tmp/mgmt-hello-world

[2019-06-29 00:09] purpleidea commented on #528
@hooksie1 The issue is here:

[code]

In the release tarball you need to add `--lang` after `lang` which was weird, and is removed in git master (where the docs are)

So either move to git master or add `--lang` for now.

Sorry about that, I should hopefully do a new release soonish.

[2019-06-29 00:09] #528 closed

[2019-06-29 00:12] hooksie1 commented on #528
Oh ok. I must have missed that somehow. Thanks!

[2019-06-29 00:15] purpleidea commented on #528
On Fri, Jun 28, 2019 at 8:12 PM John Hooks <notifications@github.com> wrote:

Not your fault, just a consequence of you being unlucky and hitting
the window between releases where the docs are out of sync. Sorry
about that! The more stable we get the less likely of breaking changes
like this.

Let us know if we can help you get involved with coding, or if you'd
like to donate to the project!

[2019-06-29 00:22] hooksie1 commented on #528
I'd possibly like to get involved. I do a ton with Ansible and I like Go a lot. I come from an ops background so I'm trying to get better at development, so this might be a good way to get more experience.

[2019-06-29 00:51] purpleidea commented on #528
On Fri, Jun 28, 2019 at 8:22 PM John Hooks <notifications@github.com> wrote:

We're happy to mentor your patches. Join us in #mgmtconfig on Freenode
IRC. Ping me in there and we can help you get going with a first patch
that fits your experience and interest.

Cheers!

[2019-07-05 17:57] hooksie1 commented on #498
Are you thinking the xdg dir should be XDG_CONFIG_HOME or something different?

[2019-07-05 18:01] purpleidea commented on #498
I think the state part should probably go in `~/.cache/` which is XDG_CACHE_HOME. (Better suggestions welcome if I'm interpreting XDG spec wrong.)

Of course this is all secondary to if the systemd STATE_DIRECTORY is not present.

@hooksie1 Want to write a patch?

[2019-07-05 18:05] hooksie1 commented on #498
Ok yeah I think you're right, that makes more sense. I might give it a shot and see what terrible thing I can come up with.

[2019-07-05 18:08] purpleidea commented on #498
@hooksie1 Okay awesome! Join us in #mgmtconfig on Freenode IRC for questions, and feel free to send an early (even broken) PR/patch for early review.

Cheers!

[2019-07-05 19:03] hooksie1 commented on #498
PR #530 is in.

[2019-07-11 22:35] purpleidea commented on #498
Merged!

[2019-07-11 22:35] #498 closed

[2019-07-15 10:40] avierr opened #531 "Feedback: Tutorial for absolute noobs like me"
Some honest feedback here,
When I go through mgmt I tried hard to figure out what this really is:
Initially articles make it looks like some kind of an experiment explaining what's going on behind the scenes.
Ex(1st Article): https://purpleidea.com/blog/2016/01/18/next-generation-configuration-mgmt/

After reading a bit more, I see words like puppet, then I realize, it's just another devops tool.

[2019-07-15 10:45] purpleidea commented on #531
@avierr I agree! Would you like to contribute such a tutorial? I'm not being paid for this work, and so I spend my focus on the parts I want for myself, which currently is fixing bugs so it's more production ready.

Patches welcome and donations too! https://www.patreon.com/purpleidea

Thanks!

[2019-07-15 10:45] #531 closed

[2019-07-15 10:54] avierr commented on #531
@purpleidea
Yes I would love to contribute.

as I said above, please the following or point me to the right place:
[code]

[2019-07-15 11:01] purpleidea commented on #531
@avierr I can't write a tutorial for you at the moment, but if you'd like to watch a recent video and do more reading, then I think you'll figure it out, and then you can build a tutorial. Some recent talks I gave are here: https://purpleidea.com/talks/

If you have golang programming skills, please join us in #mgmtconfig on Freenode IRC and I can help get you going.

Thanks!

[2019-07-17 07:16] purpleidea commented on #518
Thanks again for the bug report and sorry for the delay. Was working on a big chunk of code that cleaned up function values, and fixes this too =D

Fixed in git master, and includes a test too:

https://github.com/purpleidea/mgmt/blob/master/lang/interpret_test/TestAstFunc2/stack-overflow/main.mcl

[2019-07-17 07:16] #518 closed

[2019-07-17 18:52] purpleidea commented on #522
@roidelapluie The type unification algorithm was updated significantly in git master. Can you confirm if you still have an issue? If you do, please post the full logs and some code I can run. My guess is that this should be fixed now. Thanks!

[2019-08-07 18:09] adamsigal commented on #344
I'd like to write a patch for this when I get back up and running. It has been an issue over my various mgmt installations.

[2019-08-07 18:19] adamsigal opened #533 "Errors when running `make` on Ubuntu 18.04"
I have run into this problem before and I can't figure out the cause. I remember the solution having to do with file permissions (something wasn't executable), but I checked all of the important files and commands that I could think of; `/usr/local/go/bin/*` are all executable, same with `$GOPATH/bin/*`, as well as various files I checked in the mgmt directory.

Here's my output:
[code]

Here is m

[2019-08-08 02:33] purpleidea commented on #533
`go get -u ./...` and lmk.
also check libvirt-dev or libvirt-devel is installed.

[2019-08-08 02:34] purpleidea commented on #344
@adamsigal I think it just has to do with your golang env being setup wrong or missing the $GOBIN. Maybe the distro packages could add this automatically with an /etc/profile.d/ script for the golang package.

[2019-08-08 13:09] adamsigal commented on #344
The problem I was referring to was even if you have a newer golang version insalled, make deps installs golang from the package manager. In the case of Ubuntu, this is currently golang version 10.x. Later in the script, if your golang version is lower than 11.x the script exits. So make deps shoots itself in the foot in these cases.

[2019-08-08 13:44] adamsigal commented on #533
libvirt-dev is, in fact installed.

Here is my output for `go get -u ./...`
[code]

Should I simply switch to master on all of these repositories?

[2019-08-08 16:20] purpleidea commented on #344
@adamsigal If this happens, maybe the script should just print a friendly error message before it dies?

[2019-08-08 16:22] purpleidea commented on #533
@adamsigal I don't remember what you did weird with your golang, but check to make sure you're setting up golang correctly: https://golang.org/doc/code.html#Workspaces

[2019-08-08 18:24] adamsigal commented on #344
@purpleidea I think, most importantly, that if a sufficiently recent golang version is already installed on the machine the script shouldn't install golang again. That's the root of the problem.

[2019-08-08 18:55] purpleidea commented on #344
Add a patch that checks for `go version`, and if it's okay, skips the installation?

[2019-08-08 19:01] adamsigal commented on #344
Exactly! I'll get on it once i get my installation sorted out.

[2019-08-12 11:57] ahmedsharif865 commented on #502
Is someone still working on this issue?

[2019-08-12 11:59] ahmedsharif865 commented on #173
Is someone still working on this issue?

[2019-08-12 15:30] purpleidea commented on #173
@ahmedsharif865 I don't think so. Grab it if you want.

[2019-08-12 15:31] purpleidea commented on #502
@ahmedsharif865 This is actually already fixed. If you're looking for something to work on, please let me know. There are other things that don't have open issues too! Thanks!

[2019-08-12 15:31] #502 closed

[2019-08-14 17:39] adamsigal commented on #533
For a reason I don't understand, `make` seems to have passed without errors. The output, which I no longer have access to, stated the time that the build took, followed by: `cp -a build/mgmt-linux-amd64 mgmt`, so I copied and executed this command.

Unfortunately, it did not seem to actually work. This is the output I get from running a sample command:
[code]

Re-running `make` produces no output

[2019-08-14 17:52] adamsigal commented on #533
Actually running `make -d`, I get an extremely long output, that ends like this:
[code]

[2019-08-20 17:53] purpleidea commented on #533
```./mgmt``` (missing the dot slash)

[2019-08-20 19:21] adamsigal commented on #533
Not my finest moment. Thanks for the help!

[2019-08-20 19:21] #533 closed

[2019-08-20 19:23] purpleidea commented on #522
Closing for now. Comment or make a new issue if this persists.

[2019-08-20 19:23] #522 closed

[2019-09-08 02:15] dbakong opened #537 "Usability bug: Add accurate error message for mcl scripts"
## Versions:

* mgmt version (eg: `mgmt --version`): 0.0.20

* operating system/distribution (eg: `uname -a`): fedora 30

* golang version (eg: `go version`): go1.12.7

## Description:
The error message when running an mcl script with a non-existent field needs to be fixed.

mcl file:
[code]

log of failed run:
[code]

[2019-09-08 02:36] purpleidea commented on #537
I actually already patched this in a feature branch. Coming to git master shortly. Thanks!

[2019-09-10 05:11] purpleidea commented on #308
/cc @dbakong Here you go! (After you finish the golang tour, use ack or grep in engine/resources/* to find any remaining 'Compare(' methods and remove them. Look at other resources that have already changed to the new API and make the changes in the same style.

[2019-09-11 07:07] purpleidea opened #539 "Deploys should allow removal or reuse of existing reversible resource tokens"
When reversible resources are enabled, they leave a token in a state file somewhere to specify to the subsequent graph (in the stream of resource graphs) that this resource needs to be added in.

Occasionally, the user might push a new version of the `mcl` code which could conceivably be either a logical continuation of the previous code, and where we'd like to preserve the tokens **OR** it could

[2019-09-11 07:36] purpleidea opened #540 "An interesting change for file state and content"
Consider:

[code]

Suppose there's an existing file at `/tmp/foo`, then this is a no-brainer, we edit the file so that it has the expected contents of `hello`.

But suppose no file exists? Should we create one or not?

Puppet does, and at the moment, we do too, because we _imply_ from the content specification that we'd want one. But it turns out that it actually makes our code more complex to do

[2019-09-11 07:37] purpleidea commented on #540
/cc @ffrank

[2019-09-11 07:42] ffrank commented on #540
For Ansible the question is muddled by the fact that the `file` module won't even allow you to manage content. You have to use `copy`. And it would feel illogical for `copy` to ever *not* create a file at destination because, well, `cp` right?

So this creates a file:

[code]

Notably though, the following errors out (at least w/ good old Ansible 2.2)

[code]

[2019-09-11 07:43] purpleidea commented on #540
According to felix:

[code]

What about chef? @nathenharvey ?

[2019-09-11 07:44] purpleidea commented on #540
@markburgess What do you think? What does old cfengine or cfengine3 do? What do you think is correct?

[2019-09-11 07:46] ffrank commented on #540
FWIW I'm having a hard time even gauging the least surprise in this scenario.

[2019-09-11 07:48] purpleidea commented on #540
The least surprise has to do with what is _more_ *correct*, since our goal (at least for mgmt) is safety. So this means you'd have to explicitly specify that you want a file created.

As a side-effect, if you didn't specify `state` and that was because there was always a file created beforehand (eg from some shell script or provisioning thing) then this would error in response to that previous scr

[2019-09-11 07:52] purpleidea commented on #540
/cc @ncharles probably knows about cfengine and also might find this problem interesting.

[2019-09-11 08:08] ncharles commented on #540
In CFEngine 3, by default the file is *not* created. So you have to specify if you want it created (attribute create => "true")

In Rudder, if we specify content for a file, then we create it by default if it's not present

I think the sane default is to create the file if we expect some content in it (with an option to not create it). On the other hand, if we want to *remove* content from a file,

[2019-09-11 08:11] purpleidea commented on #540
@ncharles So to confirm, if you specify file content but NOT `create => true` then it errors? Cool.

[2019-09-11 08:13] purpleidea commented on #537
Fixed in gitmaster.

[2019-09-11 08:13] #537 closed

[2019-09-11 08:34] ncharles commented on #540
Yes, that's correct for CFEngine.

[2019-09-11 09:52] nathenharvey commented on #540
Each chef resource has an `action`.  The `file` resource has 5 different possible actions:

* `:create`
* `:create_if_missing`
* `:delete`
* `:nothing`
* `:touch`

If no action is specified, the default is used.  The default action varies by resource.  The `:create` action is the default action for the `file` resource.

Here's what happens with each action:

* action - not specified, uses `:create

[2019-09-11 10:05] purpleidea commented on #540
@nathenharvey Very helpful, thank you!!

[2019-09-11 11:25] purpleidea commented on #540
Tentative patch in: https://github.com/purpleidea/mgmt/commit/1dfffb19e3259a679602d97e5b53db543c85a907

(Tests still running, perhaps I missed something somewhere, but have a look.)

I also did a bit of cleanup while writing this, so it's slightly more busy than it should be. But I'm really liking this idea.

[2019-09-11 11:34] purpleidea commented on #540
Updated: b01cda159c3c3f48e478ce6f5c2b1be7c23747ea

[2019-09-11 13:03] purpleidea commented on #540
This all passed now, so I'm going to let this sit for at least 24ish, and if I don't hear any strong complaints, I think I'll be tempted to merge it.

[2019-09-11 22:42] purpleidea commented on #539
Extra note: We might even consider that a `reverse_preserve` metaparam (or similarly named) per resource would specify if by default it should survive new code deploys or not. Of course it should also get overridden by whatever flag you specify on deploy.

[2019-09-12 02:13] purpleidea opened #541 "Support a symbolic mode parameter for the file resource"
This is a beginner golang feature request, for someone who is new to golang and mgmt.

Description:
The file mode can be expressed in Octal, eg 764, or symbolic, eg: u=rwx,g=rw,o=r, similar to how man `chmod(1)` does it.

We should support the same for our file mode resource. It currently only supports octal.

https://github.com/purpleidea/mgmt/blob/e8842a740cfcc854b582e27277664350751e44d0/engine/

[2019-09-12 02:14] purpleidea commented on #541
NOTE: looking at how puppet does it might be inspiration, but should not be dogma: https://puppet.com/docs/puppet/6.0/types/file.html

We should consider if allowing non-declarative entries are allowed. Eg: u+rw for example. or go-rx.
What is clear is that combining ugo chars *should* be allowed.

[2019-09-14 20:08] purpleidea commented on #540
Okay, merged!

[2019-09-14 20:08] #540 closed

[2019-09-14 21:45] purpleidea commented on #61
This is mostly implemented in https://github.com/purpleidea/mgmt/commit/5c27a249b72f719396bcd5b33d743abd5172e51a

Only file supports this at the moment, but now that the engine parts and API all exist, it should be easy to add this for other resources.

What's missing: We don't add any edges, and after a while, if we think we want special edges added too, then we can think about what the interface

[2019-09-14 21:45] #61 closed

[2019-09-20 07:01] dbakong commented on #308
@purpleidea  - PR #544 raised to resolve this issue.

[2019-09-22 04:54] purpleidea opened #545 "Create a bmc resource"
Might be nice to have a bmc resource. It might be useful to wrap bmclib to deal with all the proprietary BMC's out there. Not sure if it has event streams though. I opened an issue here:

https://github.com/bmc-toolbox/bmclib/issues/114

Alternatively or in parallel, it might be nice to wrap openbmc (they seem to have a stream api: https://github.com/openbmc/docs/blob/master/rest-api.md#event-subs

[2019-10-04 07:42] purpleidea commented on #308
Merged, so we can close this \o/

[2019-10-04 07:42] #308 closed

[2019-11-02 17:28] probonopd opened #561 "mismatched types gopkg.in/fsnotify.v1"
Getting `mismatched types "github.com/purpleidea/mgmt/vendor/gopkg.in/fsnotify.v1".Op and "gopkg.in/fsnotify.v1".Op`.

Removing `github.com/purpleidea/mgmt/vendor/gopkg.in/fsnotify.v1` would solve this.
On Travis CI with Ubuntu Xenial, getting:

[code]

References:
* https://github.com/probonopd/appimage/blob/cb770fa039b4002e1b2b6ed10d8634b5cd16e854/.travis.yml
* https://travis-ci.com/probonopd/ap

[2019-11-02 22:41] purpleidea commented on #561
@probonopd I think I'm missing a tiny bit of context of what you're trying to do... Our builds don't seem to hit this issue...

As a side-note, I should disclose that we vendored an older version of fsnotify, because a while back a newer version broke all our builds, and we haven't taken the time to write enough tests and bump to a newer version. (That task is open for anyone willing.)

[2019-11-03 14:07] probonopd commented on #561
In my code, I need to check whether incoming notifications are of a certain type:

[code]

https://github.com/probonopd/appimage/blob/5b3924784ca4a7cae5e1549031ca3ed4ef4c8de5/src/appimaged/inotify.go#L14

To be able to do this comparison, (I think) I need to import `fsnotify`:

[code]

https://github.com/probonopd/appimage/blob/5b3924784ca4a7cae5e1549031ca3ed4ef4c8de5/src/appimaged/inotify.go#L45

[2019-11-03 14:49] purpleidea commented on #561
@probonopd Can you explain how mgmt fits into all of this?? Are you importing it as a library for your code?? A bit of background knowledge would help a lot!

Solutions wise, I think there are two possibilities: (1) switch to the same vendored version we use. (2) We could unvendor fsnotify and switch to the git master version or a recent tag.

I actually prefer (2) since I think it would also solv

[2019-11-03 14:55] probonopd commented on #561
I think

[code]

pulls it in. (2) sounds fine to me.

[2019-11-03 14:57] purpleidea commented on #561
What? No way.

[2019-11-03 15:48] probonopd commented on #561
Sorry, I was confused. Meant to say: I think

import (
(...)
	"github.com/purpleidea/mgmt/recwatch"
)

pulls it in. I need recursive inotify.

[2019-11-03 16:39] purpleidea commented on #561
@probonopd Ah, okay, in that case, I would recommend helping to write some tests and sending a patch to move mgmt to the git master version of fsnotify.

[2019-11-05 20:59] tpetrosy opened #564 "[bug] I got "panic: close of closed channel" running "mgmt run""
## Versions:

* mgmt version (eg: `mgmt --version`):
root@debian:~/mgmt# mgmt --version
mgmt version 0.0.21

root@debian:~/mgmt# dpkg -l |grep mgmt
ii  mgmt                                  0.0.21

* operating system/distribution (eg: `uname -a`):
root@debian:~/mgmt# uname -a
Linux debian 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Linux

* golang version (eg: `go versio

[2019-11-06 02:53] purpleidea commented on #564
Thanks for the report! As discussed in the workshop, this is the bug I discovered the other day. I'll be on it right after DOD Montreal finishes tomorrow. For some reason, it didn't show up until golang 1.12.x+ so I'm guessing something changed in the scheduler and we missed a race.

Thanks for the report!

[2019-11-09 00:27] Superpat opened #567 "Port mgmt to OpenBSD"
## Versions:

* mgmt version (eg: `mgmt --version`):
git master

* operating system/distribution (eg: `uname -a`):
OpenBSD 6.6 GENERIC.MP#402 amd64

* golang version (eg: `go version`):
go version go1.13.3 openbsd/amd64
## Description:

I'd like to create a port of mgmt for OpenBSD

[2019-11-09 00:29] Superpat commented on #567
The main problem right now is that, as I understand it, mgmt currently requires go1.11.x, once it builds with the go compiler in OpenBSD-current I'll start trying to port it.

[2019-11-09 00:43] purpleidea commented on #567
@Superpat We have a 1.11 minimum for testing purposes, and in particular because we pull in etcd, but if you want to use an older version I wouldn't be surprised if it would still work. Or did you mean that you wanted to use a newer version?

[2019-11-10 03:33] Superpat commented on #567
I meant using a newer version than 1.11. At the time being, the openbsd version of go is 1.13

[2019-11-10 04:11] purpleidea commented on #567
@Superpat Oh, port away. I'll be moving the default to 1.12 shortly, with the test adding in 1.13 as optional. I've only delayed it because I found a bug that seems to occur with much higher frequency on 1.12 (I plan to patch it ASAP) but it shouldn't block any porting.

HTH

[2019-11-10 14:18] ffrank opened #568 "Gratuitous stderr redirection in Makefile"
## Versions:

* mgmt version (eg: `mgmt --version`): git master

* operating system/distribution (eg: `uname -a`): `Linux dev-app01-ffrank 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:09:47 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`): 1.11.5

## Description:

Issues from unclean build environments can currently be hidden by Makefile rules.

[code]

But as the M

[2019-11-12 21:10] purpleidea commented on #568
The problem is that the normal behaviour is logged to stderr as well which makes a mess in my terminals. if you'd like to play with https://golang.org/pkg/log/#SetOutput or similar and propagate errors properly and only print good things to stdout and bad things to stderr then happy to do this.

[2019-11-12 21:27] purpleidea commented on #561
Going to close, but if you want to work on this for your needs, please send a patch. Thanks

[2019-11-12 21:27] #561 closed

[2019-11-14 13:53] roidelapluie opened #572 "Move to golang modules instead of git submodules"
I would really love to see git modules go away in favour of golang modules.

I am trying to build mgmt inside $customer infra and will have to maintain an internal fork of mgmt with modules to be able to build it.

Go modules enable more reproducible builds, and they are pushed by golang upstream, we should use them.

[2019-11-14 16:20] purpleidea commented on #572
@roidelapluie Is the only problem you're having the lack of reproducibility or is there anything else?

I was planning to solve the reproducibility issue, and I was likely going to use git modules for it, however the plan was to add those mod files into a subdir such as go.mod.<tag version> and a `make restore` and `make addtag` script. Because I wanted git master to stay free of those, but still

[2019-11-14 17:32] roidelapluie commented on #572
Our pipelines internally use go mod, so that would be the easiest for us. Also normally we do go mod vendor and commit vendor in our internal repo.

[2019-11-18 01:21] #568 closed

[2019-11-19 23:54] Superpat commented on #567
For reference: I've gotten to the point where almost all go deps are installed, I'm facing a few linking problems now, but havent had the time to check them out in depth.

[2019-11-19 23:58] purpleidea commented on #567
@Superpat Cool-- Feel free to ping here with progress or any questions.

[2019-11-22 00:24] Superpat commented on #567
So during compilation:

[code]

I'm facing these two issues:

This I'm not sure yet how to fix yet
[code]

I have to get rid / replace this dependency.
[code]

[2019-11-22 03:32] purpleidea commented on #567
For socketset, you'll see here:

It's only used by the net resource (systemd) and cpu count.

You can provide alternates on BSD-- for the svc resource, you can just disable it with an os build tag. If you think there's a good BSD system manager, then please write a resource for that =D

For the cpu count, you can make an alternate that returns an error or a -1 or something. Ideally you'd actually

[2019-11-22 20:28] dch commented on #567
@Superpat do you have a fork or clone somewhere with your diffs? I'm interested in seeing how close this gets for the Other BSD.

[2019-11-22 21:36] Superpat commented on #567
@dhc done !

[2019-12-18 03:28] adamsigal opened #575 "mgmt behaves incorrectly when the same exec field is defined twice in an mcl file"
## Versions:

* mgmt version 0.0.21-44-g590a4d0-dirty

* Ubuntu LTS 18.04.1

* go version go1.12.9 linux/amd64

## Description:
When creating an exec resource in mcl, if the same field is defined more than once, it is not immediately prohibited. This causes errors down the line.

Here is a simple example file to demonstrate:
[code]
running this example produces the following output:
[code]

[2019-12-18 06:37] purpleidea commented on #575
You should try an example with

`        cmd => "/usr/bin/echo hello",
	cmd => "/usr/bin/echo world",
`

and see what happens!

But yeah, as discussed, I think this is a good (and possibly not too difficult) bug for you to work on after the env stuff is done or if you're blocked. The algorithm is trivial, however the most difficult part of this will be finding *and* deciding where the best place t

[2019-12-30 22:02] purpleidea opened #577 "Tftp server resource shouldn't server until CheckApply runs successfully"
Basically we're in the DAG, so make sure we've let all the other resources (like files) get built (that might be used for the file server) before the server sends anything out. We could either block or just not return anything yet.

As an aside, does the rf.ReadFrom bit not get cancelled properly on close??

[2020-01-03 04:53] purpleidea commented on #541
AIUI this is fixed!

[2020-01-03 04:53] #541 closed

[2020-01-03 05:03] purpleidea opened #579 "Constants from resources"
Resources should be able to export "constants" which would be made available in the language. Perhaps under some global "const.res.file.state.exists" type namespace. Naming TBD.

In addition we *may* want to consider also telling the user about the defaults. Not sure if it's very important though. That idea came from here:

https://github.com/purpleidea/mgmt/issues/333

Relevant text:

<blockquote

[2020-01-03 05:03] purpleidea commented on #333
This is done with the elvis operator, and the default values stuff is mentioned in #579

[2020-01-03 05:03] #333 closed

[2020-01-03 05:05] purpleidea commented on #427
As a small note, I implemented an easier first resource, a TFTP server, which works great so far.

The rough design could be copied for DHCP. I started looking into DHCP and have some initial code. If someone wants to continue this, lmk. The only bugs in TFTP are: https://github.com/purpleidea/mgmt/issues/577 and also I think part of the TFTP lib blocks on some timeouts. (Need to add a context.)

[2020-01-05 08:49] drebs opened #580 "Upload mgmt to the Debian archive"
I think it would be great for `mgmt` community and Debian users to have `mgmt` in the Debian archive, because then it can be easily installed with `apt install mgmt`. This would probably increase testing and adoption of `mgmt` and make users like me happy because we'd get cryptographic verification of the binaries and no extra work would be needed to have `mgmt` running on Debian systems. Another

[2020-01-05 09:46] purpleidea commented on #580
@drebs We'd love to have official debian packaging. In the interim I build debian packages with `fpm` which are available here and signed by my personal key: https://github.com/purpleidea/mgmt/releases

If you can help improve this or any other aspect, let us know if you need any information. I should note that mgmt is still changing quite quickly and sadly still contains some bugs, but that doesn

[2020-01-05 11:55] drebs commented on #580
Thanks for the quick response!

Nice, I didn't know about `fpm`, will take a closer look. Some questions:

- Does `fpm` use the info in the `debian/` directory or does it do another process independent of that directory?
- Does it bundle all depencies with the package?
- Are there dependencies other than the ones in the `vendor/` directory? (sorry, but I have no previous Go experiene, so I don't k

[2020-01-05 12:02] purpleidea commented on #580
@drebs The fpm process isn't "proper" debian packaging, we just build the mgmt binary and dump it in a package. It works though =D

Basically the biggest missing hurdle to make the packaging reproducible is this:

We have a bunch of different golang dependencies. We use git master of all of them except those in vendor/ which are git submodules at a specific tag. We are missing a (probably bash) sc

[2020-01-05 12:03] purpleidea commented on #523
These should all be working now: https://github.com/purpleidea/mgmt/releases/

If something is wrong, please LMK.

[2020-01-05 12:03] #523 closed

[2020-01-22 07:43] Superpat commented on #567
I have some train hours this week while travelling before fosdem, maybe I can work on this a bit more.

@purpleidea After rebasing and installing new etcd deps, I'm getting the following errors:

`
firefly$ GOTAGS='novirt nodocker' gmake build
Building: mgmt, os/arch: openbsd-amd64, version: 0.0.21-63-g9f4daa2-dirty...
../../../go.etcd.io/etcd/vendor/google.golang.org/grpc/balancer_conn_wrappers.g

[2020-01-24 08:49] purpleidea commented on #567
I don't know why, but make sure you have the submodules checked out at the correct versions:

`git submodule init && git submodule update` ... You should see a bunch of stuff if you run `tree vendor/` in the mgmt root directory.

Or maybe those just don't work on *BSD ?

[2020-01-27 05:20] thiscantbeserious commented on #493
Since this issue wasn't solved yet:

I had that exact error while compiling for armhf, which indeed is a 32-bit SoC. Creating a architecture specific uptime_fact_armhf.go file didnt work out since the error was still thrown in the _posix file (so both files were included). In the end I simply casted it to int64 in the return, which is the best solution for both 64 bit and 32 bit architectures.

Th

[2020-01-28 00:06] ffrank opened #585 "exec watchcmd delays shutdown"
## Versions:

* mgmt version (eg: `mgmt --version`):
[code]

* operating system/distribution (eg: `uname -a`):
[code]

* golang version (eg: `go version`):
[code]

## Description:

When running the following code
[code]
and stopping `mgmt` using `Ctrl-C`, the software hangs up to 30 seconds (after the message `main: destroy...` until the shutdown commences.

Hitting `Ctrl+C` repeatedly kills more

[2020-01-28 07:57] purpleidea commented on #585
This is by design. A kill is sent to the Watch command, but that's up to it to decide whether to die or not.

There is a resource extension called InterruptableRes:

[2020-01-28 07:58] #585 closed

[2020-01-29 18:24] purpleidea commented on #521
Seems this has two components to it:

1) Getting through strconv.Unquote

2) Getting through hashicorp's hil

Neither obey escaping of $ (the first shouldn't, but the second should I think)

I've patched part 1 of this in the `Unquote` side. (Not in git master yet.)

Part two is https://github.com/hashicorp/hcl/issues/341

[2020-01-29 18:28] purpleidea commented on #579
In git master!

[2020-01-29 18:44] apparentlymart commented on #521
The escape sequence for a HIL interpolation marker is `$${`, not `\${`. (When using HIL inside HCL 1, backslashes are escapes for HCL itself, not for HIL.)

[2020-01-29 19:51] purpleidea commented on #521
@apparentlymart That is very helpful information, thank you.

I'll be digging into the code to try and port it to the standard escape sequence, and this will probably end up as a fork. In the odd chance you can point me to the right place in the code to patch this, it's appreciated!

Thank you!

[2020-01-29 22:07] purpleidea commented on #579
Not sure if we care about the "default" part of this... TBD.

[2020-01-29 23:32] purpleidea commented on #521
I think I've got a fix for this. No need to dig into the code. Thanks!

[2020-02-05 14:18] lesinigo opened #588 "Support builds on Alpine Linux"
Building in Alpine against `musl` would allow to run mgmt binaries in Alpine Linux systems.

That would open a number of IMHO interesting usage cases such as embedded systems (where "traditional" CfgMgmt softwares struggle because they're too heavy), virtual machines, docker containers (the latter I see more for testing / CI / playground rather than actual production deployment).

I've started pre

[2020-02-24 11:59] HerrSpace opened #591 "Parser panic on []struct types with duplicate member names"
## Versions:

* mgmt version (eg: `mgmt --version`):
git commit be39fbeff6812e35454f0381f9ad551ac4f776c2

* operating system/distribution (eg: `uname -a`):
mac os 10.15.2

* golang version (eg: `go version`):
go version go1.13.8 darwin/amd64

## Description:
Parsing `$d []struct{x int;x int}` via the MCL parser causes the following panic:

[code]

Looking at `parser.y` it seems we crash in the str

[2020-02-24 20:36] purpleidea commented on #591
Yikes! Nice find, and lovely story about getting here with the fuzzer! Would you prefer that I whip up a patch, or make a recommendation about how I would fix it and let you get the commit points?

Great question. I think NewType should keep the simple API because it makes its use significantly easier, and it's meant as an internal-only API. The bug is me not catching the invalid input from the Le

[2020-02-27 23:56] purpleidea commented on #591
I didn't hear from you, so I wrote a patch. Here it is:

https://github.com/purpleidea/mgmt/commit/70eecd52895b2bbfeddff6daded09f9e849d6374

(Waiting for tests before I merge...)

Thanks again!

[2020-02-28 00:36] purpleidea commented on #591
merged! Thanks again.

[2020-02-28 00:36] #591 closed

[2020-04-12 04:31] dbakong opened #596 "Feature: CIDR to IP converter"
#### Intro:
Mgmt has a language - mcl -  and it currently doesn't have a function to accept an ip address in CIDR form and return the IP by itself.
#### Design:
The functionality would rely on Golang's default net package - specifically [net.ParseCIDR](https://golang.org/pkg/net/#ParseCIDR) to allow mcl to convert the IP address from CIDR form. The function would take an IP in the form "192.168.23

[2020-04-12 04:38] purpleidea commented on #596
This assumption is incorrect for my intention, rather it's intended to take an IP in the form: "192.168.23.5/24" and return "192.168.23.5" -- it's true we might have different functions to determine ranges, etc, but let's start simple.

Update your above proposal, and include a short discussion about the `signature` of the function, errors (if any) and anything else you might want to mention. Ther

[2020-04-15 03:07] purpleidea commented on #72
Since I did some reading of the HTTP libs recently, I thought I should mention that this should probably look at `*Modified-Since` headers perhaps.

[2020-04-22 02:20] dbakong commented on #596
Additions to the IP parsing patch in the net package could include new functions for the following:
- Return IP network/Mask from an IP address
- IP address comparison (checking if 2 IPs are equal)
- URL parsing for hostname, port, path?query or opaque?query string, etc

[2020-05-30 15:21] nwmcsween commented on #588
This would be hard as it seems mgmt depends on systemd and systemd uses a lot of glibcisms. Systemd also won't accept portability (standards) fixes from what I remember.

[2020-05-31 00:04] purpleidea commented on #588
On Sat, May 30, 2020 at 11:21 AM Nathan <notifications@github.com> wrote:

Mgmt does _not_ depend on systemd, it uses systemd for certain
resources. We think systemd is a good thing, but if your OS doesn't
support it, that's fine. You can also add new resources to fill in the
gaps. For example, our svc resource uses systemd. Send a patch to have
it also support OTHER_SVC_TOOL.

[2020-06-05 13:13] NiceGuyIT opened #601 "Incorrect dependency path for dvyukov/go-fuzz"
## Versions:

* mgmt version (eg: `mgmt --version`): N/A (haven't built yet)

* operating system/distribution (eg: `uname -a`): Linux computer1 4.12.14-lp151.28.48-default #1 SMP Fri Apr 17 05:38:36 UTC 2020 (18849d1) x86_64 x86_64 x86_64 GNU/Linux

* golang version (eg: `go version`): go version go1.13.11 linux/amd64

## Description:
I'm working on building mgmt and ran across an incorrect depend

[2020-06-05 16:26] NiceGuyIT opened #602 "git submodule can't have trailing slash"
## Versions:

* mgmt version (eg: `mgmt --version`): `mgmt version 0.0.21-90-g5c6a66e-dirty`

* operating system/distribution (eg: `uname -a`): `Linux computer1 4.12.14-lp151.28.48-default #1 SMP Fri Apr 17 05:38:36 UTC 2020 (18849d1) x86_64 x86_64 x86_64 GNU/Linux`

* golang version (eg: `go version`): `go version go1.13.11 linux/amd64`

## Description:
`git clone --recursive https://github.com/p

[2020-06-05 18:55] purpleidea commented on #601
Good find, thanks! Want to send a patch?

[2020-06-05 18:56] purpleidea commented on #602
What git version are you using `git --version` that causes this? It seems to work fine in CI.

[2020-06-06 13:46] NiceGuyIT commented on #602
I found the problem. My `~/.gitconfig` forces all GitHub URLs to use SSH instead of HTTPS. This was in response to `go get` using HTTPS for private repos and asking for the credentials. Golang's FAQ  explains [Why does "go get" use HTTPS when cloning a repository?] I chose the second solution by adding this to my `~/.gitconfig`.

[code]

With that configuration, it's impossible to add a submodule

[2020-06-07 22:50] dbakong commented on #596
This is complete with @ #598

[2020-06-07 22:50] #596 closed

[2020-06-16 05:16] dbakong opened #606 "Feature: Url Parser for mcl"
'''
It turns out that it is useful to "parse" strings that represent URL's. Golang makes this a bit easier because it has: https://golang.org/pkg/net/url/#Parse -- we'd like to do something similar. Here's the catch:

0) Look up "pure functions", "side effects", and "functional programming" and spend 30 min understanding the basics.

1) Design the "API" for whatever our URL parsing should look lik

[2020-06-19 08:10] purpleidea commented on #606
@dbakong I was expecting to see the recommended `mcl` signature, and some mcl examples...

[2020-06-22 17:35] NiceGuyIT commented on #602
This was reported to git's [mailing list] but haven't received a response. I'm leaving it open because while I don't see any cons, there is one small edge case it helps.

[mailing list]: https://public-inbox.org/git/CAKCYOsMTRm3Zb733OFWDEmBh+V_z1oU+KY568=b9U=tZqXaPfQ@mail.gmail.com/T/#u

[2020-06-23 01:40] purpleidea commented on #602
On Mon, Jun 22, 2020 at 1:36 PM David Randall <notifications@github.com> wrote:

Nice work, let us know what you find out if I miss following the thread!

Thanks,
James

[2020-07-17 08:04] purpleidea commented on #606
@dbakong The example doesn't match the signature, and the scheme is only one small part...

[2020-07-17 12:26] dbakong commented on #606
@purpleidea -  The example above was only meant to show a small example of the url parser in action. I'll add more examples as I implement the patch. I'll work on matching the signature to the current example.

[2020-09-09 21:17] bby-bishopclark opened #609 "EL packages - any plans to resurrect and maintain the EL7 releases?"
## Description:

I notice in the FAQ that the EL7 packages are listed as 'dead' in COPR and are 5 years old.  Is there a plan to resurrect this deployment spur ?

For many of us, a packaged install is a deal-maker (or deal-breaker!) and some of us will silently just skip over a project with no enterprise release.

Thanks!

[2020-09-22 12:07] nixinator opened #610 "Package for Nixos"
Nixos and Mgmt Config might be combination for the following reasons (there are many more).

* Keeping secrets out of the /nix/store

* Coordinating and running changes to /etc/nixos/configuraton.nix (and import files). (on a git commit)

* Setting up tests infrastructure

* Integrating with Nixops

[2020-09-22 12:19] purpleidea commented on #610
Happy to have a package, but no resources available to build one atm.

[2020-09-22 15:32] nixinator commented on #610
I'm working on it :-).  It may not be possible currently because the way dependencies are built into the project. Nixos likes to build from golang projects from source (it is a build system after all). It can handle go modules, with buildGoModule.

There a few other 'nixos' tools to gather dependencies , mgmt seems to use a combination of 'go get' , 'go submodules', which may make it a little more

[2020-09-22 15:38] purpleidea commented on #610
If this would make your life easier (and ours too perhaps)

We like building everything from git master to keep things fresh for now, but for packaging it's an issue. So I wanted to extend (via shell script I suppose) a "tag" script that saves a lock file with the currently used dep versions. So that it can be restored if you want to build a specific tag.

You can use the standard golang module lo

[2020-09-23 01:04] nixinator commented on #610
Ping!!! :-). Well if there is a coherent way to make the build more 'nix' friendly, then it's worth exploring. If it builds in nix/nixos, then would you be willing to add a default.nix and shell.nix (and maybe even a flake.nix) to the root of the project??

Nix is a bit alien when you first see it but....as they say in The Hitch Hikers Guide to the Galaxy... DON'T PANIC!.

as example, ipfs is buil

[2020-09-23 15:08] #601 closed

[2020-09-23 15:56] purpleidea commented on #610
Not allergic to it AFAICT. I don't know enough about nix. If the files *need* to be in the root for nix to work, then it's probably okay. Otherwise they can go in misc/ happily.

How do you avoid it? Are you still going to work on the pinning of modules thing?

Probably not. Just bumped some deps to 1.13 as well. Tests also run on 1.14 -- We'll see if I missed anything shortly.

[2020-09-23 18:12] nixinator commented on #610
Yes, I'm going to look at pinning etc when i get my head around the build process.

nix likes shell script files to shebang to be portable friendly.

https://www.cyberciti.biz/tips/finding-bash-perl-python-portably-using-env.html

so changing

#!/bin/bash

to

#!/usr/bin/env bash

some projects refuse to do this, if your not adverse to it , I can make go thru them, a make a patch.

Also, would you

[2020-09-23 18:48] purpleidea commented on #610
I'll make you a deal... Once the go pinning stuff is merged, I'll accept or write the patch to switch this stuff for you if you like.

Is this what you want?
https://github.com/purpleidea/mgmt/blob/76ede10e0a0433d8aae6b3b4e132ca9dcce5ca75/Makefile#L159

[2020-09-23 19:09] nixinator commented on #610
again, it's just nix weirdness, where golang is trying to install a library into a the readonly /nix/store

Building: mgmt, os/arch: linux-amd64, version: 0.0.21-92-ge99dd74-dirty...
go build runtime/cgo: copying /run/user/1000/go-cache/a8/a8c43676c0bd05331491ea4b76385e1daa149d053f9a1f55a25589358611653c-d: open /nix/store/y2nrzzz2yz7k36xvwr7bbfx76cb8jg16-go-1.14.8/share/go/pkg/linux_amd64/runtime/

[2020-09-23 19:16] purpleidea commented on #610
We can always add a new build target for nix if needed. But maybe try setting GOPATH to something totally writable and see if that helps.

For your patch it should probably be a bit of bash combined with the new standard go modules.

I'm not wearing your clown shoes.

[2020-09-23 23:06] nixinator opened #611 "cannot make a statically linked mgnt as make mgmt.static fails."
## Versions:

* mgmt version (eg: `mgmt --version`):
mgmt version 0.0.21-98-g76ede10

* operating system/distribution (eg: `uname -a`):

Linux osboxes 5.0.0-23-generic #24~18.04.1-Ubuntu SMP Mon Jul 29 16:12:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

* golang version (eg: `go version`):
go version go1.15.2 linux/amd64

## Description:

make mgmt
Generating: lexer...
Generating: parser...
Generati

[2020-09-23 23:15] purpleidea commented on #611
Woops, I guess nobody added those deps. I didn't add the `mgmt.static` target, and I forget who did and why, and well, it's not getting tested. If you care about keeping it working, please add a short test in `/test/`. Otherwise it's best effort, sorry.

As for `/usr/bin/ld: cannot find -lvirt-qemu` and so on, sounds like you *might* be missing the libvirt-devel headers? It's listed in `misc/make-

[2020-09-24 01:25] nixinator commented on #610
Ok, I have mgmt compiling and runnng on Nixos within a Nixshell. This is the first step to getting a full nixos package done.
:-)

I had to do the following things.

patch the shebang !#/bin/bash to a portable #!/usr/bin/env bash

to avoid

[code]
I had to remove the -i from

``` time env GOOS=${GOOS} GOARCH=${GOARCH} go build -i -ldflags=$(PKGNAME)="-X main.program=$(PROGRAM) -X main.version=$(SV

[2020-09-24 01:31] nixinator commented on #611
not to worry, compiling the dynamically linked execute seems ok. I was only exploring "make mgmt.static" as work around to the dynamically link binary failing to compile.

[2020-09-25 01:41] purpleidea commented on #609
@bby-bishopclark Sorry for the delayed reply. This project isn't really funded, it's done in my spare time. If you'd like to fund this feature, please let me know! Free software isn't gratis. Sorry it's not the answer you might want, but I want to be honest about my available resources. Thanks!

[2020-09-25 01:41] #609 closed

[2020-09-25 22:07] bby-bishopclark commented on #609
Totally understandable; we just disagree about chickens and eggs.  :-D

Ah, so it's just 'make srpm', then.  Did the build break without a budget to fix it, and that's why EL7 wasn't being produced?  Looks like it could Just Work but - same deal - spare time.   Let you know!

[2020-09-25 22:39] purpleidea commented on #609
@bby-bishopclark Yeah, day-to-day, I'm not testing or building continuous builds. I do publish binaries in https://github.com/purpleidea/mgmt/releases but it's not using COPR atm. There is some Makefile stuff about copr, but I haven't looked recently. I'm more focused on fixing the bug or two that's bugging me, and adding an important feature that I want. After then, we might circle around with mo

[2020-10-31 18:22] jlucktay commented on #572
Hi there, speaking as someone that only just today cloned `mgmt` and started hacking through the quick start guide, FWIW my 2c is that going through that process without a `go.mod` file in the project root was my single biggest source of frustration in getting a binary built.

The maturity of Go modules has improved since this issue was raised; at the time Go 1.13 had only just come out, and then

[2020-11-01 04:16] purpleidea commented on #572
@jlucktay Can you describe specifically, in technical terms "my single biggest source of frustration in getting a binary built." ?
We also have binary releases which you can download and use directly.
Thanks!

[2020-11-01 05:47] jlucktay commented on #572
It centred around the `make-deps.sh` script.
When it calls `go get -v -t -d ./...` it would use either 1) a version of an external package already downloaded in the local `$GOPATH`, or 2) pull whatever the latest version is from online, both of which are potentially incorrect/inconsistent, rather than their versions/commit hashes being explicitly defined/compatible.

I couldn't find any git submod

[2020-11-01 05:54] purpleidea commented on #572
@jlucktay

So the goal for git master is to be git master. This keeps it stable every day for development, rather than having to all of a sudden on release day update 100 deps. There's an FAQ entry about this. Releases are a different story.

We'd like to do this for *tagged* release versions. This was discussed in a few places including in: https://github.com/purpleidea/mgmt/issues/580 and https:

[2020-11-01 09:51] jlucktay commented on #572
After reading through that FAQ entry and the linked issues, the philosophy/approach taken here does make sense; use currently-available dependencies at build time and eat the breakages, weighed against ongoing maintenance.

If a `go.mod` file was in place, each commit to this repo would be snapshotting dependencies automagically.
As I understand it though, you'd like to keep a growing library of s

[2020-11-01 11:28] purpleidea commented on #572
@jlucktay

Great!

I don't understand this comment. But my goal is to have git master have all git master deps other than what we *must* pin (because their git masters are broken) and for release tags to have an associated snapshot of all the git master deps from when I run `git tag` to cut a release.

Correct.

Awesome, can you work on the patch please?

I don't know what's up here, but I'm confi

[2020-11-10 12:46] eviscares opened #613 "Issue building mgmt"
## Versions:

* mgmt version (eg: `mgmt --version`):
-
* operating system/distribution (eg: `uname -a`):
Ubuntu 18.04
* golang version (eg: `go version`):
go version go1.15.2 linux/amd64
## Description:
Hi,

I'm trying to build mgmt and I'm running into some issues here when I try to make deps.

package github.com/purpleidea/mgmt
	imports github.com/purpleidea/mgmt/lib
	imports github.com/purpleid

[2020-11-11 00:36] purpleidea commented on #613
@eviscares You're not stupid! Please follow the quick start guide: https://github.com/purpleidea/mgmt/blob/master/docs/quick-start-guide.md

You probably want `make deps`.

And if you're curious about the specific issue, it has to do with the fact that the `bindata` stuff is generated code. This was necessary before the `go:embed` stuff existed. And we'll keep using it for a while and the embed st

[2020-11-11 05:19] bish0polis opened #614 "mips build?"
Hey everyone,

Anyone building for mips yet?

Is it even possible?

[2020-11-11 07:33] purpleidea commented on #614
@bish0polis No idea, but it would depend on golang. If you'd like to work on this let me know and I'll re-open the issue.

[2020-11-11 07:33] #614 closed

[2020-11-11 07:33] purpleidea commented on #614
(To clarify, I don't have hardware for this, nor do I know how well golang works at all on this arch. Let us know.)

[2020-11-11 09:31] bish0polis commented on #614
I'm not a good candidate to work on this one, sadly.  I have no Go experience, and Rust is gentler for us C kids so it may slide in before Go.  I have one class of MIPS-LE devices in mind (the ER-X) and proper management would have been cool if I were to scale these out as part of a private project.

[2020-11-11 12:00] eviscares commented on #613
Thanks for the advice, but it doesn't seem to work, as I have the aforementioned error when trying to `make deps`. I will switch to using a release for now, but I would like to get this to build in the future to maybe hack away at it.

[2020-11-11 16:04] purpleidea commented on #613
@eviscares At this point you should already have all the deps installed. Try:

`make`

Does it build?
Next check that `go-bindata` is in your $PATH somewhere...

LMK what `which go-bindata` replies.

[2020-11-11 17:08] purpleidea commented on #614
@bish0polis Golang does have `linux/mipsle` but there are some limitations. I haven't tried it. If your company has a ton of these devices and want to send me one, I can play around with it, but it will be all "best effort" and I can't guarantee any success or how much time I can devote to it.

HTH

[2020-11-11 18:00] bish0polis commented on #614
It's a family project, unfortunately.  Thanks anyway!

[2020-11-15 15:48] frebib commented on #499
This is a problem many Golang users have faced, including myself. Even the Golang community can't decide:
https://github.com/golang/go/issues/20280
https://github.com/golang/go/issues/36402
https://github.com/golang/go/issues/41054

The cancellation of blocking IO operations in Go is a really tricky problem to solve, afaik. I think the "most accepted" option is to set the deadline to `Now()` when

[2020-11-26 18:59] purpleidea commented on #564
/cc @frebib

[2020-11-26 19:51] purpleidea commented on #564
Some context:

Most of the relevant code is probably in here.

https://github.com/purpleidea/mgmt/tree/master/engine/graph

More specifically:

https://github.com/purpleidea/mgmt/blob/master/engine/graph/actions.go
and:
https://github.com/purpleidea/mgmt/blob/master/engine/graph/state.go

but maybe also:
https://github.com/purpleidea/mgmt/blob/master/engine/graph/engine.go

I wouldn't be surprised

[2020-11-26 21:53] frebib commented on #564
In an attempt to reproduce this, I changed the `datetime.now()` function tick every nanosecond, just to make the thing really spin fast. This patch does that
[code]

It also looks like the vumeter code is broken, so this prevents that from throwing a segfault
[code]

Finally, I also added these in the hopes that these uncaught errors would expose any pause failures from within. I never saw these c

[2020-12-07 11:58] frebib opened #617 "Add nftables (+iptables) resource to set rules"
nftables would be a more suitable candidate for mgmt because:
- `nft monitor` provides an event to watch for changes in rules (https://wiki.nftables.org/wiki-nftables/index.php/Monitoring_ruleset_updates)
- nft rule swaps are atomic (https://wiki.nftables.org/wiki-nftables/index.php/Atomic_rule_replacement)
- nft has a backward-compatible iptables-nft layer for iptables users
  - This comes at a s

[2020-12-07 12:01] frebib commented on #606
https://golang.org/pkg/net/url/#Parse
Could this be used along with the simple function api and the funcgen code?
I'm not sure how that handles functions that return errors, though

[2020-12-07 12:02] frebib commented on #588
@purpleidea In this case, could we have different implementations of the `svc` module (and others too like pkg) that are chosen at runtime based on the running system?

[2020-12-07 13:09] lesinigo commented on #588
IMHO getting it to _build_ (and possibly run 😅) is one thing, porting a specific resource like `svc` to be compatibile with a new provider is entirely another thing.

[2020-12-07 19:54] purpleidea commented on #617
For iptables/nftables stuff, usually I expect a "holistic view" of firewall control. IOW, entirely managed by the automation tool. As a result, I don't know how valuable it is to monitor for changes unless you're working in a "brownfield" environment. For firewalling specifically, I'm a huge fan of `shorewall`, which works declaratively, and maps very well to mgmt. I previously wrote a puppet modu

[2020-12-07 19:57] purpleidea commented on #606
@frebib Correct, this could use the simple function API since it's completely pure. As for errors, you'd need to decide how to represent that in mgmt. Either a `isValidURI() bool` to know if it would error, and for the `Parse` function, on error you empty string (likely my preference) or if you want to hard error and shutdown the language. (Probably not recommended.)

Some background: This was a d

[2020-12-07 19:59] purpleidea commented on #588
@frebib

Possible, but I think step one is to implement a `svc:other_tool_name` first. Whether we want to abstract away the different service resources behind one is a discussion for a later time.

@lesinigo

Totally... I'm not working on alpine testing, so if someone would like to test it and even run a CI and send patches they are welcome to =D

[2020-12-08 16:08] frebib commented on #617
Looking over your shorewall module, I think we're on the same lines.
The user should be able to:
- define one or more rules, with the complete set of options provided by the backend (i.e. not limited to only "what is implemented")
- define rule ordering, because in most cases that's important
- have rules reloaded as atomically as possible (especially important on say something like a router, whic

[2020-12-08 22:19] purpleidea commented on #617
Yup, this is doable.

This is possible with the file/dir resource called "purge" https://github.com/purpleidea/mgmt/blob/master/engine/resources/file.go#L166

I expect this is the case.

[2020-12-21 09:09] #299 closed

[2021-01-01 15:17] frebib opened #624 "Type unification always fails with embedded structs in a resource due to field naming contradiction"
## Versions:

* mgmt version (eg: `mgmt --version`): 01c2131436dc77bb9ad922c62440efab2ff7ec60 (master HEAD)
* operating system/distribution (eg: `uname -a`): Arch
* golang version (eg: `go version`): 1.15.6

## Description:

This bug (oversight? I'm not sure) was actually already discovered 2 years ago https://github.com/purpleidea/mgmt/issues/432#issuecomment-450700956 in a similar issue that may

[2021-01-04 03:37] purpleidea commented on #624
We talked a bit about this on IRC... I think this is blocked on https://github.com/golang/go/issues/25401 ... So:

1) I don't want to dig down into this myself until 24501 is fixed.
2) But eventually I might have to do so and either fix that upstream or make a workaround here
3) And I'd probably want a simple failing test case as a PR before I started
4) That last one is easy to do, but I'm focuse

[2021-01-05 09:26] frebib commented on #624
I'm happy to work on this. It's something I want to rely on in a resource that I'm working on, and I think fixing/changing this behavior will appear more intuitive and consistent in the long run.
I've been trying to wrap my head around how this works, and this is where I'm at currently:

* There are two things to do here IMO:
  * Wait until golang/go#25401 is fixed, then write test cases & validat

[2021-01-05 17:06] frebib commented on #624
After thoroughly straining every neuron in my brain trying to trace through the several layers of the code, I think I understand the variable journey from mcl to resource now.
One thing I'm reasonably sure about is this only affects specifically structs inside a resource, or nested within a resource eventually through other structs, maps, lists etc.

Fixing the primary part of this is simple, by t

[2021-01-07 09:32] purpleidea commented on #624
There's a lot to discuss here, and TBH, I think we might be near the limit of how efficient we can be over text... (Of course please do attempt to send appropriate patches and tests that I can merge if you like...)

However, if it would help, we can do a gmeet session on the weekend and try and live hack this out if you'd like. It would likely take at least an hour I think because I've not looked

[2021-02-07 05:12] purpleidea commented on #624
Seems this is fixed with your recent patches! Thanks =D

[2021-02-07 05:12] #624 closed

[2021-02-07 05:14] purpleidea commented on #432
@jonathangold I think this should be fixed now, but I didn't retest the exact code. We have a newer dhcp resource already merged that uses automatic grouping instead of complex internal structs, but this was still a valid bug. If you can still repro, please ping or open a new issue! Thanks =D

[2021-02-07 05:14] #432 closed

[2021-02-07 05:14] purpleidea commented on #613
I'm closing for now. If you provide more information we can reopen.

[2021-02-07 05:14] #613 closed

[2021-02-07 16:50] frebib opened #632 "Use errors.Wrap and replace errwrap.Wrapf"
Go 1.13 adds errors.Wrap() which is a first-party replacement for the mgmt errwrap package.
https://blog.golang.org/go1.13-errors

The argument ordering differs slightly, but porting it should be entirely doable.

[2021-02-07 19:06] frebib commented on #632
I think the simplest form of this change would be as follows

[code]

Although it could certainly be taken one further to inline the usage of the Wrapf function and then remove it completely as it's redundant

[2021-02-12 05:34] purpleidea opened #634 "Partial struct assignment isn't caught if it's dead code"
With:

[code]

Test case showing the issue:

[code]

Not a major issue, but something to consider. Whether this is a bug or a "unfortunate", might as well mention it for now.

[2021-02-12 05:35] purpleidea commented on #634
/cc @frebib who reported this.

[2021-02-17 08:40] purpleidea commented on #521
This is fixed now. If you have other issues, please submit a short test example. Thanks!

[2021-02-17 08:40] #521 closed

[2021-02-17 08:43] purpleidea commented on #427
I forgot to mention it earlier, but there is a working dhcp resource (server) merged now. Look in `examples/lang/dhcp0.mcl` for more info.

[2021-02-17 08:43] #427 closed

[2021-02-26 04:55] jackmac92 opened #637 "Error in quickstart example"
## Versions:

* mgmt version (eg: `mgmt --version`): mgmt version 0.0.21

* operating system/distribution (eg: `uname -a`): `Linux 5.8.0-7642-generic #47~1614007149~20.04~82fb226-Ubuntu SMP Tue Feb 23 02:56:27 UTC  x86_64 x86_64 x86_64 GNU/Linux` (PopOs 20)

* golang version (eg: `go version`): go version go1.15.3 linux/amd64

## Description:
Running `mgmt run --tmp-prefix lang examples/lang/hello

[2021-02-26 05:00] purpleidea commented on #637
This is super embarrassing, but actually not a bug. The `const` namespace is in git master but not the 0.0.21 release. I should do a release pretty soon and I've been delaying it. Sorry for that. If you edit the code to replace the const with the "exists" string it should work just fine =D

Cheers!

[2021-02-26 05:00] #637 closed

[2021-03-02 22:29] S-ign opened #641 "New Function Ideas"
## Versions:
* mgmt version (eg: `mgmt --version`):
mgmt version 0.0.21-127-gbe4b871

* operating system/distribution (eg: `uname -a`):
Linux 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

* golang version (eg: `go version`):
go version go1.13.8 linux/amd64

## Description:
Random functions, let me know if any of these are useful

I already see a

[2021-03-03 08:55] evrardjp opened #643 "Properly test commit messages on branch push"
## Description:

We should test commit messages on PRs but also on branches pushes. Here it's not doing it right.

[2021-03-03 09:17] purpleidea commented on #643
I approve =D

[2021-03-03 12:20] evrardjp commented on #632
What's the current reason of existence for errors.Wrapf? Was it only because of golang didn't support it until now?

If those errors.Wrapf were only to add into error chain, I believe it would indeed be better for readability to use fmt.Errorf %w. The intent is (by far) more clear for me that way.

[2021-03-03 19:19] purpleidea commented on #632
On Wed, Mar 3, 2021 at 7:20 AM Jean-Philippe Evrard
<notifications@github.com> wrote:

Correct.

I think we should _probably_ switch over, however the problem is that
we can do `return errwrap.Wrapf(err, "whatever")` and if err is nil,
the whole thing is nil.

[2021-03-03 21:36] evrardjp commented on #632
Let's write a bunch of `if err != nil` then!

I don't mind having a look at this. @frebib , can I use your help on this?
I hope to reduce code/tech debt by removing the whole errwrap in a decent refactor.

[2021-03-03 22:23] frebib commented on #632
Sure thing @evrardjp, anything you need.
I did try implementing this in the naive way and it backfired, presumably because the nils

[2021-03-09 15:49] AZ-X opened #648 "possible key buffer overflow when calling fsnotify/fsnotify on Windows"
## Versions:

* mgmt version (eg: `mgmt --version`): Any

* operating system/distribution (eg: `uname -a`): Windows

* golang version (eg: `go version`): Any

## Description:
https://github.com/golang/go/issues/44593
See https://github.com/fsnotify/fsnotify/blob/7f4cf4dd2b522a984eaca51d1ccee54101d3414a/windows.go#L381

[2021-03-16 03:31] purpleidea opened #650 "Automatically catch races"
Someone should try this project out and see if it catches and/or fixes any races:

https://github.com/system-pclub/GCatch

If it's successful, then we should add it to our test suite.

FWIW as of this writing, we *do* have some races we need to fix, but in parallel I'm curious what this tool says.

[2021-04-07 03:52] purpleidea opened #651 "we should add the SO_REUSEADDR options to etcd"
This is fixed now I think: https://github.com/etcd-io/etcd/issues/6042
We should add the options in and test.

[2021-04-07 04:47] purpleidea commented on #651
[code]

Patch is this ^^ into etcd/server.go but we need to wait for the 3.5 release first.

[2021-05-04 17:05] frebib commented on #564
So I finally worked out why this happens and what causes it. It's not super obvious and there is a large amount of indirection through the layers of the engine in mgmt; I'll do my best to explain it.

The simple answer is that the engine tries to swap graphs too frequently. Note from the original report of this issue there are several instances of the log lines `generating new graph`:
[code]
That

[2021-05-05 21:21] frebib opened #659 "Feature: Sensitive/secret (mcl) values should be flagged and never logged/exposed"
mgmt should be able to handle secret values. Things like passwords, API keys and other sensitive data. mcl should probably have some notion of "sensitive"- possibly only strings need this? If there is ever a "binary"/"bytes" type, perhaps that would need it too.

Functional changes of note that will be required:
- Avoid printing/logging sensitive values anywhere
- Define at what level/verbosity of

[2021-05-05 21:56] purpleidea commented on #659
Secrets are a fun topic! I have a design for how greenfield secrets should be used and managed, but that's out of scope for this. This has a few parts to it:

* Anything that we know is sensitive, we should just never log. For example, if a resource has a `password` field in it, then it should know to never print that.
* In the context of "diffable" resources (that may print information about the

[2021-05-05 22:03] frebib commented on #659
One reason I bring this up is because Terraform recently added this functionality https://www.hashicorp.com/blog/terraform-0-14-adds-the-ability-to-redact-sensitive-values-in-console-output

Actually tracking secrets, and derivatives of secrets in mcl should be pretty easy because we already have the variable dependency graph. With that we can make simple inferences such as
[code]

mcl is only hal

[2021-05-05 23:46] purpleidea commented on #659
Maybe not pretty easy, but very doable =D I think we'd have to extend the internal `string` type with a secret `bool` and ensure we pass that through everywhere... This will be a bit exhausting to do, and not something I want merged until lambda's are.

But it's a good idea.

So we'd do this with the meta param so that any resource can get most of it for free without too much work =D
File is the o

[2021-05-05 23:47] purpleidea commented on #651
I have this in a feature branch btw, but waiting for the etcd release.

[2021-05-25 10:32] purpleidea opened #664 "updated fuzzing"
When we get to newer versions of golang, we might want to update our fuzzing. The new format looks roughly like:

[code]

From notes taken from twitter. TBD for some future hacker to see if all this works with corpus, etc...

[2021-05-25 21:50] purpleidea commented on #440
Maybe we should use https://github.com/raviqqe/muffet instead?

[2021-08-02 01:41] h0tw1r3 commented on #580
I recently switched some go projects from fpm to nfpm. https://github.com/goreleaser/nfpm
A few rough edges, but overall I like it compared to fpm.

[2021-08-02 06:36] purpleidea commented on #580
I don't see how it could be usefully simpler than fpm, and I'm not meaningfully suffering from any dependency issue, and it's certainly not blocking us anywhere, so I have no plans to switch. If this is a patch you want to write and/or you think this can solve this issue somehow, you can let me know.

[2021-09-13 15:45] amitech commented on #487
@purpleidea let me know if it is still relevant? I can take this one.

[2021-09-27 08:35] purpleidea commented on #572
WIP of trying to move to go mod is here:

https://github.com/purpleidea/mgmt/tree/feat/go-mod-without-consent

If someone who knows what they're doing wants to add some additional patches onto this, I'll squash it all and merge it.

/cc @roidelapluie @frebib

[2021-09-27 21:21] frebib opened #672 "Perform constant propagation as part of/immediately after parsing the AST"
Constant propagation can somewhat/significantly reduce the complexity of the function graph by "merging" vertexes of constant and/or pure functions together.

Some things that could be simplified are:
- Numbers (ints/floats)
- Boolean expressions
- String literals
- (All literal expressions, including the above)
- Identity functions
- Functions that ignore all arguments
- ...

[2021-11-20 18:16] JefMasereel commented on #277
This sounds like an interesting feature for my use case, what is the current status of this issue? Any ways I could contribute?

[2021-11-22 07:12] purpleidea commented on #277
@JefMasereel Want to tell us more about your use case?

I have a bunch of this code written, and partially ported to the `Res` interface, however it is missing some internal API's for determining IP addresses, which is why I never pushed it out yet.

I don't recommend this as an early patch as it's very complex in many ways, and in particular plumbing the internal IP fixes might be challenging, so

[2021-11-25 10:38] JefMasereel opened #684 "type unification of hcloud type(s) in HetznerRes"
## Versions:

* mgmt version: 0.0.22-19-gf7271de-dirty (built from PR#681)

* operating system/distribution: 5.15.4-arch1-1 x86_64 GNU/Linux

* golang version: go1.17.3 linux/amd64

## Description:

The mgmt binary was built from PR #681 on 23/11/2021, without any alterations from the official PR at that time. I wrote `hetznertest.mcl` for a first test, which is provided in the latest commit.

Whi

[2021-11-25 15:40] purpleidea commented on #684
FYI: I looked into this briefly, and AFAICT it's not in the actual type unification/solver part of the code which is good.

I expect this relates to how our `reflect` related functions read the hetzner struct.

/cc @frebib

[2021-11-25 15:41] JefMasereel commented on #277
Thanks for the update. I agree that I don't have the experience yet to take over this resource, but I look forward to when I do :p

My use case is basically bootstrapping a bunch of server instances across multiple cloud providers. If we can get that to work with mgmt, that could be a great way to host cloud services without being overly dependent on one specific provider, and/or having a wider ra

[2021-11-25 15:43] purpleidea commented on #277
We will help you get there soon =D Put in the work and you'll be the resource king. \o/

[2021-11-30 00:53] dantefromhell commented on #491
Ex-PKI operator of a well-known (and WebTrust** audited) environment.

A few design comments around certificates, design & life-cycle - within the context of certificates used for TLS (SSL).

The life-cycle of a certificate typically ends due to one of the following reasons:
1) Certificate is no longer in use, but private key is still private
2) Security of private key got somehow compromised, hen

[2021-11-30 03:50] purpleidea commented on #491
Great synopsis, thanks! Although some of it was a bit over my head. If this is a resource(s) you want to work on, let me know, I can happily try and answer any of the questions on the mgmt side of things. Cheers!

[2021-12-01 21:21] purpleidea commented on #684
FYI: I think the fix is to not look at private fields.

[2021-12-01 21:29] frebib commented on #684
This is an issue with type conversion, where `TypeOf()` tries to recursively convert types in a depth-first fashion, but hits a loop causing the same path to be followed infinitely until the stack is full. In this case, `hcloud.Server` includes an `hcloud.Image`, which includes a `hcloud.Server`
https://github.com/hetznercloud/hcloud-go/blob/master/hcloud/server.go#L35
https://github.com/hetznercl

[2021-12-01 23:54] dantefromhell commented on #491
@purpleidea
I'm happy to answer more cert related questions.

I'm definitely interested in building this resource. First step is to write a proper design that outlines the behaviour & integration?

[2021-12-02 03:52] purpleidea commented on #491
@dantefromhell Sounds good! My recommendation would be to define the resource API (basically the public struct fields) and also mention whether you want to use autogrouping, automatic edges, send/recv or any other resource feature.

Lastly the part that probably needs most clarification is the creds stuff. IOW see my earlier comments and in particular the one about:

```  password => "hunter2", #

[2022-01-27 12:05] #684 closed

[2022-01-27 12:08] purpleidea opened #686 "Add a test for PR # 685"
https://github.com/purpleidea/mgmt/pull/685#issuecomment-1023139028

Would be great to add a simple test for this commit and also to double check that the test fails if that commit is reverted.

Commit: https://github.com/purpleidea/mgmt/commit/bf7e45439b044d18d0fdf3151fbdd7994875edce

Thanks to @frebib for the nice patch!

[2022-01-28 17:22] neverbeenthisweeb commented on #686
@purpleidea
Hi.
I can help with this, I am aware of what should be tested in regards to commit [bf7e454](https://github.com/purpleidea/mgmt/commit/bf7e45439b044d18d0fdf3151fbdd7994875edce).
However, I still don't know what does the term `kind` means inside the `StructKindToFieldNameTypeMap(kind string) (map[string]*types.Type, error)`.
Can you help to pinpoint me some examples of how this struct `

[2022-01-28 18:05] neverbeenthisweeb commented on #686
@purpleidea
Hi again.
After playing around with the `StructKindToFieldNameTypeMap` method using tests under the `./engine` folder, it looks like to test the `StructKindToFieldNameTypeMap`, we should have a registered resource in the [registeredResources](https://github.com/purpleidea/mgmt/blob/master/engine/resources.go#L31) map.
Do we already have the convention to conveniently register a resourc

[2022-01-29 10:45] purpleidea commented on #686
@JefMasereel can probably point to the issue he found that this patch fixed... After our memory is refreshed, we can use TestRes (and import it elsewhere) or do something different. Does this help?

[2022-01-29 10:46] purpleidea commented on #686
Original issue is here actually: https://github.com/purpleidea/mgmt/issues/684

[2022-01-29 12:02] neverbeenthisweeb commented on #686
@purpleidea
Ok, I will take a look at #684 first.

Anyway, by "_...our memory is refreshed_", do you mean clearing the [registeredResources](https://github.com/purpleidea/mgmt/blob/master/engine/resources.go#L31)?

I think we can create a new file of `./engine/util/test.go`, then copy the implementation of `TestRes` (and its related dependencies) in `./engine/resource/test.go` to that new file. Al

[2022-01-29 12:14] neverbeenthisweeb commented on #686
@purpleidea
Oh ya, what does the term `kind` in this project means ya? I am quite new to this domain.
Could you provide me some articles to read?
Thank you.

[2022-01-30 05:23] purpleidea commented on #686
@neverbeenthisweeb Sure!

`Kind` has a few uses, but in terms of the resources in mgmt, kind is `file`, `svc`, `pkg`, `virt`, etc... In other words the "type" of resource, although we don't use the word type here for various reasons.

[2022-01-30 05:24] purpleidea commented on #686
Oh, and for articles: https://github.com/purpleidea/mgmt/blob/master/docs/on-the-web.md

You might want to read the oldest one by me, and maybe the first language one. There are some videos of conference talks you can watch if you're interested. Newer ones are more current and more useful.

[2022-01-30 14:44] JefMasereel commented on #686
The Hetzner resource that I'm working on was failing type unification due to a circular type structure in one of the hcloud-go values that I store in a private resource field. @frebib added this patch to skip type checks for unexported fields, which solved the issues I was having. purpleidea has listed all the relevant issues by now, not sure if I can help beyond that at the moment.

[2022-01-30 18:00] neverbeenthisweeb commented on #686
@purpleidea @JefMasereel
Got it, I will try to grasp those information first.

Thanks for the help guys.

[2022-02-11 16:37] purpleidea commented on #499
I'm going to reopen this as we should eventually take some time to revisit and see about if a port to this would make sense. Thanks again for your library Matt!

[2022-02-11 16:52] mdlayher commented on #499
No worries! I was just closing out things I had no intent of following up on. I do believe the current v1 should suit your needs, but if not, feel free to open an issue.

[2022-03-21 04:43] purpleidea commented on #124
1.7. New fanotify FAN_RENAME flag

This release adds a FAN_RENAME event to the fanotify interfaces to report extra info records about new and old parent+name details. This new event was designed as a replacement for the "inotify way" of joining the MOVED_FROM/MOVED_TO events using a cookie

[2022-03-21 04:43] purpleidea commented on #124
https://kernelnewbies.org/Linux_5.17#New_fanotify_FAN_RENAME_flag

[2022-03-21 04:44] purpleidea commented on #124
fanotify

    (FEATURED) Add FAN_RENAME event to report extra info records about new and old parent+name details. This new event was designed as a replacement for the "inotify way" of joining the MOVED_FROM/MOVED_TO events using a cookie [commit](https://git.kernel.org/linus/e54183fa7047c15819bc155f4c58501d9a9a3489), [commit](https://git.kernel.org/linus/2d9374f095136206a02eb0b6cd9ef94632c1e9f7),

[2022-04-14 21:20] frebib commented on #572
Yeah, Go modules is used for dependency management

[2022-04-14 21:21] frebib commented on #572
@purpleidea This should be closed

[2022-04-15 16:44] #572 closed

[2022-05-16 19:35] skyfaller opened #687 "add auth, so mgmt can be used on publicly accessible networks"
Hi folks, is the FAQ up to date? It says "Auth hasn't been implemented yet, so you should only use it in trusted environments (not on publicly accessible networks) for now." https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#is-this-project-ready-for-production

If that is still true, I can't use mgmt yet for my use cases, so I wanted to file an issue I could follow so I can see when it's

[2022-08-21 03:43] dantefromhell commented on #610
FYI I've started work on a nix derivation using the `buildGoModule` builder and the following nix expression
[code]

Some patches were needed to improve dependency handling via `go modules`, see https://github.com/dantefromhell/mgmt/tree/nixos-packaging

Currently wrangling nix special behaviour around library paths, build process is not able to find dependencies like `libvirt` and `libxml2`.

[2022-08-21 21:10] dantefromhell commented on #610
OK, after a bunch of wranling I came up with this
[code]

Haven't tested further than a
[code]
but we're off to a start...

Next steps
- [ ] Some real-life testing w/ MCL definitions
- [ ] Figuring out how to commit to <nixpkgs>

[2022-09-10 19:03] purpleidea opened #689 "manage bios/firmware settings"
We want some resources and functions for interacting with bios/firmware settings. Here's a short guide:

https://github.com/fwupd/fwupd/blob/main/docs/bios-settings.md

This uses the linux firmware attributes API: https://www.kernel.org/doc/Documentation/ABI/testing/sysfs-class-firmware-attributes

@hughsie talked about this here: https://blogs.gnome.org/hughsie/2022/08/30/new-fwupd-1-8-4-release/

[2022-09-12 10:24] hughsie commented on #689
If it helps it's a simple enough D-Bus API to wrap; it's a simple `a{sv}` dict of interesting things. If you have any questions, yell :)

[2022-09-12 17:33] purpleidea opened #690 "Add a transitive reduction"
This library implements this: https://github.com/dominikbraun/graph#perform-a-transitive-reduction

We considered doing this in lib/main.go

[2022-10-17 03:28] purpleidea commented on #610
@dantefromhell I'd like to apologize for not replying earlier. I haven't been receiving github notifications. It's a bug they had once with my mailserver but it is apparently back. If there's anything I'm blocking, please lmk and I can patch in mgmt. Cheers

[2022-10-17 03:32] purpleidea opened #692 "tftp resources blocks"
See here: https://github.com/pin/tftp/issues/41

@vpaprots commented:

[2022-10-17 03:41] purpleidea commented on #692
https://github.com/pin/tftp/blob/90a06610acdd87d99706c4ea8328b60a04d9a8e7/server.go#L144

As an aside, we should test the latest version since there is some new cancellation code in Shutdown().

But if a client was reading a super huge file, we'd want them to get disconnected perhaps... That should be something we should check to see if it occurs. Otherwise a malicious client could slow read for a

[2022-10-17 06:53] purpleidea opened #693 "add go.mod and go.sum as deps in the Makefile"

[2022-10-18 13:29] dantefromhell commented on #610
@purpleidea
No rush, I've only get to work on it every now and than myself.

I believe I got some possible upstream changes related to #693 worked out in the process of creating the NixOS build, but also broke some of the automated testing along the way [1].

I still need into fixing those tests (might have done some other breaking changes in my fork too). In case any of this is useful for you, pl

[2022-10-22 12:55] nixinator commented on #610
I'm super busy with my startup right now, but i still got a place for mgmt-config in my heart!

[2022-11-01 05:07] purpleidea commented on #610
@dantefromhell I quite recentl updated a bunch of go mod stuff so everything builds again. This is coincidentally around the exact same time you made your comment AFAICT.

LMK if rebasing to latest master helps, and anything else, please let me know and I'll patch or merge.

[2022-11-01 14:29] urandom2 commented on #610
hope I am not stepping on your toes @dantefromhell with my pr, but thank you for your inspiration! I built mine from the ground up, so there are a few things missing from your latest version, thus please feel free to test, contribute, or give feedback, as I did not do much more than get it to compile and run a few basic commands to ensure it actually did compile.

@purpleidea, any chance we can ge

[2022-11-01 17:20] dantefromhell commented on #610
@urandom2
No toe-stepping on my end. I'm actually super happy about your PR. I haven't learned that aspect of NixOS yet this greatly helps to simplify my flake!

[2022-11-01 17:21] purpleidea commented on #610
@urandom2 You're saying getting a newly tagged release would be helpful to the nix folks? Please confirm, and then sure, I can do that.

Is there anything else in the diff for packaging that we can merge upstream here to make this easier? Do you want to push the packaging stuff upstream here?

Cheers

[2022-11-01 17:29] dantefromhell commented on #610
@urandom2
I'm wondering how helpful it could be to have a `flake.nix` in this repo defining a `devShell` with requirements for hacking mgmt?

[2022-11-01 21:47] urandom2 commented on #610
nixpkgs does not need a new release, I just prefer to package against releases, since the version strings look better and it guarantees that we are not going to ship wip features. that said, I have done this in nixos/nixpkgs#198963 because 0.0.21 is so far out of date that i could not trivially get it to build. end of the day, you should release on the cadence you are comfortable with, but yeah a

[2022-11-02 01:25] purpleidea commented on #610
Propose anything that you think makes sense. If I don't think it's a good for mgmt I won't merge it.

Unfortunately we do a good deal of code generation, and I realize this makes a few things harder. Maybe we'll switch away from this in the future. But `go generate` as a paradigm which is allowed breaks this anyways since it isn't run on go install.

I have no idea what this is, but patches welcom

[2022-11-02 01:26] purpleidea commented on #610
Send patches for this if you want.

Also -i stuff I think it's deprecated now.

HTH

[2022-11-02 01:36] urandom2 commented on #610
yep, and no shame about code generation; the standard library does plenty and they use go generate too; the difference with mgmt is you `.gitignore` the generated code and thus break `go install`. the "fix" I am proposing is to generate code just like you are today, but remove the `.gitignore` lines and check those files in. (this could cause drift between the generation logic and generated code c

[2022-11-02 01:41] purpleidea commented on #610
I understood, and while it is a good idea, I still don't love the idea of committing generated code when there isn't a major win. `go install` working is a non-goal for me.